<div id="preloader">
    <div class="preloader_icon" style="background-image: url(/preload.gif);"></div>
    <div class="preloader_percent">
        <div class="preloader_line">
            <div id="preloader_line" style="" class="preloader_line-current"></div>
        </div>
        <div id="preloader_text" class="preloader_text">0%</div>
    </div>
</div>
<input id="slide-page" type="hidden" value="bp">
<div id="scheme-mobile" class="mobile-scheme">
    <div class="close-scheme">
        
    </div>
</div>
<div class="proxy_block-wrap bp_block-wrap">
    <div class="proxy_block-1_wrap bp-page">
        <video class="proxy_video" autoplay="autoplay" class="video" muted loop data-autoplay>
            <source src="static/img/general/bp.mp4" type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2">
        </video>
        <div class="scroll-btn">
            <span>scroll down</span>
            <span class="btn_border-angle top-left"></span>
            <span class="btn_border-angle top-right"></span>
            <span class="btn_border-angle bottom-right"></span>
            <span class="btn_border-angle bottom-left"></span>
            <div class="scroll-btn_arrow-wrap">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18.5 40.2" style="enable-background:new 0 0 18.5 40.2;" xml:space="preserve">
                    <polygon class="scroll-btn_arrow" points="0,27 0,28.8 9.2,40.2 18.5,28.8 18.5,27.1 9.2,38.4  " />
                    <polygon class="scroll-btn_arrow" points="0,20.3 0,22 9.2,33.4 18.5,22 18.5,20.3 9.2,31.7    " />
                    <polygon class="scroll-btn_arrow" points="0,13.5 0,15.3 9.2,26.7 18.5,15.3 18.5,13.6 9.2,24.9    " />
                    <polygon class="scroll-btn_arrow" points="0,6.8 0,8.5 9.2,19.9 18.5,8.5 18.5,6.8 9.2,18.2    " />
                    <polygon class="scroll-btn_arrow" points="9.2,13.2 18.5,1.8 18.5,0.1 9.2,11.4 0,0 0,1.8  " />
                </svg>
            </div>
        </div>
    </div>
    <div class="proxy_block-2_wrap bp-page">
        <div class="proxy_block-2_content bp-page">
            <div id="why" class="proxy_block-2_container bp-page">
                <div id="why-block" class="bp_block-text_wrap">
                    <div class="bp_block-2_left">
                        <div class="proxy_title">
                            <h2 class="proxy_title-text bp_title-1">Why 0xBP?</h2>
                        </div>

                        <div class="proxy_double-text bp_text-1">
                            <div class="proxy_line-wrap">
                                <div class="proxy_line-text">Our case for presenting 0xGames as a BP candidate is simple: we are </div>
                            </div>
                            <div class="proxy_line-wrap">
                                <div class="proxy_line-text">building games on EOS software. We believe in the EOS protocol and </div>
                            </div>
                            <div class="proxy_line-wrap">
                                <div class="proxy_line-text">share values and beliefs with its community. We have sheer expertise</div>
                            </div>
                            <div class="proxy_line-wrap">
                                <div class="proxy_line-text">in developing and scaling dApps and working with communities. As a</div>
                            </div>
                            <div class="proxy_line-wrap">
                                <div class="proxy_line-text">BP our goal is to deploy all this knowledge and skils to benefit the</div>
                            </div>
                            <div class="proxy_line-wrap">
                                <div class="proxy_line-text">ecosystem that powers our games.</div>
                            </div>
                        </div>
                             
                        <div class="proxy_double-text bp_text-2">
                            <div class="proxy_line-wrap">
                                <div class="proxy_line-text">We are committed to use all the BP rewards accruing to us for </div>
                            </div>
                            <div class="proxy_line-wrap">
                                <div class="proxy_line-text">developing and marketing more dApps, thereby further enriching </div>
                            </div>
                            <div class="proxy_line-wrap">
                                <div class="proxy_line-text">the surrounding ecosystem. Transparent and community-driven, </div>
                            </div>
                            <div class="proxy_line-wrap">
                                <div class="proxy_line-text">this process will be completely aligned with the values that have </div>
                            </div>
                            <div class="proxy_line-wrap">
                                <div class="proxy_line-text">been, are, and forever will be powering our work, our team and </div>
                            </div>
                            <div class="proxy_line-wrap">
                                <div class="proxy_line-text">our ideals.</div>
                            </div>
                        </div>
                    </div>
                    <div class="bp_block-2_right" id="ship-scene">
                        <img class="layer" src="static/img/general/bp-right.png" alt="" data-depth="0.8">
                    </div>
                    <div id="block-9_waves-wrap" class="block-9_waves-wrap"></div>
                </div>
                <div id="transparency" class="bp_block-transp_wrap">
                    <div class="proxy_title">
                        <h2 class="proxy_title-text bp_title-2">Transparency</h2>
                    </div>
                    <div class="bp_planet-wrap">
                        <a href="bp.json" target="_blank" class="bp_planet">
                            <div class="bp_planet-link-wrap">
                                <span class="bp_planet-link_text">BP json</span>
                                {{Icon iconName='link_arrow' className='bp_planet-link_arrow'}}
                                <span class="bp_planet-link"></span>
                                <span class="bp_planet-link_colored"></span>
                            </div>
                            <div class="bp_planet-img_wrap">
                                <div class="bp_planet-half_wrap">
                                    <img class="bp_planet-half bp_planet-left" src="static/img/general/planet-1_left.png" alt="">
                                    <img class="bp_planet-half bp_planet-right" src="static/img/general/planet-1_right.png" alt="">
                                </div>
                            </div>
                        </a>
                        <a href="agreement.html" class="bp_planet">
                            <div class="bp_planet-link-wrap">
                                <span class="bp_planet-link_text">Regproducer Agreement</span>
                                {{Icon iconName='link_arrow' className='bp_planet-link_arrow'}}
                                <span class="bp_planet-link"></span>
                                <span class="bp_planet-link_colored"></span>
                            </div>
                            <div class="bp_planet-img_wrap">
                                <img class="bp_planet-half bp_planet-left" src="static/img/general/planet-3_left.png" alt="">
                                <img class="bp_planet-half bp_planet-right" src="static/img/general/planet-3_right.png" alt="">
                            </div>
                        </a>
                        <a href="ship.html" class="bp_planet">
                            <div class="bp_planet-link-wrap">
                                <span class="bp_planet-link_text">Ownership Structure</span>
                                {{Icon iconName='link_arrow' className='bp_planet-link_arrow'}}
                                <span class="bp_planet-link"></span>
                                <span class="bp_planet-link_colored"></span>
                            </div>
                            <div class="bp_planet-img_wrap">
                                <div class="bp_planet-half_wrap">
                                    <img class="bp_planet-half bp_planet-left" src="static/img/general/planet-4_left.png" alt="">
                                    <img class="bp_planet-half bp_planet-right" src="static/img/general/planet-4_right.png" alt="">
                                </div>
                            </div>
                        </a>
                        <a href="conduct.html" class="bp_planet">
                            <div class="bp_planet-link-wrap">
                                <span class="bp_planet-link_text">Code of Conduct</span>
                                {{Icon iconName='link_arrow' className='bp_planet-link_arrow'}}
                                <span class="bp_planet-link"></span>
                                <span class="bp_planet-link_colored"></span>
                            </div>
                            <div class="bp_planet-img_wrap">
                                <img class="bp_planet-half bp_planet-left" src="static/img/general/planet-2_left.png" alt="">
                                <img class="bp_planet-half bp_planet-right" src="static/img/general/planet-2_right.png" alt="">
                            </div>
                        </a>
                    </div>
                </div>
                <div id="technology" class="bp_block-tech_wrap">
                    <h2 class="scheme-title">Technology</h2>
                    <div class="preview-scheme">
                        <img src="static/img/general/preview-scheme.jpg" alt="scheme">
                        <a class="btn-more open-scheme" href="scheme.html">
                                <span class="btn_border-text">see structure</span>
                                <span class="btn_border-angle top-left"></span>
                                <span class="btn_border-angle top-right"></span>
                                <span class="btn_border-angle bottom-right"></span>
                                <span class="btn_border-angle bottom-left"></span>
                            </a>
                    </div>
                    <div id="scheme-desctop" class="container scheme-container">
                        <div class="scneme-nav">
                            <span  class="scheme-nav_item" data-scheme="firewall">Firewall</span>
                            <span  class="scheme-nav_item" data-scheme="network">Network</span>
                            <span  class="scheme-nav_item" data-scheme="nginx">LB (nginx)</span>
                            <span  class="scheme-nav_item" data-scheme="consul">SD consul</span>
                            <span  class="scheme-nav_item" data-scheme="seed">Seed</span>
                            <span  class="scheme-nav_item" data-scheme="api">API</span>
                            <span  class="scheme-nav_item" data-scheme="eos-api">EOS API</span>
                            <span  class="scheme-nav_item" data-scheme="voting">EOS Proxy</span>
                            <span  class="scheme-nav_item" data-scheme="vpn">VPN</span>
                            <span  class="scheme-nav_item" data-scheme="seed-plus-api">Seed + API</span>
                            <span  class="scheme-nav_item" data-scheme="bp">Block Producer</span>
                            <span  class="scheme-nav_item" data-scheme="isp">ISP</span>
                            <span  class="scheme-nav_item" data-scheme="node1">NODE 1</span>
                            <span  class="scheme-nav_item" data-scheme="node2">NODE 2</span>
                        </div>
                        <div class="scheme-br-wrapper" id="scheme-nav">
                        <div class="scheme-wrapper">
           

                                <div class="top-horizontal-line">
                                        <div class="scheme-block-step network-step hover-zone-scheme" data-scheme="network">
                                            
                                                <img src="static/img/general/Network.png" alt="network">
                                                <div class="beacon-wrapper big" data-scheme="network">
                                                        <span class="signal beacon--epicentre"></span>
                                                        <span class="signal signal--wave"></span>
                                                        <span class="signal signal--wave signal--delay"></span>
                                                      </div>
                                                <div  class="scheme-step" >Network</div>
                                            </div>
                                      
                                      
                        
                                    {{Icon iconName='line_horizont' className='line-horzontal top-horizontal-line-left'}}
                                    <div class="scheme-block-step firewall-step hover-zone-scheme" data-scheme="firewall">
                                        
                                            <img src="static/img/general/FIREWALL3.png" alt="firewall">
                                            <div class="beacon-wrapper big active" data-scheme="firewall">
                                                    <span class="signal beacon--epicentre"></span>
                                                    <span class="signal signal--wave"></span>
                                                    <span class="signal signal--wave signal--delay"></span>
                                                  </div>
                                    <div  class="scheme-step scheme-step-firewall">Firewall</div>
                                        </div>
                                  
                                    {{Icon iconName='line_horizont' className='line-horzontal top-horizontal-line-middle'}}
                                    <div class="scheme-block-step voting-step hover-zone-scheme" data-scheme="voting">
                                          
                        
                                                    <img src="static/img/general/eos-voting.png" alt="voting">
                                                    <div class="beacon-wrapper big" data-scheme="voting">
                                                            <span class="signal beacon--epicentre"></span>
                                                            <span class="signal signal--wave"></span>
                                                            <span class="signal signal--wave signal--delay"></span>
                                                          </div>
                        
                                      
                                        <div  class="scheme-step scheme-step-voting">EOS Voting Proxy</div>
                                    </div>
                                    {{Icon iconName='line_horizont' className='line-horzontal top-horizontal-line-right'}}
                                    <div class="scheme-block-step network-step hover-zone-scheme" data-scheme="network">
                                        
                                        <img src="static/img/general/Network.png" alt="voting">
                                        <div class="beacon-wrapper big" data-scheme="network">
                                                <span class="signal beacon--epicentre"></span>
                                                <span class="signal signal--wave"></span>
                                                <span class="signal signal--wave signal--delay"></span>
                                              </div>
                                        <div  class="scheme-step scheme-step-voting">Network</div>
                                    </div>
                                </div>
                                <div class="left-nginx-line hover-zone-scheme"  data-scheme="nginx">
                                        {{Icon iconName='line_vertical' className='line-vertical line-vertical-nginx-top'}}
                                        <div class="nginx-step scheme-block-step scheme-block-step-horizontal">
                                                <div class="beacon-wrapper big" data-scheme="nginx">
                                                        <span class="signal beacon--epicentre"></span>
                                                        <span class="signal signal--wave"></span>
                                                        <span class="signal signal--wave signal--delay"></span>
                                                      </div>
                                            <img src="static/img/general/lb.png" alt="lb">
                                            <div  class="scheme-step scheme-step-nginx">LB (nginx)</div>
                                        </div>
                                        {{Icon iconName='line_vertical' className='line-vertical line-vertical-nginx-bottom'}}
                                </div>
                                <div class="middle-nginx-line">
                                        {{Icon iconName='line_horizont' className='line-horzontal middle-nginx-line-left'}}
                                        <img src="static/img/general/logo_eos_x.png" alt="logo-eos">
                                </div>
                                <div class="seed-line">
                                    {{Icon iconName='line_vertical' className='line-vertical line-vertical-seed-1'}}
                                    {{Icon iconName='arrow_up' className='arrow-up-scheme'}}
                                    <div class="circle-wrapper-scheme hover-zone-scheme"  data-scheme="isp">
                                        {{Icon iconName='circle_blue' className='circle-blue'}}
                                        <div class="beacon-wrapper big isp-1-1" data-scheme="isp">
                                                <span class="signal beacon--epicentre"></span>
                                                <span class="signal signal--wave"></span>
                                                <span class="signal signal--wave signal--delay"></span>
                                              </div>
                                        <div class="circle-scheme-text">ISP1</div>
                                    </div>
                                    {{Icon iconName='arrow_down' className='arrow-down-scheme'}}
                                    {{Icon iconName='line_vertical' className='line-vertical line-vertical-seed-2'}}
                                    <div class="beacon-wrapper big" data-scheme="seed" data-scheme-triple="seed-plus-api">
                                            <span class="signal beacon--epicentre"></span>
                                            <span class="signal signal--wave"></span>
                                            <span class="signal signal--wave signal--delay"></span>
                                          </div>
                                          <div  class="hover-zone-scheme center-class" data-scheme="seed">
                                        <img src="static/img/general/seed.png" alt="seed" class="image-seed">
                                        <div class="scheme-step scheme-step-seed">Seed</div>
                                    </div>
                        
                                   
                        
                                </div>
                                <div class="isp-top-line">
                                       
                                        <img src="static/img/general/logo_eos_x.png" alt="logo-eos">
                                        {{Icon iconName='line_horizont' className='line-horzontal isp-top-line-1'}}
                                </div>
                                <div class="isp-right-line">
                                        {{Icon iconName='line_vertical' className='line-vertical line-vertical-isp-right-1'}}
                                        {{Icon iconName='arrow_up' className='arrow-up-scheme'}}
                                
                                    <div class="circle-wrapper-scheme hover-zone-scheme" data-scheme="isp">
                                            <div class="beacon-wrapper big isp-1-1 big isp-1-4" data-scheme="isp">
                                                    <span class="signal beacon--epicentre"></span>
                                                    <span class="signal signal--wave"></span>
                                                    <span class="signal signal--wave signal--delay"></span>
                                                  </div>
                                            {{Icon iconName='circle_blue' className='circle-blue'}}
                                        <div class="circle-scheme-text">ISP1</div>
                                    </div>
                                    
                                    {{Icon iconName='arrow_down' className='arrow-down-scheme'}}
                                    {{Icon iconName='line_vertical' className='line-vertical  line-vertical-isp-right-2'}}
                                    {{Icon iconName='arrow_up' className='arrow-up-scheme'}}
                                
                                    <div class="circle-wrapper-scheme hover-zone-scheme" data-scheme="isp">
                                            <div class="beacon-wrapper big isp-1-1 big isp-2-2  " data-scheme="isp">
                                                    <span class="signal beacon--epicentre"></span>
                                                    <span class="signal signal--wave"></span>
                                                    <span class="signal signal--wave signal--delay"></span>
                                                  </div>
                                            {{Icon iconName='circle_green' className='circle-green'}}
                                        <div class="circle-scheme-text">ISP2</div>
                                        {{Icon iconName='arrow_left' className='arrow-left-scheme'}}
                                    </div>
                                    
                                   
                                </div>
                                <div class="isp-left-line">
                                        {{Icon iconName='line_vertical' className='line-vertical line-vertical-isp-left-1'}}
                                        {{Icon iconName='arrow_up' className='arrow-up-scheme'}}
                                
                                    <div class="circle-wrapper-scheme hover-zone-scheme" data-scheme="isp">
                                            <div class="beacon-wrapper big isp-1-1 big isp-1-2" data-scheme="isp">
                                                    <span class="signal beacon--epicentre"></span>
                                                    <span class="signal signal--wave"></span>
                                                    <span class="signal signal--wave signal--delay"></span>
                                                  </div>
                                            {{Icon iconName='circle_blue' className='circle-blue'}}
                                        <div class="circle-scheme-text">ISP1</div>
                                    </div>
                                    
                                    {{Icon iconName='arrow_down' className='arrow-down-scheme'}}
                                    {{Icon iconName='line_vertical' className='line-vertical  line-vertical-isp-right-2'}}
                                    {{Icon iconName='arrow_up' className='arrow-up-scheme'}}
                                
                                    <div class="circle-wrapper-scheme hover-zone-scheme" data-scheme="isp">
                                            <div class="beacon-wrapper big isp-1-1 big isp-2-1" data-scheme="isp">
                                                    <span class="signal beacon--epicentre"></span>
                                                    <span class="signal signal--wave"></span>
                                                    <span class="signal signal--wave signal--delay"></span>
                                                  </div>
                                            {{Icon iconName='circle_green' className='circle-green'}}
                                        <div class="circle-scheme-text">ISP2</div>
                                        {{Icon iconName='arrow_left' className='arrow-right-scheme'}}
                                    </div>
                                    
                                   
                                </div>
                                <div class="bp-line">
                                        <div class="scheme-block-step bp-step bp1-step  hover-zone-scheme" data-scheme="bp">
                                                <div class="beacon-wrapper big" data-scheme="bp">
                                                        <span class="signal beacon--epicentre"></span>
                                                        <span class="signal signal--wave"></span>
                                                        <span class="signal signal--wave signal--delay"></span>
                                                      </div>
                        
                                                <img src="static/img/general/bp2.png" alt="bp">
                                                <div class="scheme-step">Block Producer</div>
                        
                                            </div>
                                        {{Icon iconName='line_horizont' className='line-horzontal bp-line-1'}}
                                        
                                </div>
                                <div class="api-line">
                                    {{Icon iconName='line_vertical' className='line-vertical line-vertical-api'}}
                                  
                                    <div class="center-class hover-zone-scheme" data-scheme="api">
                                        <img src="static/img/general/api.png" alt="seed" class="image-api">
                                        <div class="beacon-wrapper big" data-scheme="api" data-scheme-triple="seed-plus-api">
                                                <span class="signal beacon--epicentre"></span>
                                                <span class="signal signal--wave"></span>
                                                <span class="signal signal--wave signal--delay"></span>
                                              </div>
                                        <div class="scheme-step scheme-step-api">API</div>
                                    </div>
                        
                                   
                        
                                </div>
                                <div class="api-isp-connect-line">
                                        {{Icon iconName='line_horizont' className='line-horzontal api-isp-connect-line-1'}}
                                      
                                
                                        <div class="circle-wrapper-scheme hover-zone-scheme" data-scheme="isp">
                                                <div class="beacon-wrapper big isp-1-1 big isp-1-3" data-scheme="isp">
                                                        <span class="signal beacon--epicentre"></span>
                                                        <span class="signal signal--wave"></span>
                                                        <span class="signal signal--wave signal--delay"></span>
                                                      </div>
                                                {{Icon iconName='arrow_down' className='arrow-down-scheme'}}
                                                {{Icon iconName='circle_blue' className='circle-blue'}}
                                            <div class="circle-scheme-text">ISP1</div>
                                            {{Icon iconName='arrow_left' className='arrow-left-scheme'}}
                                        </div>
                                </div>
                                <div class="bp1-line">
                                  
                                    {{Icon iconName='line_vertical' className='line-vertical  bp1-line-1'}}   
                                    <div class="bp1-step hover-zone-scheme" data-scheme="bp">
                                            <img src="static/img/general/bp1.png" alt="bp">
                                            <div class="scheme-step">Block Producer</div>
                                            <div class="beacon-wrapper big" data-scheme="bp">
                                                    <span class="signal beacon--epicentre"></span>
                                                    <span class="signal signal--wave"></span>
                                                    <span class="signal signal--wave signal--delay"></span>
                                                  </div>
                                        </div>
                                </div>
                                <div class="bg-square bg-square-bp">
                                    <div class="bg-square-title">EOS bp</div>
                                    
                                </div>
                                <div class="bg-square bg-square-seed-api">
                                        <img src="static/img/general/aws.png" alt="aws" class="aws aws-top">
                                        <img src="static/img/general/aws.png" alt="aws" class="aws aws-bottom">
                                        <div class="bg-square-title">EOS API</div>
                                </div>
                                <div class="seed-api-line">
                                        {{Icon iconName='line_horizont' className='line-horzontal seed-api-line-1'}}
                                        <div class="scheme-block-step bp-step hover-zone-scheme" data-scheme="seed-plus-api">
                                                <div class="beacon-wrapper big" data-scheme="seed-plus-api" data-scheme-triple="seed-plus-api">
                                                        <span class="signal beacon--epicentre"></span>
                                                        <span class="signal signal--wave"></span>
                                                        <span class="signal signal--wave signal--delay"></span>
                                                      </div>
                                                <img src="static/img/general/Seed_API.png" alt="bp">
                                                <div id="scheme-nav" class="scheme-step">Seed + API</div>
                                            </div>
                                       
                                </div>
                                {{Icon iconName='line_horizont' className='line-horizontal line-horizontal-connect-nginx-sd'}}
                                <div class="left-sd-line">
                                        {{Icon iconName='line_vertical' className='line-vertical line-vertical-sd'}}
                                       <div class="blue-scheme-square left-sd-line-suqare"></div>
                                       <div class="sd-block  hover-zone-scheme" data-scheme="consul">
                                            <div class="beacon-wrapper big" data-scheme="consul">
                                                    <span class="signal beacon--epicentre"></span>
                                                    <span class="signal signal--wave"></span>
                                                    <span class="signal signal--wave signal--delay"></span>
                                                  </div>
                                            SD<br>
                                            <span>consul</span>
                                       </div>
                                </div>
                                {{Icon iconName='line_horizont' className='line-horizontal sd-middle-line'}}
                                <div class="sd-middle-connect-line">
                                        <div class="blue-scheme-square"></div>
                                        {{Icon iconName='line_vertical' className='line-vertical  sd-middle-connect-line-1'}}
                                        <div class="blue-scheme-square"></div>
                                </div>
                              
                                {{Icon iconName='line_horizont' className='line-horizontal line-horizontal-seed-api'}}
                                <div class="coonecting-square coonecting-square-top">
                                    <div class="coonecting-square-include">
                                        <div class="noda-wrapper hover-zone-scheme"  data-scheme="node1">
                                            {{Icon iconName='noda' className='noda-image'}}
                                            <span class="noda-text">Node 1</span>
                                        </div>
                                        <div class="vpn-wrapper  hover-zone-scheme" data-scheme="vpn">VPN
                                                <div class="beacon-wrapper big" data-scheme="vpn">
                                                        <span class="signal beacon--epicentre"></span>
                                                        <span class="signal signal--wave"></span>
                                                        <span class="signal signal--wave signal--delay"></span>
                                                      </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="coonecting-square coonecting-square-bottom">
                                    <div class="coonecting-square-include">
                                            <div class="noda-wrapper hover-zone-scheme"  data-scheme="node2">
                                                    {{Icon iconName='noda' className='noda-image'}}
                                                    <span class="noda-text">Node 2</span>
                                                </div>
                                                <div class="vpn-wrapper  hover-zone-scheme" data-scheme="vpn">VPN
                                                        <div class="beacon-wrapper big" data-scheme="vpn">
                                                        <span class="signal beacon--epicentre"></span>
                                                        <span class="signal signal--wave"></span>
                                                        <span class="signal signal--wave signal--delay"></span>
                                                      </div>
                                                </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div class="scheme-about-nav">
                                <span class="scheme-about-nav_item active" data-scheme-about="0">
                                        {{Icon iconName='security' className='scheme-about-nav_item-icon'}}
                                        <span>Security</span>
                                </span>
                                <span class="scheme-about-nav_item" data-scheme-about="1">
                                        {{Icon iconName='architecture' className='scheme-about-nav_item-icon'}}
                                        <span>Architecture</span>
                                        
                                </span>
                                <span class="scheme-about-nav_item" data-scheme-about="2">
                                    {{Icon iconName='hardware' className='scheme-about-nav_item-icon'}}
                                    <span>Hardware</span>
                            </span>
                            </div>
                            <div class="slider-scheme-about">
                                <div class="single-scheme-about">
                                    <div class="single-scheme-about-text">
                                        <div class="single-scheme-about-text-column">
                                            <p>We will use multisignature schemes for all the BP operations involving holding of actual coins (e.g. in the form of BP rewards). The signing schedule will rotate every day, there will be a delay of 12 hours for every approved claim reward operation, while the treasury function will be segregated from the claim reward function. The out-of-band signing functionality will be employed to reduce the risks associated with exposing BP’s active key. The owner key will at all times be cold-stored and will only be used in force majeure situations.</p>
                                            <p>A private VPN backup network will be deployed to ensure resilience of the BP infrastructure to large DDOS attacks. To ensure that DDoS attacks have minimal, if any, effect on the stability of BP performance, AWS Shield is utilized, which does not limit network access of affected servers leading to a much quicker service recovery.
                                                <a href="#scheme-nav" class="eye-structure scheme-element-nav low-link" data-scheme="vpn,eos-api">
                                                    <span>View structure</span>
                                                        {{Icon iconName='eye' className=''}}
                                                </a>
                                            </p>
                                        </div>
                                        <div class="single-scheme-about-text-column">
                                            <p>Following the industry security standards and recommendations, Host security is ensured employing, among others, the following methods: </p>
                                            <ul>
                                                <li>Custom security rules are designed for AWS.</li>
                                                <li>P2P/RPC ports are random and irrelevant service ports are closed.</li>
                                                <li>The SSH port is also customized and configured to allow strictly private key<br> authentication and access is restricted to a limited number of IPs of the core team.</li>
                                            </ul>
                                            <p>There actual architecture of servers that we run is designed to ensure: (a) resilience and (b) scalability. 
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-scheme-about">
                                    <div class="single-scheme-about-text">
                                        <div class="single-scheme-about-text-column">
                                            <p>The servers are located in EU. The SEED, the API (combined referred to as EOS API) and the BP (EOS BP) are the three instances of the first node. The BP listens to the network via the EOS API. On the second node the EOS API instances are deployed on a single machine while the BP is likewise separate and has no direct exposure to the broader net.
                                                    <a href="#scheme-nav" class="eye-structure scheme-element-nav low-link" data-scheme="node1,node2,eos-api,voting">
                                                            <span>View structure</span>
                                                                {{Icon iconName='eye' className=''}}
                                                        </a>
                                            </p>
                                            <p>Both EOS APIs are protected by a firewall and are deployed using different ISPs (Internet Service Providers). Most of our processes and procedures are designed to avoid the concentration of any form of technological risk: physically, the actual servers are deployed in different data centers.
                                                    <a href="#scheme-nav" class="eye-structure scheme-element-nav low-link" data-scheme="isp,firewall">
                                                            <span>View structure</span>
                                                                {{Icon iconName='eye' className=''}}
                                                        </a>
                                            </p>
                                        </div>
                                        <div class="single-scheme-about-text-column">
                                                <p>AWS Route 53 Service Discovery (SD) module is set up to provide high frequency feeds of the current status of node instances directly to the Load Balancer (LB). If an instance fails, the consistent performance of the BP entity will continue, as the switchover to the reserve machine is ensured to be instantaneous by employing Amazon automated DNS record management.
                                                        <a href="#scheme-nav" class="eye-structure scheme-element-nav low-link" data-scheme="nginx,consul">
                                                                <span>View structure</span>
                                                                    {{Icon iconName='eye' className=''}}
                                                            </a>
                                                    </p>
                                       
                                        </div>
                                    </div>
                                </div>
                                <div class="single-scheme-about">
                                    <div class="single-scheme-about-text">
                                        <div class="single-scheme-about-text-column alone-column">
                                            <p>CPU: Xeon E3-1240 V6 / 1 CPU @ 3.7 GHz with 8MB cache Level 3 <br>
                                                    Storage: Two 500GB SSD<br>
                                                    RAM: 64GB DDR4 ecc<br>
                                                    
                                            </p>
                                            <p>The aforementioned hardware is “hot swap”- deployed on the two machines to ensure the consistent performance of the BP.
                        
                                                    <a href="#scheme-nav" class="eye-structure scheme-element-nav low-link" data-scheme="node1,node2">
                                                            <span>View structure</span>
                                                                {{Icon iconName='eye' className=''}}
                                                        </a>
                                            </p>
                                        </div>
                                    
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="bp_block-roadmap_wrap" id="roadmap">
                    <h2 class="proxy_title-text animate">Scalability Roadmap</h2>
                    <div class="bp_block-roadmap_text">
                        <div class="bp_block-roadmap_column-left">
                            <p>{{Icon iconName='speed' className='bp_block-icon'}}
                            A cluster of inactive full nodes is set up to ensure high availability and quick access to the EOS blockchain.</p>
                            <p>{{Icon iconName='lock' className='bp_block-icon'}}
                            An IPFS-node infrastructure will be developed in order to accommodate the forward looking, in terms of scalability, EOS Storage plan.</p>
                        </div>
                        <div class="bp_block-roadmap_column-right">
                            <p class="bp_block-roadmap_text-bg">Regardless of the block production rewards a fixed amount of funds will be dedicated to hard drive and RAM expansions during the first year of operations.</p>
                        </div>
                        <p>Finally, as it is company policy, we will search for novel ways to improve, develop, and deploy solutions that are aimed to further our overall initiative of constant scalability.</p>
                    </div>
                </div>
                <div class="bp_footer-wrap">
                    {{> footer/footer}}
                </div>
            </div>
        </div>
    </div>
</div>