.bp_main-btn {
    position: relative;

    display: block;

    transition: .5s ease;
    text-transform: uppercase;

    opacity: 0;

    &.animate,
    &:hover .bp_main-btn_bg {
        animation-name: none;

        opacity: 1;
    }

    @media (max-width: 1279px) {
        max-width: 390px;
        margin-top: 60px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 170px;
    }

    @media (max-width: 1023px) {
        opacity: 1;
    }

    @media (max-width: 620px) {
        padding-left: 100px;
    }
}


.bp_main-btn_bg {
    position: absolute;
    top: 50%;
    right: 0;

    width: 500px;
    height: 280px;

    transition: .5s ease;
    transform: translateY(-50%);
    animation: bpLight 2s infinite;

    background-image: url(../img/general/bp_btn-bg.png);
    background-size: cover;

    @media (max-width: 1279px) {
        right: 20px;
    }

    @media (max-width: 620px) {
        right: auto;
        left: -180px;
    }
}

.bp_main-btn_text {
    font-size: 18px;
    line-height: 28px;

    margin-bottom: 10px;

    letter-spacing: 6px;

    color: #65fffd;
}

@keyframes bpLight {
    0% {
        opacity: .3;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: .3;
    }
}


.bp_text-1 {
    margin-top: 60px;

    .proxy_line-wrap {
        height: 32px;
    }

    .proxy_line-text {
        font-size: 18px;
        line-height: 32px;

        @media (max-width: 620px) {
            font-size: 15px;
            line-height: 23px;
        }
    }
}

.bp_text-2 {
    margin-top: 30px;

    .proxy_line-wrap {
        height: 32px;
    }

    .proxy_line-text {
        font-size: 18px;
        line-height: 32px;

        @media (max-width: 620px) {
            font-size: 15px;
            line-height: 23px;
        }
    }
}

.bp_text-3 {
    margin-top: 30px;

    text-align: left;

    .proxy_line-wrap {
        height: 32px;
    }

    .proxy_line-text {
        font-size: 23px;
        line-height: 32px;

        @media (max-width: 620px) {
            font-size: 15px;
            line-height: 23px;
        }
    }
}

.bp_text-4 {
    margin-top: 30px;

    .proxy_line-wrap {
        height: 46px;
    }

    .proxy_line-text {
        font-size: 32px;
        line-height: 46px;

        @media (max-width: 620px) {
            font-size: 15px;
            line-height: 23px;
        }
    }
}

.bp_block-2_left {
    position: relative;
    z-index: 1;

    width: 600px;

    @media (max-width: 1023px) {
        width: 100%;
    }
}

.bp_block-2_right {
    align-self: stretch;
    position: relative;
    z-index: 1;

    width: calc(100% - 600px);

    transition: .5s ease;
    text-transform: uppercase;

    opacity: 0;

    &.animate {
        opacity: 1;
    }
    @media (max-width: 1023px) {
        width: 100%;
        opacity: 1; 
    }


    & img {
        position: absolute;
        top: 50%;
        right: 15%;

        width: 100%;
        max-width: 443px;

        transform: translateY(-50%);
        margin-left: auto;
        margin-right: auto;
        @media (max-width: 1439px) {
            right: 0;
        }
        @media (max-width: 1279px) {
            right: -80px;
            width: calc(100% + 80px);
        }
        @media (max-width: 1023px) {
            position: static;
            transform: translateY(0);
            width: 100%;
            max-width: 360px;
            display: block;
            margin-top: 40px;
        }
    }
}

.bp_planet-wrap {
    position: relative;

    height: 370px;
    margin-top: 140px;

    transition: .5s ease;

    opacity: 0;

    @media (max-width: 1023px) {
        display: flex;
        flex-direction: column;

        height: auto;
        padding-right: 90px;

        opacity: 1;

        justify-content: flex-start;
        align-items: center;
    }

    &.animate {
        opacity: 1;
    }
}


.bp_block-text_wrap {
    display: flex;

    width: 100%;
    padding-top: 220px;
    padding-right: 9.5%;
    padding-bottom: 250px;
    padding-left: 9.5%;

    background-image: url(../img/general/bp-why-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    justify-content: space-between;
    align-items: center;

    @media (max-width: 1279px) {
        flex-wrap: wrap;
    }

    @media (max-width: 1023px) {
        padding-right: 40px;
        padding-left: 40px;
        padding-bottom: 180px;
    }

    @media (max-width: 620px) {
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 120px;
    }
}

.bp_block-transp_wrap {
    position: relative;

    width: 100%;
    padding-top: 20px;
    padding-right: 9.5%;
    padding-bottom: 260px;
    padding-left: 9.5%;

    background-image: url(../img/general/bg_1920_planet.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;


    @media (max-width: 1023px) {
        padding-right: 40px;
        padding-left: 40px;
        padding-bottom: 180px;

        &:after {
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            content: '';

            background-color: rgba(0, 0, 0, .8);
        }
    }

    @media (max-width: 620px) {
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 80px;
    }

    & .proxy_title-text {
        text-align: center;
    }
}

.bp_planet {
    position: absolute;
    z-index: 10;

    display: block;

    width: 180px;
    height: 180px;

    @media (max-width: 1023px) {
        position: relative;

        &+.bp_planet {
            margin-top: 150px;
        }
    }

    @media (max-width: 620px) {
        &+.bp_planet {
            margin-top: 150px;
        }
    }

    &:nth-child(1) {
        z-index: 10;
        top: 0;
        left: 0;

        width: 130px;
        height: 130px;

        & .bp_planet-right {
            right: -1px;
        }

        & .bp_planet-left {
            left: 1px;
        }

        & .bp_planet-link-wrap {
            &:after {
                background-image: linear-gradient(top, rgba(86, 177, 58, 1), rgba(86, 177, 58, 0));
            }

            & .bp_planet-link_colored {
                background-image: linear-gradient(right, rgba(86, 177, 58, .4), rgba(86, 177, 58, 0));
            }
        }
    }

    &:nth-child(2) {
        z-index: 20;
        top: 180px;
        left: 22%;

        width: 180px;
        height: 180px;

        @media (max-width: 1023px) {
            top: 0;
            left: 0;

            width: 130px;
            height: 130px;
        }

        & .bp_planet-right {
            right: -3px;
        }

        & .bp_planet-link-wrap {
            &:after {
                background-image: linear-gradient(top, rgba(254, 227, 160, 1), rgba(254, 227, 160, 0));
            }

            & .bp_planet-link_colored {
                background-image: linear-gradient(right, rgba(254, 227, 160, .4), rgba(254, 227, 160, 0));
            }
        }
    }

    &:nth-child(3) {
        z-index: 30;
        top: 10px;
        left: 65%;

        width: 160px;
        height: 160px;

        @media (max-width: 1023px) {
            top: 0;
            left: 0;

            width: 130px;
            height: 130px;
        }

        & .bp_planet-half_wrap {
            width: 160px;
            height: 160px;

            border-radius: 80px;

            @media (max-width: 1023px) {
                width: 130px;
                height: 130px;

                border-radius: 65px;
            }
        }

        & .bp_planet-right {
            right: -1px;
        }

        & .bp_planet-left {
            left: 1px;
        }

        & .bp_planet-link-wrap {
            &:after {
                background-image: linear-gradient(top, rgba(313, 79, 130, 1), rgba(313, 79, 130, 0));
            }

            & .bp_planet-link_colored {
                background-image: linear-gradient(right, rgba(313, 79, 130, .4), rgba(313, 79, 130, 0));
            }
        }
    }

    &:nth-child(4) {
        z-index: 40;
        top: 180px;
        right: 5%;

        width: 190px;
        height: 190px;

        @media (max-width: 1023px) {
            top: 0;
            left: 0;

            width: 130px;
            height: 130px;
        }

        & .bp_planet-right {
            right: 1px;
        }
    }


    &.active {
        &:nth-child(1) {
            & .bp_planet-link-wrap {
                border-right: 6px solid rgba(86, 177, 58, 1);

                &+.bp_planet-img_wrap {
                    & .bp_planet-half_wrap {
                        width: 230px;
                    }
                }
            }
        }

        &:nth-child(2) {
            & .bp_planet-link-wrap {
                border-right: 6px solid rgba(254, 227, 160, 1);

                &+.bp_planet-img_wrap {
                    & .bp_planet-right {
                        transform: translateX(50px);

                        @media (max-width: 1023px) {
                            transform: translateX(80px);
                        }
                    }

                    & .bp_planet-left {
                        transform: translateX(-50px);

                        @media (max-width: 1023px) {
                            transform: translateX(0);
                        }
                    }
                }
            }
        }

        &:nth-child(3) {
            & .bp_planet-link-wrap {
                border-right: 6px solid rgba(313, 79, 130, 1);

                &+.bp_planet-img_wrap {
                    & .bp_planet-half_wrap {
                        width: 260px;

                        @media (max-width: 1023px) {
                            width: 220px;
                        }
                    }
                }
            }
        }

        &:nth-child(4) {
            & .bp_planet-link-wrap {
                &+.bp_planet-img_wrap {
                    & .bp_planet-right {
                        transform: translateX(60px);

                        @media (max-width: 1023px) {
                            transform: translateX(90px);
                        }
                    }

                    & .bp_planet-left {
                        transform: translateX(-60px);

                        @media (max-width: 1023px) {
                            transform: translateX(0);
                        }
                    }
                }
            }
        }

        & .bp_planet-link-wrap {
            border-right: 6px solid rgba(37, 197, 255, 1);

            &:after {
                filter: grayscale(0);
            }

            .bp_planet-link {
                opacity: 0;
            }

            .bp_planet-link_colored {
                width: 100%;

                opacity: 1;
            }

            &+.bp_planet-img_wrap {
                filter: grayscale(0);

                & .bp_planet-left {
                    &.hover {
                        transition: transform .6s ease-in, opacity 0s ease-in .3s;

                        opacity: 1;
                    }
                }
            }
        }
    }
}

.bp_planet-img_wrap {
    position: absolute;
    top: 0;
    left: 50%;

    width: 100%;
    height: 100%;

    transition: .6s ease-in;
    transform: translateX(-50%);
    transform-origin: center;

    border-radius: 65px;

    filter: grayscale(1);
}

.bp_planet-half_wrap {
    position: relative;
    position: absolute;
    top: 0;
    left: 50%;

    overflow: hidden;

    width: 130px;
    height: 130px;

    transition: .6s ease-in;
    transform: translateX(-50%) translateZ(0);

    border-radius: 65px;

    will-change: width;

    @media (max-width: 1023px) {
        left: 0;

        transform: translateX(0) translateZ(0);
    }
}

.bp_planet-half {
    position: absolute;
    top: 0;

    height: 100%;

    transition: transform .6s ease-in, opacity .3s ease-in .2s;

    will-change: transform;
}

.bp_planet-left {
    z-index: 0;
    left: 0;

    width: auto;

    &.hover {
        opacity: 0;
    }
}

.bp_planet-right {
    z-index: 10;
    right: 2px;

    width: auto;
}

.bp_planet-link-wrap {
    position: absolute;
    z-index: 10;
    top: -90px;
    left: 50%;

    display: flex;

    width: 200px;
    height: 50px;
    padding: 0 20px;

    transition: .4s ease-in-out;

    border-right: 6px solid #a5a5a5;

    justify-content: space-between;
    align-items: center;

    @media (max-width: 1023px) {
        left: 30%;
    }

    @media (max-width: 620px) {
        left: 0;
    }

    &:after {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;

        width: 1px;
        height: 90px;

        content: '';
        transition: .4s ease-in-out;

        background-image: linear-gradient(top, rgba(37, 197, 255, 1), rgba(37, 197, 255, 0));

        filter: grayscale(1);
    }
}

.bp_planet-link_text {
    font-size: 18px;
    line-height: 22px;

    position: relative;
    z-index: 1;

    color: #fff;
}

.bp_planet-link_arrow {
    position: relative;
    z-index: 1;

    display: block;

    margin-left: 20px;

    fill: #fff;
}

.bp_planet-link,
.bp_planet-link_colored {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;

    width: 100%;
    height: 100%;

    transition: opacity .4s ease-in-out, width .4s ease-in-out;
    transform-origin: right top;
}

.bp_planet-link {
    background-image: linear-gradient(right, rgba(255, 255, 255, .12), rgba(255, 255, 255, 0));
}

.bp_planet-link_colored {
    width: 20%;

    opacity: 0;
    background-image: linear-gradient(right, rgba(37, 197, 255, .4), rgba(37, 197, 255, 0));
}

.bp_block-roadmap_wrap {
    position: relative;

    width: 100%;
    padding-top: 120px;
    padding-bottom: 430px;
    padding-right: 9.5%;
    padding-left: 9.5%;

    background-image: url(../img/general/bg_roadmap.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;

    @media (max-width: 1023px) {
        padding-top: 80px;
        padding-right: 40px;
        padding-left: 40px;
        background-position: bottom right -80px;
        background-size:  auto 90%;
        padding-bottom: 660px;
    }

    @media (max-width: 620px) {
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 1060px;
        background-position: bottom;
    }

}

.bp_block-roadmap_text {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 720px;
    color: #fff;
    margin-top: 60px;
    @media (max-width: 1023px) {
        max-width: 100%;
    }
    @media (max-width: 929px) {
        flex-direction: column;
        margin-top: 65px;
    }
    &>p {
        margin-top: 30px;
        padding-top: 20px;
        width: 100%;
        font-size: 24px;
        line-height: 34px;
        border-top: 2px solid #fff;
        @media (max-width: 1023px) {
            font-size: 18px;
            line-height: 25px;
            width: calc(50%  - 20px);
            margin-left: 20px;
        }
        @media (max-width: 929px) {
            width: 50%;
            margin-left: 0;
            margin-top: 20px;
            min-width: 440px;
        }
        @media (max-width: 479px) {
            width: 100%;
            min-width: 100%;
        }

        @media (max-width: 620px) {
            font-size: 15px;
            line-height: 23px;
            margin-top: 30px;
        }
    }
}

.bp_block-roadmap_column-left {
    width: 100%;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    @media (max-width: 929px) {
        flex-direction: column;
        width: 50%;
        min-width: 440px;
    }
    @media (max-width: 620px) {
        font-size: 15px;
        line-height: 23px;
    }
    @media (max-width: 479px) {
        width: 100%;
        min-width: 100%;
    }
    & p + p {
        margin-left: 40px;
        @media (max-width: 1023px) {
            margin-left: 120px;
        }
        @media (max-width: 929px) {
            margin-left: 0;
            margin-top: 30px;
        }
    }
    & p {
        position: relative;
        padding-left: 60px;
    }
}

.bp_block-icon {
    position: absolute;
    left: 0;
    top: 5px;
}

.bp_block-roadmap_column-right {
    width: 100%;
    margin-top: 30px;
    @media (max-width: 1023px) {
        width: 50%;
        padding-right: 20px;
    }
    @media (max-width: 929px) {
        padding-right: 0;
        min-width: 440px;
    }
    @media (max-width: 479px) {
        width: 100%;
        min-width: 100%;
    }
}

.bp_block-roadmap_text-bg {
    width: 100%;
    font-size: 24px;
    line-height: 34px;
    color: #82dff9;
    padding-left: 40px;
    position: relative;
    margin-bottom: 45px;
        &:before {
            position: absolute;
            top: -15px;
            left: 0;

            width: 50px;
            height: 140px;

            content: '';

            background-image: url(../img/general/eosio-bd.svg);
            background-repeat: no-repeat;
            background-size: contain;
            @media (max-width: 620px) {
               height: 130px;
            }
        }
    @media (max-width: 1023px) {
        font-size: 18px;
        line-height: 25px;
        padding-top: 15px;
        margin-top: 9px;
    }
}


.bp_footer-wrap {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.bp_block-tech_wrap {
    width: 100%;
}

.mobile-scheme {
    padding: 60px;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    width: 1024px;
    height: 100vh;
    background-color: #000;
    &.active {
         display: block;
         & .scheme-br-wrapper {
            display: block;
        }
    }
}

.close-scheme {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    z-index: 550;

  &:after,
  &:before {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 70px;
    height: 2px;

    content: '';
    transform: translate(-50%, -50%) rotate(45deg);

    border-radius: 1px;
    background-color: #fff;
  }

  &:before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}