.about-page {
    background: url(../img/general/bg_team.jpg) no-repeat bottom center #000;
    .footer-index {
        background: rgba(0,0,0, 0.6);
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}

.about-content-wrapper {
    background: url(../img/general/about-bg.jpg) no-repeat top center ;
    padding-top: 210px;
    @media screen and (max-width: 980px) {
        padding-top: 160px;
    }
    h2 {
        font-size: 45px;
        font-weight: 300;
        color: #ffffff;
        text-align: center;
        &.left-h2 {
            text-align: left;
        }
        @media screen and (max-width: 760px) {
            font-size: 35px;
        }
    }
    h3 {
        font-size: 25px;
        font-weight: 700;
        color: #ffffff;
        margin-bottom: 20px;
        &.upper-margin {
            margin-top: 30px;
        }
        @media screen and (max-width: 760px) {
            font-size: 18px;
            margin-bottom: 12px;
        }
    }
    p {
        font-size: 18px;
        color: #ffffff; 
        line-height: 28px;
        margin-bottom: 20px;
        @media screen and (max-width: 760px) {
            font-size: 15px;
            line-height: 23px;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &.small-p {
            font-size: 14px;
        }
        &.big-p {
            font-size: 24px;
            line-height: 34px;
            @media screen and (max-width: 760px) {
                font-size: 18px;
                line-height: 28px;
            }
        }

        &.center-p {
            text-align: center;
        }
        &.padding-left-p {
            padding-left: 46px;
            font-size: 17px;
            @media screen and (max-width: 825px) {
                padding-left: 0;
            }
        }
    }
    .container {
        width: 1440px !important;
        @media screen and (max-width: 1460px) {
            width: 100% !important;
        }
    }
}

.columns-text-about {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 42px;
    @media screen and (max-width: 825px) {
        display: block;
    }
    @media screen and (max-width: 760px) {
        margin-top: 30px;
    }
    .single-column-text-about  {
        width: 50%;
        @media screen and (max-width: 825px) {
            width: 100%;
        }
        &:nth-child(1) {
            @media screen and (max-width: 825px) {
                margin-bottom: 30px;
            }
          
        }
        &:nth-child(2) {
           
        }
        h2 {
            margin-bottom: 30px;
        }
    }
}

.small-p_wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    & .small-p {
        width: 50%;
            @media screen and (max-width: 620px) {
                width: 100%;
            }
        &:nth-child(2) {
            font-size: 12px;
            padding-right: 15px;
            @media screen and (max-width: 620px) {
                padding: 0;
            }
        }
        &:nth-child(3) {
            padding-left: 15px;
            @media screen and (max-width: 620px) {
                padding: 0;
            }
        }
        &:nth-child(4) {
            padding-left: 15px;
            margin-left: auto;
            color: #65fffd;
            text-shadow: 0 0 7px rgba(150, 202, 255, 0.5);
            @media screen and (max-width: 620px) {
                padding: 0;
            }
        }
    }
}

.columns-text-about-zerox {
    .single-column-text-about  {
        &:nth-child(1) {
            @media screen and (max-width: 1120px) {
                padding-right: 0;
            }
        }
        &:nth-child(2) {
            
            @media screen and (max-width: 1120px) {
                padding-left: 0 !important;
            }
        }
    }
    @media screen and (max-width: 825px) {
        .single-column-text-about {
            &:nth-child(1) {
                p, span {
                    padding-right: 50%;
                }
            }
        }
     
       
    }
}

.lighting-text {
    display: block;
    font-size: 24px;
    line-height: 34px;    
    text-shadow: 0 0 8px #93b5d2;
    color: #ffffff;
    @media screen and (max-width: 760px) {
        font-size: 18px !important;
        line-height: 28px;
    }
}

.about-eosio-block {
    padding-top: 200px;
    @media screen and (max-width: 760px) {
        padding-top: 65px;
    }
}

.justify-p {
    text-align: justify;
}

.games__column-wrap {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
        @media (max-width: 749px) {
            flex-direction: column;
        } 
}

.games__column {
    width: 370px;
    & + .games__column {
        margin-left: 90px;
        @media (max-width: 1023px) {
            margin-left: 40px;
        } 
        @media (max-width: 749px) {
            margin-left: 0;
            margin-top: 30px;
        } 
    }
    & h3 {
        font-size: 25px;
        line-height: 25px;
        color: #5ee7e8;
    }
    & p {
        font-size: 16px;
        line-height: 25px;
        color: #fff;
    }
    @media (max-width: 749px) {
        width: 100%;
    } 
}

.games__text {
    margin-top: 50px;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    max-width: 910px;
    margin-left: auto;
    margin-right: auto;
    color: #5ee7e8;
        @media (max-width: 620px) {
            font-size: 18px;
            line-height: 25px;
        } 
}


.eosio__row_wrap {
    margin-top: 220px;
        @media (max-width: 749px) {
            margin-top: 80px;
        } 
}

.eosio__row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    &.separator-block {
        margin-top: 40px;
        margin-bottom: 40px;
        @media (max-width: 1259px) {
            & .eosio__col:first-child {
                display: none;
            }
        }
        @media (max-width: 749px) {
            margin-top: 80px;
        } 

    }
    &:nth-child(1) {
        @media (max-width: 1259px) {
            flex-direction: column;
            .eosio__col + .eosio__col {
                margin-top: 60px;
                padding-left: 0;
                width: 100%;
            }
            & br {
                display: none;
            }
        }    
    }
    &:nth-child(3) {
        @media (max-width: 749px) {
            .eosio__col + .eosio__col {
                margin-top: 40px;
                padding-left: 0;
            }
        }    
    }
}

.eosio__col {
    width: 50%;
    &.d-flex {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        @media (max-width: 749px) {
            flex-direction: column;
        } 
    }
    &.title-col {
        & h2 {
            text-align: left;
        }
        & p {
            margin-top: 20px;
            font-size: 24px;
            line-height: 31px;
            max-width: 520px;
            @media (max-width: 1023px) {
                max-width: 690px;
            }
        }
    }
    & + .eosio__col {
        padding-left: 40px;
        &.separator-text {
            @media (max-width: 1259px) {
                padding-left: 0;
            }
        }
    }
    @media (max-width: 1023px) {
        width: 100%;
    }
}

.eosio__col-separator {
    margin-top: 25px;
    width: 100%;
    height: 1px;
    background-color: #82dff9;
}

.separator-text p {
    font-size: 21px;
    line-height: 28px;
    color: #82dff9;
}



.eosio__small-text p {
    font-size: 16px;
    line-height: 24px;
}

.eosio__col-column {

}

.eosio__col-item_border {
    font-size: 14px;
    line-height: 24px;

    position: relative;

    padding-left: 48px;

    color: #fff;
    padding-top: 15px;

    &:before {
        position: absolute;
        top: -15px;
        left: 0;

        width: 50px;
        height: 160px;

        content: '';

        background-image: url(../img/general/eosio-bd.svg);
        background-repeat: no-repeat;
        background-size: contain;
        @media (max-width: 1259px) {
            height: 100px;
        } 
        @media (max-width: 1191px) {
            height: 120px;
        }
        @media (max-width: 905px) {
            height: 140px;
        }
    }

    &:nth-child(1) {
        width: 285px;
        @media (max-width: 1259px) {
            width: 100%;
        } 
    }

    &:nth-child(2) {
        width: 230px;
        margin-right: auto;
        margin-left: 80px;
        @media (max-width: 1259px) {
            width: 100%;
        } 
        @media (max-width: 749px) {
            margin-left: 0;
            margin-top: 40px;
        } 
    }
    @media (max-width: 1259px) {
        padding-top: 20px;
        padding-left: 30px;
    } 
}

.eos-center-block {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 30px;
    @media (max-width: 749px) {
        flex-direction: column;
    } 
}

.eos-center-block-main-logo {
    position: absolute;
    left: -90px;
    top: -60px;
    fill: #5ee7e8;
    opacity: 0.2;
    width: 180px;
    height: 270px;
    @media (max-width: 469px) {
        width: 50px;
        height: 80px;
    }
}

.eos-center-block-left {
    position: relative;
    width: 450px;
    margin-left: 15px;
    & p {
        font-size: 18px;
        line-height: 28px;
        font-weight: 700;
        margin-top: 40px;
        text-align: right;
        @media (max-width: 749px) {
            margin-top: 20px;
        } 
    }
    @media (max-width: 749px) {
        width: 100%;
        margin-left: 0;
    } 
}

.eos-text-italic {
    width: 100%;
    font-style: italic;
    text-align: justify;
    font-size: 16px;
    line-height: 24px;
    color: #5ee7e8;

}

.eos-center-block-right {
    width: 480px;
    margin-left: 60px;
    p:first-child {
        font-size: 16px;
        line-height: 21px;
    }
    p:last-child {
        font-size: 18px;
        line-height: 28px;
        padding-right: 15px;
    }
    @media (max-width: 749px) {
        width: 100%;
        margin-top: 40px;
        margin-left: 0;
    } 
}


.about-zerox-eosio-block {
    padding-top: 90px;
    position: relative;
    z-index: 2;
    @media screen and (max-width: 760px) { 
      padding-top: 65px;
    }
}

.subtitle-zerox {
    margin-top: 30px;
}

.numeric-line {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 28px;
    @media screen and (max-width: 1120px) { 
        display: block;
    }
}

.numeric-block {
    position: relative;
    font-size: 14px;
    color: #ffffff;
    line-height: 24px;
    width: 50%;
    padding-left: 45px;
    @media screen and (max-width: 1120px) { 
        width: 100%;
        margin-bottom: 25px;
        br {
            display: none;
        }
    }
    &:nth-child(1) {
       
    margin-right: 14px;
    @media screen and (max-width: 1120px) { 
        margin-right: 0;
     }
    }
    &:nth-child(2) {
        margin-left: 14px;
        &:before {
            content: '2';
        }
        @media screen and (max-width: 1120px) { 
            margin-left: 0;
         }
    }
    &:last-child {
     
        @media screen and (max-width: 1120px) { 
          margin-bottom: 0;
         }
    }
    &:before {
        content: '1';
        position: absolute;
        left: 0;
        width: 34px;
        height: 34px;
        text-align: center;
        font-size: 18px;
        padding-top: 4px;
        box-sizing: border-box;
        background-image: url(../img/general/bord.svg);
        background-size: cover;
    }
}

.zerox-lighting-text {
    font-size: 32px;
    display: block;
    padding-left: 46px;
    @media screen and (max-width: 825px) { 
        padding-left: 0;
    }
}

.single-column-text-about.single-column-text-about-zerox {
    padding-top: 270px;
    position: relative;
    @media screen and (max-width: 1120px) { 
        padding-top: 310px;
    }
    @media (max-width: 825px) {
        padding-top: 0;
    }
}

.zerox-fly-tablet {
    display: none;
    @media (max-width: 1140px) {
        display: block;
        position: absolute;
        left: 72px;
        top: 0;
    }
    @media (max-width: 825px) {
        display: block;
        position: absolute;
        right: 0;
        left: unset;
        top: -182px;
        width: 273px;
    }
    @media (max-width: 760px) {

        top: -141px;
        width: 213px;
    }
    @media (max-width: 497px) {

        top: -153px;
        width: 163px;
    }
    @media (max-width: 375px) {

        top: -181px;
        width: 163px;
    }
    @media (max-width: 340px) {

        width: 123px;
    }
}

.zerox-fly {
    position: absolute;
    right: 180px;
    top: -50px;
    @media (max-width: 1140px) {
        display: none;
    }
}

.big-zerox-fly {
    position: relative;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    height: 940px;
    & img {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transition: .4s ease-in;
        @media (max-width: 1023px) {
            max-width: 150%;
        } 
    }
    @media (max-width: 1389px) {
        top: -80px;
    } 
    @media (max-width: 1023px) {
       top: 0;
       margin-bottom: 60px;
       height: 590px;
    } 
    @media (max-width: 969px) {
       height: 520px;
    } 
    @media (max-width: 899px) {
       height: 480px;
    } 
    @media (max-width: 830px) {
       height: 450px;
    }
    @media (max-width: 639px) {
       height: 390px;
    }
    @media (max-width: 519px) {
       height: 340px;
    }
    @media (max-width: 449px) {
       height: 250px;
    }
    @media (max-width: 375px) {
       height: 190px;
    }
}

.big-zerox-fly-light {
        opacity: 0;
    @media (max-width: 1040px) {
        opacity: 1;
    }
    @media (max-width: 1023px) {
        max-width: 150%;
    } 
    &.animate {
        opacity: 1;
    }
}

.about-zerox-values-block-wrapper {
    width: 100%;
    position: relative;
    margin-top: -150px;
    & h2 {
        color: #82dff9;
    }
    & p {
        text-align: center;
        font-size: 18px;
        line-height: 28px;
        margin-top: 35px;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
        @media (max-width: 620px) {
            font-size: 15px;
            line-height: 23px;
        }
    }
    & span {
        color: #82dff9;
    }
    @media (max-width: 1389px) {
        margin-top:  -80px;
    }
    @media (max-width: 1023px) {
        margin-top: 130px;
    }
    @media (max-width: 880px) {
        padding-left: 15px;
        padding-right: 15px;
    }
    &:after {
        content: '';
        position: absolute;
        top: -90px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;   
        max-width: 1420px;
        min-width: 960px;
        height: 67px;
        background-image: url('../img/general/pl_values_1920.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        @media (max-width: 620px) {
            top: -70px;
        }
    }
    &:before {
        content: '';
        position: absolute;
        bottom: -90px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;   
        max-width: 1305px;
        min-width: 960px;
        height: 30px;
        background-image: url('../img/general/pl_values2_1920.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        @media (max-width: 620px) {
            bottom: -50px;
        }
    }
}

.about-content-wrapper .single-column-text-about:nth-child(1) {
    padding-right: 60px;
    @media (max-width: 825px) {
        padding-right: 0;
    }
}

.orange-color {
    color: #fca653;
}

.about-zerox-team-block-wrapper {
    padding-top: 140px;
    padding-bottom: 89px;
    @media (max-width: 1120px) {
        padding-top: 100px;
    }
}

.about-zerox-team-block-wrapper {
    .single-column-text-about:nth-child(1) {
        padding-right: 60px;
    }
    .columns-text-about {
        @media (max-width: 1120px) {
            display: block;
            .single-column-text-about {
                width: 100%;
                &:nth-child(1) {
                    padding-right: 0;
                    margin-bottom: 30px;
                }
                &:nth-child(2) {
                    padding-left: 0 !important;
                    
                }
            }
        }
    }
}

.about-team-block {
    .team_block-name, .team_block-job, .team_block-text {
        color: #ffffff;
    }
    .team_block-contact {
        background: none;
        @media (max-width: 959px) {
            width: auto;
            height: 260px;
            margin: 0;
        }
        @media (max-width: 875px) {
            height: 240px;
        }
        @media (max-width: 659px) {
            height: auto;
        }
    }
    .team_block-contact-title, .team_block-contact-desc {
        display: none;
    }
    .team_block-contact .footer-contact-link {
        background: rgba(255, 255, 255, 0.15);
        color: #c8c5ca;
        width: 194px;
        height: 76px;
        line-height: 20px;
        padding-top: 17px;
        margin-left: 230px;
        @media (max-width: 1199px) {
            margin: 0 auto;
        }
        @media (max-width: 959px) {
            margin: 0 auto;
          
        }
    }
    .footer-contact-link span:first-of-type {
        padding-left: 0;
    }
    .team_block-contact {
        justify-content: flex-start;
    }
}

.start-wrapper {
    position: relative;

}


// STARS


@function multiple-box-shadow ($n) {
    $value: '#{random(2000)}px #{random(2000)}px #FFF';
    @for $i from 2 through $n {
        $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
    }
    @return unquote($value);
}
 



$shadows-small:  multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big:    multiple-box-shadow(100);


    
#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
    animation			: animStar 150s linear infinite;

 
    
  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}
    
#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation			: animStar 100s linear infinite;
    
  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}
   
    
#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
    animation: animStar 50s linear infinite;
    &:after    { 
        content: " ";
        position: absolute;
        top: 2000px;
        width: 3px;
        height: 3px;
        background: transparent;
        box-shadow: $shadows-big;
    }
}



    
@keyframes animStar {
    from {
        transform: translateY(0px)
    }	
    
    to {
        transform: translateY(-2000px)
    }		

    
}


.stars-container {
    opacity: 0;
    transition: 1s ease;
    @media (max-width: 1040px) {
        opacity: 1;
    }
    &.animate {
        opacity: 1;
    }
}