<div id="preloader">
    <div class="preloader_icon" style="background-image: url(/preload.gif);"></div>
    <div class="preloader_percent">
        <div class="preloader_line">
            <div id="preloader_line" style="" class="preloader_line-current"></div>
        </div>
        <div id="preloader_text" class="preloader_text">0%</div>
    </div>
</div>

<div class="about-content-wrapper" id="about">
   <div class="container">
      <h2>0xGames Vision</h2>
      <div class="games__column-wrap">
         <div class="games__column">
            <h3>Digital Currencies</h3>
            <p>Just recently the space of virtual currencies was comparable in its emptiness to the vast nothingness of space.</p>
            <p>Only a decade later, it is among the most expanding markets showing massive long-term growth rates and market capitalization.</p>
         </div>
         <div class="games__column">
            <h3>Video Games</h3>
            <p>Video games and the gaming space in general is expanding at a likewise astonishing pace, <b>growing over 96% since 2012 generating revenue of over $138 billion in 2017 alone.</b></p>
            <p>Currently, there are over 2.3 billion gamers worldwide and since the early 1980s this number keeps on exhibiting exponential Year-over-Year growth dynamics.</p>
         </div>
         <div class="games__column">
            <h3>The synthesis</h3>
            <p>The intersection between these two emerging and yet at first sight weakly connected worlds is where we stand. We postulate as our vision that the bond between video gaming and DLTs is much more than a technical gimmick.</p>
            <p>The outcry of the coming boom, when these two worlds unite, is echoing louder day by day.</p>
         </div>
      </div>
      <div class="games__text">We have been preparing to ride this wave at least since the inception of 0xGames, but up until recently there has been no technological infrastructure sufficiently potent to disrupt video gaming.</div>
   </div>
   <div class="start-wrapper" id="eosio">
      <div id="stars" class="stars-container"></div>
      <div id="stars2" class="stars-container"></div>
      <div id="stars3" class="stars-container"></div>
      <div class="container">
         <div class="about-eosio-block">
            <h2>EOS</h2>
            <div class="eos-center-block">
               <div class="eos-center-block-left">
                  {{Icon iconName='eos-logo' className='eos-center-block-main-logo'}}
                  <div class="eos-text-italic">“...is a blockchain architecture that <b>may ultimately scale to millions of transactions per second,</b> eliminates user fees, and allows for quick and easy deployment and maintenance of decentralized applications, in the context of a governed blockchain.”</div>
                  <p>EOS.IO Technical White Paper v2</p>
               </div>
               <div class="eos-center-block-right">
                  <p>Our faith in EOS as a protocol revolves around its governance layer design, scalability, proven technological and business track record of its founders as well as its vivid and thriving community.</p>
                  <p>We believe that EOS has both, sufficient fundamentals to become the new paradigm for bringing dApps into everyday life, and strong potential for sustainable future protocol evolution.</p>
               </div>
            </div>
         </div>
         <div class="eosio__row_wrap" id="xeosio">
            <div class="eosio__row">
               <div class="eosio__col title-col">
                  <h2>0xGAMES + EOS</h2>
                  <p>We at 0xGames strongly believe that two preconditions must be met in order for DLT to prosper and thrive.</p>
               </div>
               <div class="eosio__col d-flex">
                  <div class="eosio__col-item_border">The first one is a platform sufficiently scalable and flexible to accommodate the emerging and yet unknown demands of the new era. EOS is such a platform.</div>
                  <div class="eosio__col-item_border">The second is a<br> sufficiently strong channel for mass adoption. Gaming is that propagation<br> channel.</div>
               </div>
            </div>
            <div class="eosio__row separator-block">
               <div class="eosio__col">
                  <div class="eosio__col-separator"></div>
               </div>
               <div class="eosio__col separator-text">
                  <p>The intersection between the two is where the fire of mass adoption ignites. <b>And this, is where we stand!</b></p>
               </div>
            </div>
            <div class="eosio__row">
               <div class="eosio__col d-flex">
                  <div class="eosio__col eosio__small-text">
                     <p>Our case for joining EOS world - we look forward to building our games on EOS and therefore become a part its growing ecosystem.</p>
                     <p>We view it as a natural extension of the ideology, fueling the community powerhouse of EOS.</p>
                  </div>
                  <div class="eosio__col eosio__small-text">
                     <p>The economic surplus generated by the activity within the network has to be channeled inwards - serving as a reward for developing the underlying protocol, that shapes the rules of agent interaction within the network.</p>
                  </div>
               </div>               
            </div>
         </div>
      </div>
      <div class="big-zerox-fly" data-type="parallax-big-ship" data-depth="-0.05">
         <img src="static/img/general/big_ship.png"/> 
         <img src="static/img/general/blue_ship.png" class="big-zerox-fly-light" /> 
      </div>
   </div>
   <div class="about-zerox-values-block-wrapper" id="values">
      <h2>0xValues</h2>
      <p>Fairness to community, open-source code, transparency to each and every stakeholder, dedication to burning as much midnight oil as it takes to improve upon the results of yesterday, and <span>beyond anything, inspiration looming through every detail of all products we create.</span></p>
   </div>
   <div class="about-zerox-team-block-wrapper" id="team">
      <div class="container">
         <div class="columns-text-about">
            <div class="single-column-text-about">
               <h2 class="left-h2">Team behind 0xGames</h2>
               <p class="big-p">Our intention to carry the industry of digital currencies and all the outgrowths thereof one step further into the future lasts already for almost an entire decade.</p>
            </div>
            <div class="single-column-text-about">
               <p>We are a technically inclined team of early adopters of cryptocurrencies and related technologies with combined century of liberty and ideals-powered inspiration, that we have consistently channeled into the FinTech world.</p>
               <p class="small-p"><b>The aforementioned necessitates no further proof, but our track record of creating and deploying successful dApps.</b></p>
            </div>
         </div>
      </div>
   </div>
   <div class="container container-team about-team-block">
      <h2 class="team_title">We create revolutionary blockchain games</h2>
      <div class="team_container team_container-advisors">
         <div class="team_block">
            <div class="team_block-header">
               <div class="team_block-img">
                  <img src="static/img/general/univers.jpg" alt="">
                  <a class="btn-more" target="_blank" href="https://0x.games/">
                     <span class="btn_border-text">read more</span>
                     <span class="btn_border-angle top-left"></span>
                     <span class="btn_border-angle top-right"></span>
                     <span class="btn_border-angle bottom-right"></span>
                     <span class="btn_border-angle bottom-left"></span>
                  </a>
               </div>
               <div class="team_block-info">
                  <div class="team_block-name_wrap">
                     <div class="team_block-name">0xUniverse</div>
                  </div>
               </div>
            </div>
            <div class="team_block-text">0xUniverse is the next generation blockchain game where players can build spaceships, explore the galaxy, and colonize planets. The discoverers will extract resources and carry out research that allows them to conquer the remotest corners of the galaxy. In addition, players can jointly contribute to the story and unravel the mystery of the universe.</div>
         </div>
         <div class="team_block">
            <div class="team_block-header">
               <div class="team_block-img">
                  <img src="static/img/general/battleship.jpg" alt="">
                  <a class="btn-more" target="_blank" href="https://0x.games/">
                     <span class="btn_border-text">read more</span>
                     <span class="btn_border-angle top-left"></span>
                     <span class="btn_border-angle top-right"></span>
                     <span class="btn_border-angle bottom-right"></span>
                     <span class="btn_border-angle bottom-left"></span>
                  </a>
               </div>
               <div class="team_block-info">
                  <div class="team_block-name_wrap">
                     <div class="team_block-name">0xBattleships</div>
                  </div>
               </div>
            </div>
            <div class="team_block-text">A new threat hangs over the galaxy. A mysterious cult of the Void God is growing in numbers, and its disciples seem to be outdoing one another in villainy. The United Earth Government calls upon all skilled pilots and spaceship engineers to protect the peaceful inhabitants of the Galaxy. Players must find the source of this evil and prevent the dangerous cult from spreading…</div>
         </div>
         <div class="team_block">
            <div class="team_block-header">
               <div class="team_block-img">
                  <img src="static/img/general/warriors.jpg" alt="">
                  <a class="btn-more" target="_blank" href="https://0x.games/">
                     <span class="btn_border-text">read more</span>
                     <span class="btn_border-angle top-left"></span>
                     <span class="btn_border-angle top-right"></span>
                     <span class="btn_border-angle bottom-right"></span>
                     <span class="btn_border-angle bottom-left"></span>
                  </a>
               </div>
               <div class="team_block-info">
                  <div class="team_block-name_wrap">
                     <div class="team_block-name">0xWarriors</div>
                  </div>
               </div>
            </div>
            <div class="team_block-text">0xWarriors is a multiplayer RPG that lets players manage squads of up to five warriors and equip them with hundreds of unique weapons and armor. Each warrior can be customized to have an original style and skillset. You can purchase chests containing various gear or win them in battles and tournaments. Level up and gear up to create your own epic team to dominate the combat arena!</div>
         </div>
         <div class="team_block team_block-contact">
            <div class="team_block-contact-title">Want a team?</div>
            <div class="team_block-contact-desc">Contact us to get into the team</div>
            <a href="mailto: contact@zeroxeos.com" class="footer-contact-link">
            Contact us: <span>contact@zeroxeos.com</span>
            <span class="btn_border-angle top-left"></span>
            <span class="btn_border-angle top-right"></span>
            <span class="btn_border-angle bottom-right"></span>
            <span class="btn_border-angle bottom-left"></span>
            </a>
         </div>
      </div>
   </div>
</div>