<!doctype html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page proxyx0-page">
    %=symbols=%
    {{> header-content/header-content}}
    {{> 0xbp-content/0xbp-content}}
    <script>
        var percent = 1;
        var percent_access = true;

        function preloader() {
            if (percent_access == true && percent < 70) {
                document.getElementById('preloader_line').style.width = percent + '%';
                document.getElementById('preloader_text').innerHTML = percent + '%';
                setTimeout(function() {
                    percent++;
                    preloader();
                }, 200);
            }
        }
        preloader();
    </script>
    <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
    <script>
        svg4everybody();
    </script>
    <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
    <script src="parallax.js"></script>

    <script>

        $(function() {
            if ($(window).width() >= 1024) {
                $('#ship-scene').parallax();
            }
        });
        $(window).on("load", function(e) {
            var edit = window.location.hash.split('#')[1];
            if (edit) {
                $('.scroll-btn').click();
                if (edit == 'transparency') {
                    setTimeout(function() {
                        $('html, body').stop().animate({
                            scrollTop: $('#transparency').offset().top - 250
                        }, 400);
                    }, 300);
                    e.preventDefault();
                }
            }
            percent_access = false;
            $('#preloader_line').css('width', '98%');
            $('#preloader_text').text('98%');
            setTimeout(function() {
                $('#preloader_line').css('width', '100%');
                $('#preloader_text').text('100%');
                $('#preloader').fadeOut(300);
            }, 500);
            if ($(window).width() < 941) {
                $('#scheme-mobile').append($('#scheme-desctop').find('.scheme-br-wrapper'));
            }
        });
    </script>
</body>

</html>
