<!doctype html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page proxyx0-page">
    %=symbols=%

    {{> header-content/header-content}}
    {{> 0xproxy-content/0xproxy-content}}
    <script>
    var percent = 1;
    var percent_access = true;

    function preloader() {
        if (percent_access == true && percent < 70) {
            document.getElementById('preloader_line').style.width = percent + '%';
            document.getElementById('preloader_text').innerHTML = percent + '%';
            setTimeout(function() {
                percent++;
                preloader();
            }, 200);
        }
    }
    preloader();

    </script>
    <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
    <script>svg4everybody();</script>
    <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
    <script>
	    $(window).on("load", function() {
            var edit = window.location.hash.split('#')[1];
            if (edit) {
                $('.scroll-btn').click();
            }
	        percent_access = false;
	        $('#preloader_line').css('width', '98%');
	        $('#preloader_text').text('98%');
	        setTimeout(function() {
	            $('#preloader_line').css('width', '100%');
	            $('#preloader_text').text('100%');
	            $('#preloader').fadeOut(300);
	        }, 500);
	    });
    </script>
</body>

</html>
