
<!doctype html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page about-page">
    %=symbols=%

        <div class="text-page">
            <div class="top-side-section">
                {{> header-content/header-content}}
                {{> aboutnew-content/aboutnew-content}}
            </div>
            <div class="bottom-side-section">
                {{> footer/footer}}
            </div>
        </div>

    <script>
        var percent = 1;
        var percent_access = true;

        function preloader() {
            if (percent_access == true && percent < 70) {
                document.getElementById('preloader_line').style.width = percent + '%';
                document.getElementById('preloader_text').innerHTML = percent + '%';
                setTimeout(function() {
                    percent++;
                    preloader();
                }, 200);
            }
        }
        preloader();
    </script>
    <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
        <script>svg4everybody();</script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>

    <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
    <script>
        if ($(window).width() > 1023) {
            $(window).on('scroll', function() {
                if ($('.big-zerox-fly').get(0).getBoundingClientRect().top <= 150 ) {
                    $('.big-zerox-fly-light').addClass('animate');
                } else {
                    $('.big-zerox-fly-light').removeClass('animate'); 
                }
                if ($('.start-wrapper').get(0).getBoundingClientRect().top <= 0 ) {
                    $('.stars-container').addClass('animate');
                } else {
                    $('.stars-container').removeClass('animate');
                }
            });
        }
    </script>
    <script>
        $('.navigation').on('click', function (e) {
            var id = $(this).attr('href').replace('about.html', '');
            console.log(id)
            $('html, body').stop().animate({
                scrollTop: $(id).offset().top - 150
            }, 400);
            $('.header').toggleClass('active')
            $('.burger').toggleClass('active')
            e.preventDefault();
        });
    </script>  

    <script>
        $(window).on("load", function(e) {
            percent_access = false;
            $('#preloader_line').css('width', '98%');
            $('#preloader_text').text('98%');
            setTimeout(function() {
                $('#preloader_line').css('width', '100%');
                $('#preloader_text').text('100%');
                $('#preloader').fadeOut(300);
            }, 500);
        });
    </script>
</body>

</html>
