<!doctype html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

        <div class="text-page">
            <div class="top-side-section">

                {{> header-content/header-content}}
                {{> eosio-content/eosio-content}}
            </div>
            <div class="bottom-side-section">
                {{> footer/footer}}
            </div>
        </div>


        <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
        <script>svg4everybody();</script>
    <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
</body>

</html>
