<!doctype html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="index-page">
    %=symbols=%

    {{> header-content/header-content}}
    {{> index-content/index-content}}

    <script>
    var percent = 1;
    var percent_access = true;

    function preloader() {
        if (percent_access == true && percent < 70) {
            document.getElementById('preloader_line').style.width = percent + '%';
            document.getElementById('preloader_text').innerHTML = percent + '%';
            setTimeout(function() {
                percent++;
                preloader();
            }, 200);
        }
    }
    preloader();

    </script>
    <script src="scatterjs-core.min.js"></script>
    <script src="scatterjs-plugin-eosjs.min.js"></script>
    <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
    <script>svg4everybody();</script>
    <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
    <script src="parallax.js"></script>
    <script src="setProxyAndVoteProducer.js"></script>
    <script>
    $(function() {
        if ($(window).width() >= 1024) {
            $('#scene').parallax();
            $('#ship-scene').parallax();
        }
    });
    $(window).on("load", function() {
        percent_access = false;
        $('#preloader_line').css('width', '98%');
        $('#preloader_text').text('98%');
        setTimeout(function() {
            $('#preloader_line').css('width', '100%');
            $('#preloader_text').text('100%');
            $('#preloader').fadeOut(300);
        }, 500);
    });
    $(window).on('scroll', function() {
        if ($(window).width() >= 1024) {
            $this = $('#bottom-side');
            if ($this.get(0).getBoundingClientRect().top < 400) {
                $this.find('.unactive-block').each(function(i, el) {
                    setTimeout(function() {
                        $(el).addClass("active");
                        if (i == $('.unactive-block').length - 3) {
                            $('.bg-bottom-side').addClass('blur');
                        }
                    }, 0 + (i * 200));
                });
                // } else if ($this.get(0).getBoundingClientRect().top > 1000) {
                //   $($this.find('.unactive-block').get().reverse()).each(function(i, el) {
                //       setTimeout(function() {
                //           $(el).removeClass("active");
                //       }, 0);
                //       $('.bg-bottom-side').removeClass('blur');
                //   });
            }
        }
    });
    $(window).on('scroll', function() {
        $about_ship = $('.block-2_about');
        about_scroll = $about_ship.get(0).getBoundingClientRect().top;
        if ($(window).width() > 959) {
            if (about_scroll <= 470) {
                $('.about_ship-2').addClass('animate');
            } 
            if (about_scroll <= 370) {
                $('.about_ship-3').addClass('animate');

            } 
            if (about_scroll <= 270) {
                $('.about_ship-4').addClass('animate');
            } 
            if (about_scroll > 270) {
                $('.about_ship-4').removeClass('animate');

            } 
            if (about_scroll > 370) {
                $('.about_ship-3').removeClass('animate');
            } 
            if (about_scroll > 470) {
                $('.about_ship-2').removeClass('animate');
            }
        }
        if ($(window).width() >= 1024) {
            parallaxItem();
        }

    });
    $(window).on("load", function() {
        if ($(window).width() >= 1024) {
            parallaxItem();
        }
    });
    </script>
</body>

</html>
