<!doctype html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page scheme-page">
    %=symbols=%

        <div class="text-page">
            <div class="top-side-section">

            
                {{> scheme-content/scheme-content}}
            </div>
            <div class="bottom-side-section">
             
            </div>
        </div>


        <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
        <script>svg4everybody();</script>
    <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
    <script>
        
        $(window).on("load", function(e) {
            if ($(window).width() < 1023) {
                $('meta[name=viewport]').attr('content', 'width=1024');
            }
        });
    </script>
</body>

</html>
