<!doctype html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

        <div class="text-page">
            <div class="top-side-section">

                {{> header-content/header-content}}
                {{> vision-content/vision-content}}
            </div>
            <div class="bottom-side-section">
                {{> footer/footer}}
            </div>
        </div>


        <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
        <script>svg4everybody();</script>
    <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
    <script>
        $('.navigation').on('click', function (e) {
            var id = $(this).attr('href').replace('vision.html', '');
            console.log(id)
            $('html, body').stop().animate({
                scrollTop: $(id).offset().top - 150
            }, 400);
            $('.header').toggleClass('active')
            $('.burger').toggleClass('active')
            e.preventDefault();
        });
    </script>  
</body>

</html>
