.text-page-title-wrapper {
    display: flex;

    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;

    background: url(../img/general/header-bg.jpg) no-repeat center;
    background-size: cover;

    justify-content: center;
    align-items: center;

    .header-icon {
        position: relative;
        top: 5px;
        left: 8px;

        width: 50px;
        height: 65px;

        fill: #fff !important;

        @media screen and (max-width: 760px) {
            top: 2px;
            left: 8px;

            width: 27px;
            height: 22px;
        }
    }

    @media screen and (max-width: 980px) {
        padding-top: 85px;
        padding-bottom: 35px;
    }

    @media screen and (max-width: 760px) {
        padding-top: 40px;
        padding-bottom: 15px;
    }

    h1 {
        font-size: 65px;

        text-align: center;

        color: #fff;

        @media screen and (max-width: 760px) {
            font-size: 25px;
        }
    }
}

.text-page-content {
    padding-top: 90px;
    padding-bottom: 90px;

    @media screen and (max-width: 1200px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media screen and (max-width: 760px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    p {
        font-size: 18px;
        line-height: 28px;

        margin-bottom: 30px;

        @media screen and (max-width: 760px) {
            font-size: 15px;
            line-height: 25px;

            margin-bottom: 25px;
        }

        &:last-child {
            margin-bottom: 0;
        }
        &.string-margin-more {
            line-height: 38px;
        }
    }
    ul {
        list-style: none;
        margin-top: 35px;
    }
    ol {
        margin-top: 35px;
        padding-left: 0;
        counter-reset: item;
    }
    ol > li {
        padding-left: 50px;
      list-style-type: none;
      counter-increment: item;
      position: relative;
    }

    ol > li:before {
      position: absolute;
      top: -1px;
      left: 0;
      font-weight: 700;
      text-align: right;
      content: counter(item) ".";
    }
    li {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 30px;

        @media screen and (max-width: 760px) {
            font-size: 15px;
            line-height: 25px;

            margin-bottom: 25px;
        }

    }
    h3 {
        font-size: 18px;
        font-weight: 600;
        position: relative;
        display: inline-block;
        margin-top: 56px;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -3px;
            width: 100%;
            height: 1px;
            background: #b2b2b2;
        }
    }

    .bold-text {
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: 85px;
        display: block;
    }

    .sub-ol {
        padding-left: 50px;
        margin-bottom: 73px;
        li {
            padding-left: 20px;
            font-size: 14px;
            color: #8b8b8b; 
            margin-bottom: 7px;
        }
        @media screen and (max-width: 800px) {
            padding-left: 0;
        }
    }
}


