.team_title {
    font-size: 45px;
    line-height: 45px;

    margin: 0;

    text-align: center;
    @media (max-width: 659px) {
		font-size: 35px;
		line-height: 35px;
    }
}

.team_container {
    display: flex;

    margin-top: 35px;
    margin-bottom: 125px;
    padding-right: 15px;
    padding-left: 15px;

    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex: 1;
    @media (max-width: 1469px) {
		padding: 0;
		justify-content: space-around;
    }
    @media (max-width: 1199px) {
    	justify-content: flex-start;
		padding: 0;
    }
}

.team_block {
    position: relative;

    display: flex;
    flex-direction: column;

    width: calc(50% - 130px);
    min-height: 200px;
    margin: 35px 65px;

    color: #000;

    justify-content: flex-start;
    align-items: flex-start;
    @media (max-width: 1469px) {
    	max-width: 575px;
		margin-left: 0;
		margin-right: 0;
		width: 50%;
		&:nth-child(even) {
			margin-right: 0;
		}
    }
    @media (max-width: 1199px) {
		width: calc(100% / 3 - 20px);
		margin: 0 30px 35px 0;
		min-height: unset;
		&:nth-child(even) {
			margin-right: 30px;
		}
		&:nth-child(3n+3) {
			margin-right: 0;
		}
    }
    @media (max-width: 959px) {
		width: calc(100% / 2 - 20px);
		margin: 0 30px 35px 0;
		min-height: unset;
		&:nth-child(3n+3) {
			margin-right: 30px;
		}
		&:nth-child(even) {
			margin-right: 0;
		}
    }
    @media (max-width: 659px) {
		width: 100%;
		margin: 0 0 35px 0;
		min-height: unset;
		&:nth-child(3n+3) {
			margin-right: 0;
		}
		&:nth-child(even) {
			margin-right: 0;
		}
    }
}

.team_block-header {
    display: flex;

    width: 100%;

    justify-content: space-between;
    align-items: flex-start;
    @media (max-width: 1199px) {
		justify-content: flex-start;
		align-items: stretch;
    }
}

.team_block-img {
    position: absolute;
    top: 0;
    left: 0;

    width: 200px;
    height: 200px;

    img {
        display: block;

        width: 100%;
        height: 100%;

        object-fit: cover;
        transition: opacity .4s ease;
    }

    & .btn-more {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 16px;
        line-height: 16px;
        padding: 15px 20px;
        white-space: nowrap;
        letter-spacing: 4px;
    }

    &:hover {
        & img {
            opacity: 0.3;
        }
        & .btn-more {
            opacity: 1;
        }
    }

    @media (max-width: 1469px) {
		
    }
    @media (max-width: 1199px) {
		width: 100px;
		height: 100px;
		position: static;
    }
}

.team_block-info {
    font-size: 24px;
    line-height: 24px;

    display: flex;

    width: 100%;
    margin-left: 230px;

    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    @media (max-width: 1469px) {
		
    }
    @media (max-width: 1199px) {
    	padding-bottom: 15px;
		margin-left: 20px;
		flex-direction: column;
		width: calc(100% - 100px);
    }
}

.team_block-name {
    font-weight: 300;
  //   @media (max-width: 659px) {
		// font-size: 14px;
		// line-height: 14px;
  //   }
}

.team_block-job {
    font-weight: 400;

    margin-top: 8px;
    line-height: 28px;
    text-transform: uppercase;
    @media (max-width: 659px) {
		font-size: 15px;
		line-height: 25px;
    }
}

.team_block-social {
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    @media (max-width: 1469px) {
		
    }
    @media (max-width: 1199px) {
		margin-top: 15px;
    }
}

.team_block-social_link {
    display: block;

    text-decoration: none;

    &+.team_block-social_link {
        margin-left: 15px;
    }
    &:hover {
        & .team_block-icon {
            fill: #65fffd;
        }
    }
}

.team_block-icon {
    display: block;
    transition: .4s;
    fill: #8e8f99;
}

.team_block-separator {
    position: absolute;
    bottom: -15px;
    right: 0;
    width: 100%;
	border-bottom: 2px solid #808d96;
    width: 100%;
    @media (max-width: 1199px) {
		bottom: 0;
    }
}

.separator_icon-left {
    position: absolute;
    left: -45px;
    bottom: -1px;
    fill: #808d96;
    fill-rule: evenodd;
}

.separator_icon-right {
    position: absolute;
    right: 0;
    bottom: -1px;
    fill: #808d96;
    fill-rule: evenodd;
}

.team_block-text {
    font-size: 14px;
    line-height: 24px;

    width: 100%;
    margin-top: 30px;
    padding-left: 230px;

    text-align: justify;
    @media (max-width: 1469px) {
		
    }
    @media (max-width: 1199px) {
		padding-left: 0;
		text-align: left;
    }
}

.team_title-subtitle {
    margin-bottom: 50px;
} 

.team_container-advisors {
    .team_block-text {
        margin-top: 10px;
    }
}

.team_block-contact {
    background: url(../img/general/bg_contact.jpg) no-repeat center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @media (max-width: 1199px) {
        margin: auto;
        margin-right: auto !important;
        width: 575px;
        height: 205px;
    }
    @media (max-width: 659px) {
        width: 100%;
        height: auto;
        padding: 33px 0;
        background-position: left center;
    }
    @media (max-width: 520px) {
        width: 290px;
        height: 205px;
        padding: 33px 0;
        background: url(../img/general/bg_banner_320.jpg) no-repeat center;
        background-position: left center;
        margin: unset;
        
    }
    .footer-contact-link {
        margin-bottom: 0;
        margin-left: 206px;
        @media (max-width: 520px) {
            margin-left: 102px;
            padding: 7px 11px;
            width: 178px;
            span {
                &:first-of-type  {
                    padding-left: 0;
                }
            }
        }
    }
}

.team_block-contact-title {
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 16px;
    @media (max-width: 520px) {
        padding-left: 110px !important;
    }
}

.team_block-contact-desc {
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 22px;
    @media (max-width: 520px) {
        padding-left: 110px !important;
        padding-right: 20px;
        margin-bottom: 14px;
    }
}

.team_block-contact-title,
.team_block-contact-desc {
    padding-left: 227px;
}