<div class="text-page-title-wrapper">
    <h1>Our Team</h1>
</div>
<div class="container">
    <div class="text-page-content">
        <p>Our intention to carry the industry of digital currencies and all the outgrowths thereof one step further into the future lasts for almost an entire decade. This makes up a combined century of liberty ideals-powered inspiration that we have consistently channeled into the Fintech world. We are a technically inclined team of early adopters of cryptocurrencies and related technologies. The aforementioned necessitates no further proof, but our track record of creating and deploying successful dApps. Meet our team:</p>
    </div>
</div>
<div class="container container-team">
	<h2 class="team_title">Meet our team</h2>
	<div class="team_container">
	    <div class="team_block">
	        <div class="team_block-header">
	            <div class="team_block-img">
	                <img src="static/img/general/1.jpg" alt="">
				</div>
	            <div class="team_block-info">
	            	<div class="team_block-name_wrap">
		                <div class="team_block-name">Sergey Kopov</div>
		                <div class="team_block-job">PRODUCER</div>
	                </div>
	                <div class="team_block-social">
	                    <a href="https://www.facebook.com/sergey.kopov" class="team_block-social_link" target="_blank">{{Icon iconName='facebook' className='team_block-icon'}}</a>
	                    <a href="https://www.linkedin.com/in/kopov" class="team_block-social_link" target="_blank">{{Icon iconName='linkedin' className='team_block-icon'}}</a>
	                </div>
			        <div class="team_block-separator">
			        	{{Icon iconName='left-shape' className='separator_icon-left'}}
			        	{{Icon iconName='right-shape' className='separator_icon-right'}}
			        </div>
	            </div>
	        </div>
	        <div class="team_block-text">12 years of experience in game development and management. More than fifty projects released. Passionate about games and new technologies.</div>
	    </div>
	    <div class="team_block">
	        <div class="team_block-header">
	            <div class="team_block-img">
	                <img src="static/img/general/2.jpg" alt="">
				</div>
	            <div class="team_block-info">
	            	<div class="team_block-name_wrap">
		                <div class="team_block-name">Mike Zelenin</div>
		                <div class="team_block-job">BLOCKCHAIN LEAD</div>
	                </div>
	                <div class="team_block-social">
	                    <a href="https://www.facebook.com/mikezelenin" class="team_block-social_link" target="_blank">{{Icon iconName='facebook' className='team_block-icon'}}</a>
	                    <a href="https://www.linkedin.com/in/mikhailzelenin" class="team_block-social_link" target="_blank">{{Icon iconName='linkedin' className='team_block-icon'}}</a>
	                </div>
			        <div class="team_block-separator">
			        	{{Icon iconName='left-shape' className='separator_icon-left'}}
			        	{{Icon iconName='right-shape' className='separator_icon-right'}}
			        </div>
	            </div>
	        </div>
	        <div class="team_block-text">More than 10 years in complex software projects development. Created private blockchain for Onlinepay. Developed smart contracts for Naviaddress.</div>
	    </div>
	    <div class="team_block">
	        <div class="team_block-header">
	            <div class="team_block-img">
	                <img src="static/img/general/3.jpg" alt="">
				</div>
	            <div class="team_block-info">
	            	<div class="team_block-name_wrap">
		                <div class="team_block-name">Yuri Saveliev</div>
		                <div class="team_block-job">FRONT-END LEAD</div>
	                </div>
	                <div class="team_block-social">
	                    <a href="https://www.facebook.com/vtornik23" class="team_block-social_link" target="_blank">{{Icon iconName='facebook' className='team_block-icon'}}</a>
	                    <a href="https://www.linkedin.com/in/yuri-saveliev-53ab883a" class="team_block-social_link" target="_blank">{{Icon iconName='linkedin' className='team_block-icon'}}</a>
	                </div>
			        <div class="team_block-separator">
			        	{{Icon iconName='left-shape' className='separator_icon-left'}}
			        	{{Icon iconName='right-shape' className='separator_icon-right'}}
			        </div>
	            </div>
	        </div>
	        <div class="team_block-text">More than 12 years of experience in the development of game projects. Developed fighting simulators and the visual interface of interactive devices. Also develops promotional games in digital interactive sphere. Creates VFX for AAA video games.</div>
	    </div>
	    <div class="team_block">
	        <div class="team_block-header">
	            <div class="team_block-img">
	                <img src="static/img/general/4.jpg" alt="">
				</div>
	            <div class="team_block-info">
	            	<div class="team_block-name_wrap">
		                <div class="team_block-name">Kate Kopova</div>
		                <div class="team_block-job">BACK-END LEAD</div>
	                </div>
	                <div class="team_block-social">
	                    <a href="https://www.linkedin.com/in/ekaterina-kopova" class="team_block-social_link" target="_blank">{{Icon iconName='linkedin' className='team_block-icon'}}</a>
	                </div>
			        <div class="team_block-separator">
			        	{{Icon iconName='left-shape' className='separator_icon-left'}}
			        	{{Icon iconName='right-shape' className='separator_icon-right'}}
			        </div>
	            </div>
	        </div>
	        <div class="team_block-text">Server side java developer with over 10 years of programming background. Experienced in developing complex distributed systems for education, banking, advertising and life science, plus building backend for mobile applications and games.</div>
	    </div>
	    <div class="team_block">
	        <div class="team_block-header">
	            <div class="team_block-img">
	                <img src="static/img/general/5.jpg" alt="">
				</div>
	            <div class="team_block-info">
	            	<div class="team_block-name_wrap">
		                <div class="team_block-name">Den Trufanov</div>
		                <div class="team_block-job">ART LEAD</div>
	                </div>
	                <div class="team_block-social">
	                    <a href="https://www.facebook.com/denis.trufanov.942" class="team_block-social_link" target="_blank">{{Icon iconName='facebook' className='team_block-icon'}}</a>
	                </div>
			        <div class="team_block-separator">
			        	{{Icon iconName='left-shape' className='separator_icon-left'}}
			        	{{Icon iconName='right-shape' className='separator_icon-right'}}
			        </div>
	            </div>
	        </div>
	        <div class="team_block-text">3D graphics specialist with for more than 10 years of experience in game industry. Also worked in advertising and film industry. Participated in game development for mobile platforms. Released more than eleven game projects, including Road Smash.</div>
	    </div>
	    <div class="team_block">
	        <div class="team_block-header">
	            <div class="team_block-img">
	                <img src="static/img/general/6.jpg" alt="">
				</div>
	            <div class="team_block-info">
	            	<div class="team_block-name_wrap">
		                <div class="team_block-name">Dmitry Tikhonov</div>
		                <div class="team_block-job">NARRATIVE LEAD</div>
	                </div>
	            </div>
	        </div>
	        <div class="team_block-text">More than 6 years writing for video games – from little indie shenanigans to spectacular AAA projects. Fantasy, science fiction, horror. Has written for comics, published a novel and a dozen short stories.</div>
	    </div>
	    <div class="team_block">
	        <div class="team_block-header">
	            <div class="team_block-img">
	                <img src="static/img/general/7.jpg" alt="">
				</div>
	            <div class="team_block-info">
	            	<div class="team_block-name_wrap">
		                <div class="team_block-name">Alex Fedorchuk</div>
		                <div class="team_block-job">MARKETING LEAD</div>
	                </div>
	                <div class="team_block-social">
	                    <a href="https://www.facebook.com/1alexfedd" class="team_block-social_link" target="_blank">{{Icon iconName='facebook' className='team_block-icon'}}</a>
	                </div>
			        <div class="team_block-separator">
			        	{{Icon iconName='left-shape' className='separator_icon-left'}}
			        	{{Icon iconName='right-shape' className='separator_icon-right'}}
			        </div>
	            </div>
	        </div>
	        <div class="team_block-text">Communications and public relations specialist. Worked in business development and marketing. Engaged in building international communities. Educational blogger with over 15 years of multiplayer gaming experience.</div>
	    </div>
	    <div class="team_block">
	        <div class="team_block-header">
	            <div class="team_block-img">
	                <img src="static/img/general/8.jpg" alt="">
				</div>
	            <div class="team_block-info">
	            	<div class="team_block-name_wrap">
		                <div class="team_block-name">Vladimir Goncharov</div>
		                <div class="team_block-job">DEVOPS LEAD</div>
	                </div>
	                <div class="team_block-social">
	                    <a href="https://www.facebook.com/morozovsk" class="team_block-social_link" target="_blank">{{Icon iconName='facebook' className='team_block-icon'}}</a>
	                    <a href="https://www.linkedin.com/in/morozovsk/" class="team_block-social_link" target="_blank">{{Icon iconName='linkedin' className='team_block-icon'}}</a>
	                </div>
			        <div class="team_block-separator">
			        	{{Icon iconName='left-shape' className='separator_icon-left'}}
			        	{{Icon iconName='right-shape' className='separator_icon-right'}}
			        </div>
	            </div>
	        </div>
	        <div class="team_block-text">More than 10 years in highload software development and system administration. Worked in financial companies. Participates in open source projects on github. Has technical publications on reddit.</div>
	    </div>
	</div>
	<h2 class="team_title team_title-subtitle">Advisors</h2>
	<div class="team_container team_container-advisors">
		<div class="team_block">
			<div class="team_block-header">
				<div class="team_block-img">
					<img src="static/img/general/9.jpg" alt="">
				</div>
				<div class="team_block-info">
					<div class="team_block-name_wrap">
						<div class="team_block-name">Kirill Petrov</div>
						<div class="team_block-job">BUSINESS EXPERT, CO-FOUNDER
							OF I-FREE GROUP</div>
					</div>

				</div>
			</div>
			<div class="team_block-text">"This is an experienced and hardworking team that knows how to make successful projects"</div>
		</div>
		<div class="team_block">
			<div class="team_block-header">
				<div class="team_block-img">
					<img src="static/img/general/10.jpg" alt="">
				</div>
				<div class="team_block-info">
					<div class="team_block-name_wrap">
						<div class="team_block-name">Dmitry Plushevsky</div>
						<div class="team_block-job">BLOCKCHAIN EXPERT,
							CO-FOUNDER OF GOLDMINT</div>
					</div>

				</div>
			</div>
			<div class="team_block-text">"Blockchain-based games have bright future. This is a spacious and promising market!"</div>
		</div>
		<div class="team_block">
			<div class="team_block-header">
				<div class="team_block-img">
					<img src="static/img/general/11.jpg" alt="">
				</div>
				<div class="team_block-info">
					<div class="team_block-name_wrap">
						<div class="team_block-name">Sergey Panfilov</div>
						<div class="team_block-job">GAME DESIGN EXPERT,
							CO-FOUNDER OF CREATIVE MOBILE</div>
					</div>

				</div>
			</div>
			<div class="team_block-text">"0xGames team has a strong and proven game design expertise"</div>
		</div>
		<div class="team_block team_block-contact">
			<div class="team_block-contact-title">Want a team?</div>
			<div class="team_block-contact-desc">Contact us to get into the team</div>
			<a href="mailto: contact@zeroxeos.com" class="footer-contact-link">
				Contact us: <span>contact@zeroxeos.com</span>
					  <span class="btn_border-angle top-left"></span>
					  <span class="btn_border-angle top-right"></span>
					  <span class="btn_border-angle bottom-right"></span>
					  <span class="btn_border-angle bottom-left"></span>
			</a>
		</div>


	</div>
</div>