// Common styles of the project

html, body {
    min-height: 100%;
    height: auto;
}

.page {
    
}

.page__wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

* html .page__wrapper {
    height: 100%;
}

.page__buffer {
    height: 50px;
}

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.preloader_icon {
  width: 120px;
  height: 160px;
  background-color: #000;
  background-image: url('/preload.gif');
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 25px;
}

.preloader_percent {

}

.preloader_line {
  position: relative;
  display: block;
  width: 200px;
  height: 2px;
  background-color: rgba(255,255,255,0.4);
}

.preloader_line-current {
  transition: .4s;
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  background-color: #fff;
}

.preloader_text {
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #fff;
  margin-top: 15px;
}
