.footer-index  {
    background: url(../img/general/bg_footer.jpg) no-repeat center;
    background-size: cover;
    padding-bottom: 40px;
    position: relative;
    z-index: 20;
}

.footer-line {
    width: 1920px;
    @media screen and (max-width: 1190px) {

        position: relative;
        left: -150px;
    }
}

.footer-bg {
    position: absolute;
    left: 0;
    top: 2px;
    width: 1920px;
    @media screen and (max-width: 1190px) {
        left: -150px;
    }

}

.footer-container {
    position: relative;
}

.footer-lines-left {
    position: absolute;
    
    left: -28px;
    top: -29px;
    height: 23px;
    @media screen and (max-width: 1190px) {
        left: -173px;
    }
}

.footer-lines-right {
    position: absolute;
    
    left: 327px;
    top: -29px;
    height: 23px;
    @media screen and (max-width: 1190px) {
        left: 172px;
    }
        
}

.logo-wrapper-footer {
    width: 161px;
    position: absolute;
    left: 179px;
    top: -61px;
    height: 91px;
    @media screen and (max-width: 1190px) {
        left: 29px;
    }
}

.footer-logo-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.logo-icon-footer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 42px;
}

.footer-container-columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 40px;
    @media screen and (max-width: 875px) {
        display: block;
    }
}

.contact__wrap {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 37px;
    & img {
        display: block;
    }
    @media (max-width: 969px) {
        flex-direction: column;
    }
}

.game_link {
    display: block;
    position: relative;
    margin-left: 30px;
    &:hover {
        & .game_link_img {
            opacity: 0;
        }
        & .game_link_img-hover {
            opacity: 1;
        }
    }
    @media (max-width: 969px) {
        margin-left: 0;
        margin-top: 15px;
    }
}

.game_link_img {
    transition: opacity .4s ease;
    
}

.game_link_img-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .4s ease;
}


.footer-contact-link {
    position: relative;
    border: 1px solid #3f9092;
    padding: 10px 20px;
    display: inline-block;
    font-size: 14px;
    color: #9a9b9b;
    span:first-of-type {
        color: #ffffff;
        padding-left: 15px;
        @media screen and (max-width: 1190px) {
            padding-left: 9px;  
        }
    }
    &:hover {
        

        & .btn_border-angle {
            width: 55%;
            height: 55%;
        }
    }
    @media screen and (max-width: 1190px) {
        padding: 10px 12px;
    }
}
.footer-container-column .footer-content_social-icons {
    margin-bottom: 24px;
    @media screen and (max-width: 1190px) {
        margin-bottom: 37px;
    }
}

.footer-container-column {
    &:first-child {
        @media screen and (max-width: 875px) {
            display: inline-block;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            margin-bottom: 20px;
        }
    }
    
}

.footer-copyright-bottom {
    display: none;
    @media screen and (max-width: 875px) {
        text-align: center;
        display: block !important;
        margin-top: 45px;
    }
    @media screen and (max-width: 630px) {
        text-align: left;
    }
}

.footer-copyright {
    color: #ffffff;
    font-size: 12px;
    @media screen and (max-width: 875px) {
        display: none;
    }
}


.footer-naviation {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    @media screen and (max-width: 875px) {
        justify-content: flex-start;
        justify-content: space-around;
    }
    @media screen and (max-width: 630px) {
        display: block;
    }
    a {
        display: inline-block;
        color: #a5a9ac;
        font-size: 16px;
        position: relative;
        margin-bottom: 18px;
        @media screen and (max-width: 630px) {
            margin-bottom: 22px;
        }
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
            height: 1px;
            background: #7b8083;
        }
    }
}

.footer-navigation-title {
    font-size: 14px;
    text-transform: uppercase;
    color: #f7f7f7;
    margin-bottom: 23px;
}

.footer-navigation-column {
    margin-left: 90px;
    &:first-child {
        margin-left: 0;
    }
    @media screen and (max-width: 875px) {
        margin-left: 0;
    }
    @media screen and (max-width: 630px) {
        margin-bottom: 39px;
    }
}

.footer-bg-bottom {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    
}

// .small-eight {
//     font-size: 14px;
// }

.footer-navigation-link {
    &:before {
        transition: .4s;
    }
    &:hover:before {
        opacity: 0;
        transform: translateY(5px);
    }
}