.scheme-page {
    background: #000000;
}
.scheme-title {
    text-align: center;
    color: #ffffff;
    font-size: 70px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 80px;
    @media screen and (max-width: 760px) {
        font-size: 35px;
    }
}

.scheme-wrapper {
    
    height: 858px;
    width: 100%;  
    position: relative;
    transform: scale(0.8);
    left: 141px;
    top: -258px;

    @media screen and (max-width: 1480px) {
        width: 1440px;
        right: -15px;
        left: unset;
    }
    @media screen and (max-width: 1110px) {
        width: 1440px;
        right: unset;
        left: -156px;
    }
  
}

.scheme-br-wrapper {
    @media screen and (max-width: 940px) {
        display: none;
    }
}

.scheme-page {
    .scheme-wrapper {
        top: -198px;
    }
   
}
.preview-scheme {
    display: none;
    position: relative;
    padding-bottom: 40px;
    margin-bottom: 66px;
    overflow: hidden;
    @media screen and (max-width: 940px) {
        display: block;
    }
    img {
        max-width: 170%;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
    }
    .btn-more {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        padding: 25px 40px;
        @media (max-width: 620px) {
            font-size: 18px;
            white-space: nowrap;
        }
        @media (max-width: 345px) {
            padding: 20px 25px;
        }
    }
}

.scheme-step {
    font-size: 24px;
    color: #ffffff;
   white-space: nowrap;

   
}

.scheme-step-top {
    position: absolute;
    top: 0;
}

.scheme-step-top-1 {
    left: 270px;
}
.scheme-step-top-2 {
    left: 50%;
    transform: translateX(-50%);
}

.scheme-step-top-3 {
    right: 200px;
}

.container.scheme-container {
    width: 1440px !important;
    padding: 0 !important;
    position: relative;
    &.unactive {
        pointer-events: none;
    }
    @media screen and (max-width: 1475px) {
        width: 100% !important;
        padding: 0 15px !important;
    }
}

.security-step {
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 322px;
    top: -27px;
    img {
        margin: auto;
    }
}

.scheme-step-network {
    margin-top: -41px;
    margin-bottom: 12px;
}

.scheme-step-firewall {
    margin-top: 2px;
}

.line-vertical-network {
    height: 21px;
}

.scheme-wrapper {
    img {
        display: block;
    }
}

.top-horizontal-line-left {
    width: 186px;
    margin-left: 11px;
}

.top-horizontal-line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 39px;
 
    top: 293px;
}

.line-horzontal, .line-horizontal {
    height: 2px;
}

.top-horizontal-line-middle {
    width: 498px;
    margin-left: 8px;
    @media screen and (max-width: 1335px) {
        width: 212px;
    }
}

.scheme-block-step {
    height: 29px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    margin-left: 17px;
    img {
        display: block;
        margin: auto;
    }
    .beacon-wrapper {
        position: absolute;
        left: -38px;
        top: -112px;
        // opacity: 0;

    }
    &.active {
        .beacon-wrapper {
            // opacity: 1;
        }
    }
}



.top-horizontal-line-right {
    width: 96px;
    margin-left: 15px;
}

.network-step {
    position: relative;
    img {
        position: absolute;
        top: -157px;
        left: -49px;
    }
}

.line-vertical-nginx-top {
    height: 109px;
    margin-bottom: 11px;
}
.line-vertical-nginx-bottom {
    height: 39px;
    margin-top: 11px;
}

.left-nginx-line {
    position: absolute;
    left: 196px;
    top: 309px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.nginx-step {
   position: relative; 
   img {
       position: absolute;
       left: -126px;
       top: 50%;
       transform: translateY(-50%);
   }
}

.scheme-block-step-horizontal {
    height: 29px;
}

.line-horizontal-connect-nginx-sd {
    width: 182px;
    height: 2px;
    position: absolute;
    left: 78px;
    top: 506px;
}

.line-vertical-sd {
    height: 254px;
}

.blue-scheme-square {
    width: 6px;
    height: 6px;
    background: #b1dafd;
    box-shadow: 0px 0px 9px 4px rgba(147, 181, 210, 0.33);
}
.left-sd-line-suqare {
    margin: auto;
    margin-top: -6px;
}

.left-sd-line {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 29px;
    top: 507px;
}

.sd-block {
    width: 100px;
    height: 100px;
    background: url(../img/general/sd.png) no-repeat center;
    box-shadow: 0px 0px 9px 4px rgba(147, 181, 210, 0.33);
    border: 2px solid #b2dbfe;
    font-size: 22px;
    text-align: center;
    color: #ffffff;
    padding-top: 21px;
    span {
        color: #405c70;
        
    }
}

.middle-nginx-line-left {
    width: 305px;
    @media screen and (max-width: 1335px) {
        width: 62px;
    }
}

.middle-nginx-line {
    position: absolute;
    left: 334px;
    top: 409px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.seed-line {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 624px;
    top: 479px;
    z-index: 2;
    @media screen and (max-width: 1335px) {
        left: 381px;
    }
    
}

.line-vertical-seed-1 {
    height: 58px;
}

.circle-blue {
    fill: #0A9BD1;
}
.circle-green {
    fill: #759836;
}

.circle-scheme-text {
    font-size: 12px;
    color: #ffffff;
    text-align: center;
}

.circle-wrapper-scheme {
    display: inline-block;
    position: relative;
    .circle-scheme-text {
        position: absolute;
        left: 50%;
        top: 47%;
        transform: translateX(-50%) translateY(-50%);
    }

    .arrow-left-scheme {
        position: absolute;
        left: -10px;
        top: 47%;
        transform: translateY(-50%)
    }
    .arrow-right-scheme {
        position: absolute;
        right: -13px;
        top: 47%;
        transform: translateY(-50%) scale(-1, 1)
    }

    .arrow-up-scheme {
        position: absolute;
        left: 50%;
        top: -6px;
        transform: translateX(-50%);
    }
    .arrow-down-scheme {
        position: absolute;
        left: 50%;
        bottom: -6px;
        transform: translateX(-50%);
    }
}

.arrow-up-scheme {
    margin-bottom: 6px;
}

.arrow-down-scheme {
    margin-top: 2px;
}

.image-seed {

    left: -17px;
    position: relative;
    margin-top: 4px;
}

.line-vertical-seed-2 {
    height: 47px;
    
}

.scheme-step-seed {
    margin-top: -23px;
}



.api-line {
    position: absolute;
    left: 853px;
    top: 479px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
    @media screen and (max-width: 1335px) {
        left: 610px;
    }
}

.line-vertical-api {
    height: 171px;
    margin-bottom: 18px;
}

.image-api {
    margin-bottom: 11px;
}
.isp-top-line-1 {
    width: 360px;
}

.isp-top-line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 843px;
    top: 409px;
    @media screen and (max-width: 1335px) {
        left: 600px;
    }
}

.isp-right-line {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    right: 148px;
    top: 443px;
    @media screen and (max-width: 1335px) {
        right: 391px;
        }
}
.isp-left-line {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    right: 853px;
    top: 505px;
    @media screen and (max-width: 1335px) {
        right: 1096px;
    }

}

.line-vertical-isp-right-1 {
    height: 200px;
}

.line-vertical-isp-left-1 {
    height: 138px;
}

.line-vertical-isp-right-2 {
    height: 261px;
}

.bp-line  {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    right: 197px;
    top: 987px;
    z-index: 2;
    @media screen and (max-width: 1335px) {
        right: 440px;
    }
}

.bp-line-1 {
    width: 41px;
    margin-left: 11px;
}

.api-isp-connect-line {
    position: absolute;
    left: 878px;
    top: 550px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @media screen and (max-width: 1335px) {
        left: 635px;
    }
}


.api-isp-connect-line-1 {
    width: 204px;
    margin-right: 10px;
}

.bp1-line-1 {
    height: 53px;
    margin-bottom: 14px;

}

.bp1-line {
    position: absolute;
    right: 243px;
    top: 599px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
    @media screen and (max-width: 1335px) {
        right: 486px;
    }
}

.bp1-step {
    img {
        margin: auto;
        margin-bottom: 5px;
    }
}

.bg-square {
    border: 1px solid #37424a;
    background: rgba(0,0,0, 0.55);
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-square-bp {
    width: 211px;
    height: 414px;
    right: 225px;
    top: 631px;
    @media screen and (max-width: 1335px) {
        right: 468px;
    }
}

.bg-square-seed-api {
    width: 300px;
    height: 414px;
    right: 516px;
    top: 631px;
    @media screen and (max-width: 1335px) {
        right: 759px;
    }
}

.line-horizontal-seed-api {
    width: 108px;
    position: absolute;
    top: 505px;
    right: 764px;
    @media screen and (max-width: 1335px) {
        right: 1007px;
    }
}

.seed-api-line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    
    left: 600px;
    top: 988px;
    z-index: 2;
    @media screen and (max-width: 1335px) {
        left: 356px;
    }
}

.seed-api-line-1 {
    width: 105px;
}

.coonecting-square {
    border: 10px solid rgba(179, 220, 254, 0.3);
    position: absolute;
}

.coonecting-square-include {
    border: 2px solid rgba(179, 220, 254, 0.3);
    width: calc(100% + 12px);
    margin-left: -6px;
    height: calc(100% + 12px);
    margin-top: -6px;
}

.coonecting-square-top {
    width: 1191px;
    height: 430px;
    top: 377px;
    left: 177px;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        background: url(../img/general/bg_node1.jpg) no-repeat center;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: -1;
        transition: .3s ease;
    }
    &.active {
         &:before {
            opacity: 1;
         }
    }
    @media screen and (max-width: 1335px) {
        width: 916px;
    }
}
.coonecting-square-bottom {
    width: 1191px;
    height: 222px;
    top: 865px;
    left: 177px;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        background: url(../img/general/bg_node2.jpg)  no-repeat center;
        background-size: cover;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: .3s ease;
        z-index: -1;
    }
    &.active {
         &:after {
            opacity: 1;
         }
    }
    @media screen and (max-width: 1335px) {
        width: 916px;
    }
}

.sd-middle-line {
    width: 53px;
    position: absolute;
    left: 129px;
    top: 836px;
}

.sd-middle-connect-line {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 179px;
    top: 799px;
}

.bg-square-title {
    font-size: 22px;
    color: #b3dcff;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    letter-spacing: 7px;
    text-shadow: 0 0 14px rgba(147,181,210, 0.33);
}

.sd-middle-connect-line-1 {
    height: 62px;
}

.noda-wrapper {
    width: 173px;
    height: 60px;

    position: absolute;
    @media screen and (max-width: 1335px) {
        width: 114px;
        height: 42px;
    }
}

.coonecting-square-top {
    .noda-wrapper {
        left: 19px;
        bottom: 19px;

        .noda-image {
            fill: #132A40;
            position: absolute;
            left: 0;
            top: 0;
        }
        @media screen and (max-width: 1335px) {
            left: 7px;
            bottom: 7px;
        }
    }
}
.coonecting-square-bottom {
    .noda-wrapper {
        left: 19px;
        top: 19px;

        .noda-image {
            fill: #343e23;
            position: absolute;
            left: 0;
            top: 0;
        }
        @media screen and (max-width: 1335px) {
            left: 7px;
            top: 7px;
        }
    }
}

.noda-image {
    width: 100%;
    height: 100%;
}

.noda-text {
    font-size: 22px;
    color: #ffffff;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translateY(-50%) translateX(-50%);
    letter-spacing: 8px;
    text-transform: uppercase;

    text-align: center;
    background: rgba(0,0,0, 0.35);
    display: inline-block;
    white-space: nowrap;
    @media screen and (max-width: 1335px) {
        font-size: 13px;
    }
}

.vpn-wrapper {
    width: 111px;
    height: 97px;
    background: url(../img/general/vpn.png) no-repeat center;
    position: absolute;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    padding-top: 37px;
}

.coonecting-square-bottom {
    .vpn-wrapper {
        bottom: 11px;
        left: -61px;
    }
}

.coonecting-square-top {
    .vpn-wrapper {
        top: 21px;
        right: -61px;
    }
}

.aws {
    position: absolute;
}

.aws-top {
    right: -66px;
    top: 21px;
}
.aws-bottom {
    right: -66px;
    bottom: 21px;
}

.scheme-nav_item {
    font-size: 16px;
    color: #3b4852;
    display: block;
    padding-bottom: 13px;
    padding-top: 13px;
    cursor: pointer;
    position: relative;
    transition: .3s ease;
   
    &:hover {
        color: #a2c7e6;
        font-weight: 700;
        padding-left: 46px; 
        &:before {
            left: 0;
            opacity: 1;
        }
    }
    &:before {
        opacity: 0;
        transition: .3s ease;
        content: '';
        position: absolute;
        left: -37px;
        top: 24px;
        width: 37px;
        height: 1px;
        background: #fff;
        box-shadow: 0px 0px 14px 7px rgba(147, 181, 210, 0.33);
    }
    &:last-child  {
        margin-bottom: 0;
    }
    &.active {
        color: #a2c7e6;
        font-weight: 700;
        padding-left: 46px; 
        &:before {
            left: 0;
            opacity: 1;
        }
    }
}

.scneme-nav   {
    position: absolute;
    left: 0;
    top: -16px;
    @media screen and (max-width: 1475px) {
        left: 15px;
    }
    @media screen and (max-width: 1110px) {
        display: none;
    }
}

.scheme-about-nav_item {
    margin-left: 50px;
    position: relative;
    cursor: pointer;
    @media screen and (max-width: 760px) {
        margin-left: 15px;
    }
    &:first-child {
        margin-left: 0;
    }
    span {
        font-size: 24px;
        color: #b6b6b6;
        padding-left: 4px;
        transition: .3s ease;
        @media screen and (max-width: 760px) {
            font-size: 16px;
        }
    }
    &.active {
        .scheme-about-nav_item-icon {
            fill:#b1dafd;
           
        }
        span {
            color: #ffffff;
        }
        &:before {
            opacity: 1;
        }
    }
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: -13px;
        transition: .3s ease;
        opacity: 0;
        left: 0;
        background: #fff;
        box-shadow: 0px 0px 14px 7px rgba(147, 181, 210, 0.33);
        @media screen and (max-width: 760px) {
            bottom: -11px;
        }
    }
    &:hover {
        &:before {
            opacity: 0.3;
        }
    }
}

.scheme-about-nav_item-icon {
    fill: #7a7a7a;
    transition: .3s ease;
    @media screen and (max-width: 760px) {
        width: 12px;
        top: 3px;
        position: relative;
    }
}

.scheme-about-nav {
    margin-bottom: 55px;
    border-bottom: 1px solid #37424a;
    padding-bottom: 9px;
    @media screen and (max-width: 760px) {
        width: 700px;
        transition: .3s ease;
        &.move {
            margin-left: -41px;
        }
    }
}

.single-scheme-about-text-column {
    width: 50%;
    @media screen and (max-width: 1040px) {
        width: 100%;
    }
    &:first-child {
        padding-right: 30px;
          @media screen and (max-width: 1040px) {
              padding-right: 0;
              margin-bottom: 34px;
          }
          @media screen and (max-width: 760px) {
            margin-bottom: 15px;

        }
    }
    &:last-child {
        padding-left: 30px;
          @media screen and (max-width: 1040px) {
              padding-left: 0;
             
          }
    }
    p {
        color: #ffffff;
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 34px;
        &:last-child {
            margin-bottom: 0;
        }
        @media screen and (max-width: 760px) {
            font-size: 15px;
            line-height: 23px;
            margin-bottom: 15px;

        }
    }
    ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 40px;
        li {
            padding-left: 57px;
            font-size: 14px;
            color: #94a1ae;
            margin-bottom: 21px;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                width: 38px;
                height: 1px;
                left: 0;
                top: 7px;
                background: #87929e;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.single-scheme-about-text {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    @media screen and (max-width: 1040px) {
        display: block;
    }
}

.slider-scheme-about {
    margin-bottom: 70px;
}

.eye-structure {
    padding-left: 7px;
    span {
        color: #82dff9;
        position: relative;
        cursor: pointer;
        padding-bottom: 2px;
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            border-bottom: 1px dashed #82dff9;
        }
    }
    @media screen and (max-width: 939px) {
        display: none;
    }
}

.alone-column {
    padding-left: 0 !important; 
}

.single-scheme-about {
    outline: none;
}

.firewall-step {
    .beacon-wrapper  {

        left: -43px;
        top: -104px;
    }
}

.voting-step {
    .beacon-wrapper  {

      
    left: 3px;
    top: -102px;
    }
}

.nginx-step {
    position: relative;
    .beacon-wrapper  {

      
      
    left: -139px;
    top: -38px;
        }
}

.seed-line {

    .beacon-wrapper {
        left: -39px;
        bottom: 41px;
        top: unset;

    }
}

.bp-step {
    .beacon-wrapper {
        left: -7px;
        top: -99px;
    }
}

.api-line {
    .beacon-wrapper {
        left: -65px;
        bottom: 39px;
        top: unset;
    }
}

.bp-step {
    .beacon-wrapper {
        left: -38px;
        bottom: 60px;
        top: unset;
    }
}

.bp1-step {
    .beacon-wrapper {
        top: unset;
        bottom: 41px;
        left: -7px;
    }
}

.sd-block {
    .beacon-wrapper {
        top: unset;
        bottom: 24px;
        left: -39px;
    }
}

.vpn-wrapper {
    .beacon-wrapper {
        top: 0;
        left: -32px;
    }
}

.isp-1-1 {
    top: -28px !important;
    left: -70px !important;
}


// Pules dot

@mixin va ($pos: relative, $top: 50%) {
	position: $pos;
	top: $top;
	transform: translateY(-50%);
}

// html {
//   height: 100%;
// }

// body {
//   position: relative;
//   height: 100%;
//   font: normal 100%/1.5 "Roboto", sans-serif;
//   color: rgba(#2f3336,1);

//   background-color: #f1efeb;
// }

.beacon-wrapper {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute !important;
  transition: .1s ease;
  
    &.active {
        width: 80px;
        height: 80px;
        opacity: 1;
        .signal--wave {
            animation-name: signal;
            animation-duration: 2s;
            animation-timing-function: cubic-bezier(.250, .460, .450, .940);
            animation-iteration-count: infinite;
        }
    }
    &.big {
        .signal--wave {
            width: 140px;
            height: 140px;
        }
    }
  // background-color: #f1efeb;
  @include va;
}

.signal {
  position: absolute;
  display: block;
  border-radius: 50%;
  transform: translate3d(0,0,0);
}

.beacon--epicentre {

}

.signal--wave {
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  border: 1px solid rgba(#4ab4f0,.12);
  opacity: 0;
  background-color: rgba(#4ab4f0,.14);
  
  z-index: 8000;
}

.signal--delay {
  animation-delay: .6s;
  z-index: 9000;
}

@keyframes signal { 
  from { 
    transform: scale(0);
    opacity: 0;
  } 
  20% {
    opacity: 1;
  }
  to { 
    transform: scale(2);
    opacity: 0;
  }  
}


.u--dib {
  display: inline-block;
}

.hover-zone-scheme {
    z-index: 3;
}



.center-class {
    text-align: center;
}

.hover-zone-scheme {
    cursor: pointer;
}

.eye-structure {
    outline: none;
}