
<div class="container scheme-container">
    <div class="scheme-wrapper">
           

        <div class="top-horizontal-line">
                <div class="scheme-block-step network-step hover-zone-scheme" data-scheme="network">
                    
                        <img src="static/img/general/Network.png" alt="network">
                        <div class="beacon-wrapper big" data-scheme="network">
                                <span class="signal beacon--epicentre"></span>
                                <span class="signal signal--wave"></span>
                                <span class="signal signal--wave signal--delay"></span>
                              </div>
                        <div  class="scheme-step" >Network</div>
                    </div>
              
              

            {{Icon iconName='line_horizont' className='line-horzontal top-horizontal-line-left'}}
            <div class="scheme-block-step firewall-step hover-zone-scheme" data-scheme="firewall">
                
                    <img src="static/img/general/FIREWALL3.png" alt="firewall">
                    <div class="beacon-wrapper big active" data-scheme="firewall">
                            <span class="signal beacon--epicentre"></span>
                            <span class="signal signal--wave"></span>
                            <span class="signal signal--wave signal--delay"></span>
                          </div>
            <div  class="scheme-step scheme-step-firewall">Firewall</div>
                </div>
          
            {{Icon iconName='line_horizont' className='line-horzontal top-horizontal-line-middle'}}
            <div class="scheme-block-step voting-step hover-zone-scheme" data-scheme="voting">
                  

                            <img src="static/img/general/eos-voting.png" alt="voting">
                            <div class="beacon-wrapper big" data-scheme="voting">
                                    <span class="signal beacon--epicentre"></span>
                                    <span class="signal signal--wave"></span>
                                    <span class="signal signal--wave signal--delay"></span>
                                  </div>

              
                <div  class="scheme-step scheme-step-voting">EOS Voting Proxy</div>
            </div>
            {{Icon iconName='line_horizont' className='line-horzontal top-horizontal-line-right'}}
            <div class="scheme-block-step network-step hover-zone-scheme" data-scheme="network">
                
                <img src="static/img/general/Network.png" alt="voting">
                <div class="beacon-wrapper big" data-scheme="network">
                        <span class="signal beacon--epicentre"></span>
                        <span class="signal signal--wave"></span>
                        <span class="signal signal--wave signal--delay"></span>
                      </div>
                <div  class="scheme-step scheme-step-voting">Network</div>
            </div>
        </div>
        <div class="left-nginx-line hover-zone-scheme"  data-scheme="nginx">
                {{Icon iconName='line_vertical' className='line-vertical line-vertical-nginx-top'}}
                <div class="nginx-step scheme-block-step scheme-block-step-horizontal">
                        <div class="beacon-wrapper big" data-scheme="nginx">
                                <span class="signal beacon--epicentre"></span>
                                <span class="signal signal--wave"></span>
                                <span class="signal signal--wave signal--delay"></span>
                              </div>
                    <img src="static/img/general/lb.png" alt="lb">
                    <div  class="scheme-step scheme-step-nginx">LB (nginx)</div>
                </div>
                {{Icon iconName='line_vertical' className='line-vertical line-vertical-nginx-bottom'}}
        </div>
        <div class="middle-nginx-line">
                {{Icon iconName='line_horizont' className='line-horzontal middle-nginx-line-left'}}
                <img src="static/img/general/logo_eos_x.png" alt="logo-eos">
        </div>
        <div class="seed-line">
            {{Icon iconName='line_vertical' className='line-vertical line-vertical-seed-1'}}
            {{Icon iconName='arrow_up' className='arrow-up-scheme'}}
            <div class="circle-wrapper-scheme hover-zone-scheme"  data-scheme="isp">
                {{Icon iconName='circle_blue' className='circle-blue'}}
                <div class="beacon-wrapper big isp-1-1" data-scheme="isp">
                        <span class="signal beacon--epicentre"></span>
                        <span class="signal signal--wave"></span>
                        <span class="signal signal--wave signal--delay"></span>
                      </div>
                <div class="circle-scheme-text">ISP1</div>
            </div>
            {{Icon iconName='arrow_down' className='arrow-down-scheme'}}
            {{Icon iconName='line_vertical' className='line-vertical line-vertical-seed-2'}}
            <div class="beacon-wrapper big" data-scheme="seed" data-scheme-triple="seed-plus-api">
                    <span class="signal beacon--epicentre"></span>
                    <span class="signal signal--wave"></span>
                    <span class="signal signal--wave signal--delay"></span>
                  </div>
                  <div  class="hover-zone-scheme center-class" data-scheme="seed">
                <img src="static/img/general/seed.png" alt="seed" class="image-seed">
                <div class="scheme-step scheme-step-seed">Seed</div>
            </div>

           

        </div>
        <div class="isp-top-line">
               
                <img src="static/img/general/logo_eos_x.png" alt="logo-eos">
                {{Icon iconName='line_horizont' className='line-horzontal isp-top-line-1'}}
        </div>
        <div class="isp-right-line">
                {{Icon iconName='line_vertical' className='line-vertical line-vertical-isp-right-1'}}
                {{Icon iconName='arrow_up' className='arrow-up-scheme'}}
        
            <div class="circle-wrapper-scheme hover-zone-scheme" data-scheme="isp">
                    <div class="beacon-wrapper big isp-1-1 big isp-1-4" data-scheme="isp">
                            <span class="signal beacon--epicentre"></span>
                            <span class="signal signal--wave"></span>
                            <span class="signal signal--wave signal--delay"></span>
                          </div>
                    {{Icon iconName='circle_blue' className='circle-blue'}}
                <div class="circle-scheme-text">ISP1</div>
            </div>
            
            {{Icon iconName='arrow_down' className='arrow-down-scheme'}}
            {{Icon iconName='line_vertical' className='line-vertical  line-vertical-isp-right-2'}}
            {{Icon iconName='arrow_up' className='arrow-up-scheme'}}
        
            <div class="circle-wrapper-scheme hover-zone-scheme" data-scheme="isp">
                    <div class="beacon-wrapper big isp-1-1 big isp-2-2  " data-scheme="isp">
                            <span class="signal beacon--epicentre"></span>
                            <span class="signal signal--wave"></span>
                            <span class="signal signal--wave signal--delay"></span>
                          </div>
                    {{Icon iconName='circle_green' className='circle-green'}}
                <div class="circle-scheme-text">ISP2</div>
                {{Icon iconName='arrow_left' className='arrow-left-scheme'}}
            </div>
            
           
        </div>
        <div class="isp-left-line">
                {{Icon iconName='line_vertical' className='line-vertical line-vertical-isp-left-1'}}
                {{Icon iconName='arrow_up' className='arrow-up-scheme'}}
        
            <div class="circle-wrapper-scheme hover-zone-scheme" data-scheme="isp">
                    <div class="beacon-wrapper big isp-1-1 big isp-1-2" data-scheme="isp">
                            <span class="signal beacon--epicentre"></span>
                            <span class="signal signal--wave"></span>
                            <span class="signal signal--wave signal--delay"></span>
                          </div>
                    {{Icon iconName='circle_blue' className='circle-blue'}}
                <div class="circle-scheme-text">ISP1</div>
            </div>
            
            {{Icon iconName='arrow_down' className='arrow-down-scheme'}}
            {{Icon iconName='line_vertical' className='line-vertical  line-vertical-isp-right-2'}}
            {{Icon iconName='arrow_up' className='arrow-up-scheme'}}
        
            <div class="circle-wrapper-scheme hover-zone-scheme" data-scheme="isp">
                    <div class="beacon-wrapper big isp-1-1 big isp-2-1" data-scheme="isp">
                            <span class="signal beacon--epicentre"></span>
                            <span class="signal signal--wave"></span>
                            <span class="signal signal--wave signal--delay"></span>
                          </div>
                    {{Icon iconName='circle_green' className='circle-green'}}
                <div class="circle-scheme-text">ISP2</div>
                {{Icon iconName='arrow_left' className='arrow-right-scheme'}}
            </div>
            
           
        </div>
        <div class="bp-line">
                <div class="scheme-block-step bp-step bp1-step  hover-zone-scheme" data-scheme="bp">
                        <div class="beacon-wrapper big" data-scheme="bp">
                                <span class="signal beacon--epicentre"></span>
                                <span class="signal signal--wave"></span>
                                <span class="signal signal--wave signal--delay"></span>
                              </div>

                        <img src="static/img/general/bp2.png" alt="bp">
                        <div class="scheme-step">Block Producer</div>

                    </div>
                {{Icon iconName='line_horizont' className='line-horzontal bp-line-1'}}
                
        </div>
        <div class="api-line">
            {{Icon iconName='line_vertical' className='line-vertical line-vertical-api'}}
          
            <div class="center-class hover-zone-scheme" data-scheme="api">
                <img src="static/img/general/api.png" alt="seed" class="image-api">
                <div class="beacon-wrapper big" data-scheme="api" data-scheme-triple="seed-plus-api">
                        <span class="signal beacon--epicentre"></span>
                        <span class="signal signal--wave"></span>
                        <span class="signal signal--wave signal--delay"></span>
                      </div>
                <div class="scheme-step scheme-step-api">API</div>
            </div>

           

        </div>
        <div class="api-isp-connect-line">
                {{Icon iconName='line_horizont' className='line-horzontal api-isp-connect-line-1'}}
              
        
                <div class="circle-wrapper-scheme hover-zone-scheme" data-scheme="isp">
                        <div class="beacon-wrapper big isp-1-1 big isp-1-3" data-scheme="isp">
                                <span class="signal beacon--epicentre"></span>
                                <span class="signal signal--wave"></span>
                                <span class="signal signal--wave signal--delay"></span>
                              </div>
                        {{Icon iconName='arrow_down' className='arrow-down-scheme'}}
                        {{Icon iconName='circle_blue' className='circle-blue'}}
                    <div class="circle-scheme-text">ISP1</div>
                    {{Icon iconName='arrow_left' className='arrow-left-scheme'}}
                </div>
        </div>
        <div class="bp1-line">
          
            {{Icon iconName='line_vertical' className='line-vertical  bp1-line-1'}}   
            <div class="bp1-step hover-zone-scheme" data-scheme="bp">
                    <img src="static/img/general/bp1.png" alt="bp">
                    <div class="scheme-step">Block Producer</div>
                    <div class="beacon-wrapper big" data-scheme="bp">
                            <span class="signal beacon--epicentre"></span>
                            <span class="signal signal--wave"></span>
                            <span class="signal signal--wave signal--delay"></span>
                          </div>
                </div>
        </div>
        <div class="bg-square bg-square-bp">
            <div class="bg-square-title">EOS bp</div>
            
        </div>
        <div class="bg-square bg-square-seed-api">
                <img src="static/img/general/aws.png" alt="aws" class="aws aws-top">
                <img src="static/img/general/aws.png" alt="aws" class="aws aws-bottom">
                <div class="bg-square-title">EOS API</div>
        </div>
        <div class="seed-api-line">
                {{Icon iconName='line_horizont' className='line-horzontal seed-api-line-1'}}
                <div class="scheme-block-step bp-step hover-zone-scheme" data-scheme="seed-plus-api">
                        <div class="beacon-wrapper big" data-scheme="seed-plus-api" data-scheme-triple="seed-plus-api">
                                <span class="signal beacon--epicentre"></span>
                                <span class="signal signal--wave"></span>
                                <span class="signal signal--wave signal--delay"></span>
                              </div>
                        <img src="static/img/general/Seed_API.png" alt="bp">
                        <div class="scheme-step">Seed + API</div>
                    </div>
               
        </div>
        {{Icon iconName='line_horizont' className='line-horizontal line-horizontal-connect-nginx-sd'}}
        <div class="left-sd-line">
                {{Icon iconName='line_vertical' className='line-vertical line-vertical-sd'}}
               <div class="blue-scheme-square left-sd-line-suqare"></div>
               <div class="sd-block  hover-zone-scheme" data-scheme="consul">
                    <div class="beacon-wrapper big" data-scheme="consul">
                            <span class="signal beacon--epicentre"></span>
                            <span class="signal signal--wave"></span>
                            <span class="signal signal--wave signal--delay"></span>
                          </div>
                    SD<br>
                    <span>consul</span>
               </div>
        </div>
        {{Icon iconName='line_horizont' className='line-horizontal sd-middle-line'}}
        <div class="sd-middle-connect-line">
                <div class="blue-scheme-square"></div>
                {{Icon iconName='line_vertical' className='line-vertical  sd-middle-connect-line-1'}}
                <div class="blue-scheme-square"></div>
        </div>
      
        {{Icon iconName='line_horizont' className='line-horizontal line-horizontal-seed-api'}}
        <div class="coonecting-square coonecting-square-top">
            <div class="coonecting-square-include">
                <div class="noda-wrapper hover-zone-scheme"  data-scheme="node1">
                    {{Icon iconName='noda' className='noda-image'}}
                    <span class="noda-text">Node 1</span>
                </div>
                <div class="vpn-wrapper  hover-zone-scheme" data-scheme="vpn">VPN
                        <div class="beacon-wrapper big" data-scheme="vpn">
                                <span class="signal beacon--epicentre"></span>
                                <span class="signal signal--wave"></span>
                                <span class="signal signal--wave signal--delay"></span>
                              </div>
                </div>
            </div>
        </div>
        <div class="coonecting-square coonecting-square-bottom">
            <div class="coonecting-square-include">
                    <div class="noda-wrapper hover-zone-scheme"  data-scheme="node2">
                            {{Icon iconName='noda' className='noda-image'}}
                            <span class="noda-text">Node 2</span>
                        </div>
                        <div class="vpn-wrapper  hover-zone-scheme" data-scheme="vpn">VPN
                                <div class="beacon-wrapper big" data-scheme="vpn">
                                <span class="signal beacon--epicentre"></span>
                                <span class="signal signal--wave"></span>
                                <span class="signal signal--wave signal--delay"></span>
                              </div>
                        </div>
            </div>
        </div>
    </div>

</div>
