<footer class="footer-index">
    <img src="static/img/general/lines_footer_left.svg" alt="line" class="footer-lines-left">
    <img src="static/img/general/lines_footer_right.svg" alt="line" class="footer-lines-right">
    <img src="static/img/general/line_footer.svg" alt="line" class="footer-line">
    <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 270" style="enable-background:new 0 0 1920 284;" xml:space="preserve" class="footer-bg">
        <style type="text/css">
        #bg_footer {
            fill: url(#bg_footer_1_);
        }

        </style>
        <linearGradient id="bg_footer_1_" gradientUnits="userSpaceOnUse" x1="960" y1="-5244.0894" x2="960" y2="-5528.0894" gradientTransform="matrix(1 0 0 -1 0 -5244.0894)">
            <stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0.149" />
            <stop offset="1" style="stop-color:#FFFFFF;stop-opacity:0" />
        </linearGradient>
        <linearGradient id="bg_footer_2_" gradientUnits="userSpaceOnUse" x1="960" y1="-5244.0894" x2="960" y2="-5528.0894" gradientTransform="matrix(1 0 0 -1 0 -5244.0894)">
            <stop offset="0" style="stop-color:#000;stop-opacity:0.74" />
            <stop offset="1" style="stop-color:#000;stop-opacity:0.25" />
        </linearGradient>
        <path id="bg_footer" class="st0" d="M0,0h178.9L210,29h100l28.9-29H1920v284H0V0z" />
    </svg>
    <a href="#scene" class="logo-wrapper-footer anchor">
        <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 161 91" style="enable-background:new 0 0 161 91;" xml:space="preserve" class="footer-logo-bg">
            <style type="text/css">
            #light_logo_footer {
                opacity: 0.2;
                fill: url(#light_logo_footer_1_);
            }

            </style>
            <linearGradient id="light_logo_footer_1_" gradientUnits="userSpaceOnUse" x1="260.5" y1="-4433.063" x2="260.5" y2="-4342.063" gradientTransform="matrix(1 0 0 -1 -180 -4342.063)">
                <stop offset="0" style="stop-color:#65FFFD" />
                <stop offset="1" style="stop-color:#65FFFD;stop-opacity:0" />
            </linearGradient>
            <linearGradient id="light_logo_footer_2_" gradientUnits="userSpaceOnUse" x1="260.5" y1="-4433.063" x2="260.5" y2="-4342.063" gradientTransform="matrix(1 0 0 -1 -180 -4342.063)">
                <stop offset="0" style="stop-color:#000;stop-opacity:1" />
                <stop offset="1" style="stop-color: transparent; stop-opacity:1;" />
            </linearGradient>
            <path id="light_logo_footer" class="st0" d="M60,0h46l55,61l-30,30H30L0,61L60,0z" />
        </svg>
        {{Icon iconName='logo' className='logo-icon logo-icon-footer'}}
    </a>
    <div class="container footer-container">
        <div class="footer-container-columns">
            <div class="footer-container-column">
                <div class="footer-content_social-icons">
                    <a href="https://www.youtube.com/channel/UCXDKwT7QrCpsOyr8k5cvp0A" class="social-icons_item" target="_blank">
                        {{Icon iconName='github' className='footer_social-icon'}}
                        <span class="btn_border-angle top-left"></span>
                        <span class="btn_border-angle top-right"></span>
                        <span class="btn_border-angle bottom-right"></span>
                        <span class="btn_border-angle bottom-left"></span>
                      </a>
                    <a href="https://www.facebook.com/0xGames" class="social-icons_item" target="_blank">
                        {{Icon iconName='facebook' className='footer_social-icon'}}
                        <span class="btn_border-angle top-left"></span>
                        <span class="btn_border-angle top-right"></span>
                        <span class="btn_border-angle bottom-right"></span>
                        <span class="btn_border-angle bottom-left"></span>
      
                      </a>
                    <a href="https://twitter.com/0xUniverse" class="social-icons_item" target="_blank">
                        {{Icon iconName='twitter' className='footer_social-icon'}}
                        <span class="btn_border-angle top-left"></span>
                        <span class="btn_border-angle top-right"></span>
                        <span class="btn_border-angle bottom-right"></span>
                        <span class="btn_border-angle bottom-left"></span>
      
                      </a>
<!--                     <a href="#" class="social-icons_item" target="_blank">
                        {{Icon iconName='reddit' className='footer_social-icon'}}
                        <span class="btn_border-angle top-left"></span>
                        <span class="btn_border-angle top-right"></span>
                        <span class="btn_border-angle bottom-right"></span>
                        <span class="btn_border-angle bottom-left"></span>
      
                      </a>
                    <a href="#" class="social-icons_item" target="_blank">
                        {{Icon iconName='telegram' className='footer_social-icon'}}
                        <span class="btn_border-angle top-left"></span>
                        <span class="btn_border-angle top-right"></span>
                        <span class="btn_border-angle bottom-right"></span>
                        <span class="btn_border-angle bottom-left"></span>
      
                      </a>
                    <a href="#" class="social-icons_item" target="_blank">
                        {{Icon iconName='wechat' className='footer_social-icon'}}
                        <span class="btn_border-angle top-left"></span>
                        <span class="btn_border-angle top-right"></span>
                        <span class="btn_border-angle bottom-right"></span>
                        <span class="btn_border-angle bottom-left"></span>
      
                      </a>
                    <a href="#" class="social-icons_item" target="_blank">
                        {{Icon iconName='steemit' className='footer_social-icon'}}
                        <span class="btn_border-angle top-left"></span>
                        <span class="btn_border-angle top-right"></span>
                        <span class="btn_border-angle bottom-right"></span>
                        <span class="btn_border-angle bottom-left"></span>
      
                      </a>
                    <a href="#" class="social-icons_item" target="_blank">
                        {{Icon iconName='youtube' className='footer_social-icon'}}
                        <span class="btn_border-angle top-left"></span>
                        <span class="btn_border-angle top-right"></span>
                        <span class="btn_border-angle bottom-right"></span>
                        <span class="btn_border-angle bottom-left"></span>
      
                      </a> -->
                </div>
                <div class="contact__wrap">
                    <a href="mailto: contact@zeroxeos.com" class="footer-contact-link">
                      Contact us: <span>contact@zeroxeos.com</span>
                            <span class="btn_border-angle top-left"></span>
                            <span class="btn_border-angle top-right"></span>
                            <span class="btn_border-angle bottom-right"></span>
                            <span class="btn_border-angle bottom-left"></span>
                    </a>   
                    <a href="https://0x.games" class="game_link">
                        <img class="game_link_img" src="static/img/general/game-logo.png" alt="">
                        <img class="game_link_img-hover" src="static/img/general/game-logo-hover.png" alt="">
                    </a>              
                </div>
                <div class="footer-copyright">Copyright © 2018 All rights reserved.</div>
            </div>
            <div class="footer-container-column">
                <div class="footer-naviation">
                    <div class="footer-navigation-column">
                        <div class="footer-navigation-title">0<span class="small-x">x</span>Proxy</div>
                        <div class="footer-navigation-link-warapper">
                            <a href="0xproxy.html" class="footer-navigation-link">0<span class="small-x">x</span>Proxy</a>
                        </div>
                        <div class="footer-navigation-link-warapper">
                            <a href="proxy.html" class="footer-navigation-link">How to Proxy 0<span class="small-x">x</span>?</a>
                        </div>
                    </div>
                    <div class="footer-navigation-column">
                        <div class="footer-navigation-title">0<span class="small-x">x</span>BlockProducer</div>
                        <div class="footer-navigation-link-warapper">
                            <a href="0xbp.html#why" class="footer-navigation-link">Why 0xBP?</a>
                        </div>
                        <div class="footer-navigation-link-warapper">
                            <a href="0xbp.html#transparency" class="footer-navigation-link">Transparency</a>
                        </div>
                        <div class="footer-navigation-link-warapper">
                            <a href="vote.html" class="footer-navigation-link">How to vote for 0x?</a>
                        </div>
                    </div>
                    <div class="footer-navigation-column">
                        <div class="footer-navigation-title">0<span class="small-x">x</span>Games</div>
                        <div class="footer-navigation-link-warapper">
                            <a href="https://0x.games/" target="_blank" class="footer-navigation-link">0xGames</a>
                        </div>
                        <div class="footer-navigation-link-warapper">
                            <a href="https://0xuniverse.com/" target="_blank" class="footer-navigation-link">0xUniverse</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright footer-copyright-bottom">Copyright © 2018 All rights reserved.</div>
    </div>
</footer>
