<div class="container">
    <div class="text-page-content text-page_container">
        <h2 id="about" class="text-page_title with-line">ØxGames Vision</h2>
        <h3 class="text-page_title-sub">Digital Currencies</h3>
        <p>Just recently the space of virtual currencies was comparable in its emptiness to the vast nothingness of space. Only a decade later, it is among the most expanding markets showing massive long-term growth rates and market capitalization. </p>
        <h3 class="text-page_title-sub">Video Games</h3>
        <p>Video games and the gaming space in general is expanding at a likewise astonishing pace, growing over 96% since 2012 generating revenue of over $138 billion in 2017 alone. Currently, there are over 2.3 billion gamers worldwide and since the early 1980s this number keeps on exhibiting exponential Year-over-Year growth dynamics.</p>
        <h3 class="text-page_title-sub">The synthesis.</h3>
        <p>The intersection between these two emerging and yet at first sight weakly connected worlds is where we stand. We postulate as our vision that the bond between video gaming and DLTs is much more than a technical gimmick. The outcry of the coming boom, when these two worlds unite, is echoing louder day by day. </p>
        <p>We have been preparing to ride this wave at least since the inception of ØxGames, but up until recently there has been no technological infrastructure sufficiently potent to disrupt video gaming. </p>
        <p>This was the case until early June, 2018 when EOS mainnet finally launched.</p>
        <h2 id="eosio" class="text-page_title with-line">EOS</h2>
        <p><i>“...is a blockchain architecture that may ultimately scale to millions of transactions per second, eliminates user fees, and allows for quick and easy deployment and maintenance of decentralized applications, in the context of a governed blockchain.”</i> - EOS.IO Technical White Paper v2</p>
        <p>Our faith in EOS as a protocol revolves around its governance layer design, scalability, proven technological and business track record of its founders as well as its vivid and thriving community.</p>
        <p>We believe that EOS has both, sufficient fundamentals to become the new paradigm for bringing dApps into everyday life, and strong potential for sustainable future protocol evolution. </p>
        <h2 id="xeosio" class="text-page_title with-line">ØxEOS</h2>
        <p>We at ØxGames strongly believe that two preconditions must be met in order for DLT to prosper and thrive. </p>
        <p>The first one is a platform sufficiently scalable and flexible to accommodate the emerging and yet unknown demands of the new era. EOS is such a platform. </p>
        <p>The second is a sufficiently strong channel for mass adoption. Gaming is that propagation channel. </p>
        <p>The intersection between the two is where the fire of mass adoption ignites. And this, is where we stand. </p>
        <p>Our case for joining EOS world - we look forward to building our games on EOS and therefore become a part its growing ecosystem. We view it as a natural extension of the ideology, fueling the community powerhouse of EOS</p>
        <p>The economic surplus generated by the activity within the network has to be channeled inwards - serving as a reward for developing the underlying protocol, that shapes the rules of agent interaction within the network.</p>
        <h2 id="values" class="text-page_title with-line">ØxValues</h2>
        <p>Fairness to community, open-source code, transparency to each and every stakeholder, dedication to burning as much midnight oil as it takes to improve upon the results of yesterday, and beyond anything, inspiration looming through every detail of all products we create.</p>
        <p>We are committed to use all the fee rewards and other benefits accruing to us from producing EOS blocks for developing and marketing more dApps, thereby further enriching the surrounding ecosystem. </p>
        <p>Transparent and, hence, verifiably fair or ‘trustless’, this process will be completely aligned with the values that have been, are, and forever will be powering our work, our team and our ideals. </p>
        <h2 id="team" class="text-page_title with-line">Team behind ØxGames</h2>
        <p>Our intention to carry the industry of digital currencies and all the outgrowths thereof one step further into the future lasts already for almost an entire decade. </p>
        <p>We are a technically inclined team of early adopters of cryptocurrencies and related technologies with combined century of liberty and ideals-powered inspiration, that we have consistently channeled into the FinTech world. </p>
        <p>The aforementioned necessitates no further proof, but our track record of creating and deploying successful dApps. </p>
    </div>
</div>
