<div class="text-page-title-wrapper">
    <h1>How to vote Øx?</h1>
</div>
<div class="container">
    <div class="text-page-content text-page_container">
        <h2 class="text-page_title with-line">Using cleos:</h2>
        <p class="small-text">Below we will describe how one can vote for a block producer using command line
            interface. This procedure is considerably more time consuming and requires significant technical expertise.
            It is recommended for relatively more experienced users</p>
        <h3>Step I.</h3>
        <p>The first step is to clone the EOS repository from here:</p>
        <p><a href="https://github.com/EOSIO/eos">https://github.com/EOSIO/eos</a></p>

        <div class="code-text_wrap">
            <div class="code-text_header">
                <div class="lang-name copy-btn" data-target="#first-code">Copy</div>
            </div>
            <div class="code-text_body" id="first-code">git clone https://github.com/EOSIO/eos –recursive</div>
        </div>
        <h3>Step II.</h3>
        <p>Go to the EOS directory and begin building.</p>
        <div class="code-text_wrap">
            <div class="code-text_header">
                <div class="lang-name copy-btn" data-target="#first-code">Copy</div>
            </div>
            <div class="code-text_body" id="first-code">cd eos ./eosio_build.sh -s “EOS”<br>
                <span class="next-line-code">cd build</span>
                <span class="next-line-code">sudo make install</span>
            </div>

        </div>
        <h3>Step III.</h3>
        <p>Connect to a node (you may choose one <a href="#">here</a>) from your wallet.</p>
        <div class="code-text_wrap">
            <div class="code-text_header">
                <div class="lang-name copy-btn" data-target="#first-code">Copy</div>
            </div>
            <div class="code-text_body" id="first-code">cleos net connect https://eos.example.com:1234

            </div>

        </div>
        <h3>Step IV.</h3>
        <p>Obtain your account information:</p>
        <div class="code-text_wrap">
            <div class="code-text_header">
                <div class="lang-name copy-btn" data-target="#first-code">Copy</div>
            </div>
            <div class="code-text_body" id="first-code">$ cleos get account eosio


            </div>

        </div>
        <p class="small-text">Note:</p>
        <p>If you do not remember your account name you can find it here by inputting your public key in the search
            field.</p>
        <h3>Step V.</h3>
        <p>Now you can stake your EOS as shown:</p>
        <div class="code-text_wrap">
            <div class="code-text_header">
                <div class="lang-name copy-btn" data-target="#first-code">Copy</div>
            </div>
            <div class="code-text_body" id="first-code">cleos system delegatebw accountname1 accountname2 "1 SYS" "1
                SYS"

            </div>

        </div>
        <p><span class="pre-text">from TEXT</span> - The account delegating bandwidth</p>
        <p><span class="pre-text">receiver TEXT</span> - The account to delegate bandwidth from</p>
        <p><span class="pre-text">stake_net_quantity TEXT</span> - The amount of EOS to delegate for network bandwidth</p>
        <p><span class="pre-text">stake_cpu_quantity TEXT</span> - The amount of EOS to delegate for CPU bandwidth</p>
        <h3>Step VI</h3>
        <p>View the list of block producers by:</p>
        <div class="code-text_wrap">
                <div class="code-text_header">
                    <div class="lang-name copy-btn" data-target="#first-code">Copy</div>
                </div>
                <div class="code-text_body" id="first-code">cleos system listproducers
    
                </div>
    
            </div>
            <h3>Step VII</h3>
            <p>Vote for one or multiple block producers as follows:</p>
            <div class="code-text_wrap">
                    <div class="code-text_header">
                        <div class="lang-name copy-btn" data-target="#first-code">Copy</div>
                    </div>
                    <div class="code-text_body" id="first-code">cleos system voteproducer prods blockproducername1 blockproducername2 blockproducername3
                            <span class="next-line-code">cleos system listproducers</span>
                    </div>
        
                </div>
                <h2 class="text-page_title with-line text-page_title-content">All set!</h2>
                <p>You can vote for up to 30 block producers. We humbly present our candidacy for your consideration.</p>
                <p>Eoshorizon BP goes under the name ‘eoshorizonio’.</p>
                <h2 class="text-page_title with-line text-page_title-content">Using Greymass to vote for a block producer</h2>
                <div class="text-page-columns">
                    <div class="text-page-column">
                            <p class="small-text">Below we will describe how one can vote for a block producer using command line
                                    interface. This procedure is considerably more time consuming and requires significant technical expertise.
                                    It is recommended for relatively more experienced users</p>
                                    <h3>Step I.</h3>
                                    <p>Begin by downloading and installing the Greymass tool here:<br>
                                        <a href="https://github.com/greymass/eos-voter">https://github.com/greymass/eos-voter</a>
                                    </p>

                                    <h3>Step II.</h3>
                                    <p>Then, select an EOS node from the list provided here:<br>
                                        <a href="https://github.com/greymass/eos-voter/blob/master/nodes.md">https://github.com/greymass/eos-voter/blob/master/nodes.md</a>
                                    </p>
                    </div>
                    <div class="text-page-column text-page-column-image">
                        <img src="static/img/general/vote1.jpg" alt="image">
                    </div>
                </div>
                <h3>Step III.</h3>
                <p>Now you have to enter your:</p>
                <div class="text-page-columns half-columns">
                    <div class="text-page-column">
                        <p>Account name / public key,<br>
                                then press “Lookup Account”</p>
                        <img src="static/img/general/vote2.jpg" alt="image">
                    </div>
                    <div class="text-page-column">
                            <p>Private key, <br>
                                    and press “Compare Keys”</p>
                        <img src="static/img/general/vote2.jpg" alt="image">
                    </div>
                </div>
                <h3>Step IV.</h3>
                <p>Enter the wallet and access the Producer Voting page. You can vote for up to 30 block producers.</p>
            </div>
</div>
