.text-page .top-side-section .container {
    width: 1000px;
    @media screen and (max-width: 1030px) {
        width: 100%;
        padding: 0 15px;
    }
}

.next-line-code {
    display: block;
    padding-top: 10px;
}

.text-page_title-content {
    margin-top: 60px;
}

.text-page-columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @media screen and (max-width: 860px) {
        display: block;
    }
}

.text-page-column-image {
    padding-left: 30px;
    @media screen and (max-width: 860px) {
        padding-left: 0;
    }
    img {
        display: block;
        margin-top: 25px;
        @media screen and (max-width: 410px) {
            width: 100%;
        }
    }
}

.half-columns {
    .text-page-column {
        width: 50%;
        img {
            margin-top: 25px;
            @media screen and (max-width: 410px) {
                width: 100%;
            }
        }
    }
}

.container-team {
    max-width: 1470px !important;
    width: 100%  !important;
    padding-right: 15px;
    padding-left: 15px;
}