<div class="text-page-title-wrapper">
    <h1>Code of Conduct</h1>
</div>
<div class="container">
    <div class="text-page-content text-page_container">
        <span class="bold-text">We, as EOS Horizon, the ØxGames-powered Block Producer stand firm behind our commitment
            to take our best efforts to serve the growing community of EOS. Our values and the code of conduct we
            hereby commit to abide are described in detail below. </span>
        <h2 class="text-page_title with-line">Our Values</h2>
        <p class="string-margin-more">We are committed to using all fee rewards and other benefits accruing to us from
            producing EOS blocks for the development and marketing more dApps, thereby further enriching the
            surrounding ecosystem. Transparent and, hence, verifiably fair or ‘trustless’, this process will be
            completely aligned with the values that have been, are, and forever will be powering our work, our team and
            our ideals. <b>These values are:</b></p>
        <ol class="sub-ol">
            <li>Fairness to community, transparency to each and every stakeholder, </li>
            <li>Dedication to burning as much midnight oil as it takes to improve upon the results of yesterday, </li>
            <li>Open-source code, and beyond anything, </li>
            <li>Inspiration looming through every detail of products we create. </li>
        </ol>
        <h2 class="text-page_title with-line">Code of Conduct</h2>
        <h3>Community-driven performance</h3>
        <p>In any and all of our undertakings, decisions and actions we hereby commit to act ethically and
            transparently. Subject to all current and future limitations imposed by EOS Constitution and the
            decisions of EOS Arbitrators, our ultimate goal defining and shaping our actions is to maximize the value
            of EOS ecosystem. Thus, we view the EOS community as the ultimate beneficiaries of our actions.
        </p>
        <p>Our business revolves around the creation of dApps. Through years, we have acquired vast experience and deep
            expertise in operating within, and serving the interests of, decentralized communities. At all times these
            shall remain our highest priorities irrespective of the decentralized network we deploy our applications
            on.
        </p>
        <h3>EOS Constitution and decisions of Arbitrators</h3>
        <p>We hereby commit to perform all of our actions in strict compliance with the most recent version of the
            EOS Constitution. In all such cases that involve a dispute and might be subject to interpretation we
            hereby, commit to abide by the decisions of Arbitrators elected by the EOS community.
        </p>
        <h3>Transparency and Independence</h3>
        <p>We hereby commit or structure our operations and decision making processes in a way that would ensure
            absence of any conflicts of interest and enforce transparency disclosing in timely and consistent manner
            all the information relevant for our status of an independent and unbiased block explorer. In particular,
            we ensure the absence of any operational or financial bias by holding no stake - directly or indirectly -
            in other block producers and by not operating and/or having no interest, monetary or otherwise in
            operations of other block producers on any single chain built on EOS software. Other block producers do
            not and will never have any stake in ØxGames.
        </p>
        <p>All the rewards accruing to ØxGames as a result of our BP activity will be transparently reallocated back
            into the community by financing (a) the scaling of our infrastructure to always keep up to date with the
            technical requirements imposed by the level of activity of EOS blockchain, and (b) the development and
            deployment of dApps and any other software that would promote the adoption and improvement of the
            underlying EOS blockchain infrastructure.
        </p>
        <h3>Optimal Network Performance</h3>
        <p>ØxUniverse is consistently among top three most popular dApps on the Ethereum blockchain based on TX volume.
            In the years following its creation we have acquired deep expertise in working with and scaling high-load
            decentralized networks.
        </p>
        <p>We hereby commit to put all the reasonable efforts to promote high network performance by all the means
            available subject to limitations elaborated upon in Code of Conduct and regproducer agreement as well as in
            the EOS Constitution and the decisions of the elected Arbitrators. We hereby pledge to provide all the
            resources, human, financial, technological and others that bare relevance, to the initial creation,
            subsequent maintenance and continuous improvement of the technical infrastructure underlying the
            performance of the BP.
        </p>
        <h3>Vote buying</h3>
        <p>We consider vote buying and other similar manipulations of the voting process to be by far the largest
            enemies, by far the single largest friction on the market for delegated decision making power.
        </p>
        <p>We will abstain from providing any remuneration, monetary or otherwise, for the votes given or potentially
            to be given to us by any participant of the EOS ecosystem. We will provide the full transparency about any
            and all of our transactions clarifying the economic nature of these transactions.
        </p>
    </div>
</div>
