* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Ubuntu', sans-serif;

    overflow-x: hidden;

    margin: 0;
    padding: 0;

    -webkit-font-smoothing: antialiased;
    font-variant-numeric: lining-nums;
    font-feature-settings: 'lnum'1;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;

    margin: 0;
}

.index-page {
    position: relative;

    min-height: auto;

    background-color: #000;

    .footer-index {
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;

        background: none;

        @media screen and(max-width: 1023px) {
            position: relative;

            background: url(../img/general/bg_footer.jpg) no-repeat center;
            background-size: cover;
        }
    }
}

.index-content {
    height: 100%;
    padding-top: 190px;

    h1 {
        font-size: 1.7vw;
        line-height: 2.7vw;

        margin-top: 5%;

        letter-spacing: .9px;

        color: #fff;

        span {
            color: #65fffd;
        }

        @media screen and (max-width: 1023px) {
            font-size: 22px;
            line-height: 32px;

            margin-top: 5px;
        }

        @media (max-width: 426px) {
            font-size: 18px;
            line-height: 20px;
        }
    }
}

.index-container {
    display: flex;

    width: 100%;
    max-width: 1920px;
    height: 100%;
    margin-top: 10.6%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 12.5%;
    padding-left: 12.5%;

    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: 1023px) {
        margin-top: 0;
        padding-top: 0;
        padding-right: 50px;
        padding-left: 50px;
    }

    @media (max-width: 699px) {
        flex-direction: column-reverse;

        align-items: flex-end;
        justify-content: flex-end;
    }

    @media (max-width: 499px) {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.index-container_left {
    max-width: 43%;

    @media (max-width: 1023px) {
        max-width: 60%;
    }

    @media (max-width: 699px) {
        display: inline-block;

        max-width: unset;
        margin-top: 300px;

        align-self: center;
    }

    @media (max-width: 426px) {
        margin-top: 150px;
    }
}

.title_icon {
    display: block;

    width: 100%;

    fill: #fff;

    @media (max-width: 1023px) {
        width: 400px;
    }

    @media (max-width: 426px) {
        width: 290px;
    }
}

.parallax-wrapper {
    overflow: hidden;

    width: 100%;
    height: 110vh;
    min-height: 720px;
    margin: 0;
    padding: 0;

    list-style: none;

    pointer-events: auto !important;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (max-width: 1023px) {
        position: relative;

        height: 1040px;
        min-height: unset;
        padding-top: 120px;

        background-image: url(../img/general/parallax_960.jpg);
        background-position: top center;
    }

    @media (max-width: 699px) {
        height: 920px;
    }

    @media (max-width: 426px) {
        height: 720px;
    }
}

.parallax-slide {
    display: block;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


.parallax_bg {
    position: absolute;
    z-index: 0;
    top: -2.5%;
    left: -2.5%;

    width: 105%;
    height: 105%;

    background-image: url(../img/general/space.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
}

.parallax_planet {
    position: absolute;
    top: -5%;
    left: -5%;

    width: 110%;
    height: 110%;

    background-image: url(../img/general/planet.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.parallax_planet-mini {
    position: absolute;
    top: -5%;
    left: -5%;

    width: 110%;
    height: 110%;

    background-image: url(../img/general/planet-mini.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.parallax_eos {
    position: absolute;
    top: -5%;
    left: -5%;

    width: 110%;
    height: 110%;

    background-image: url(../img/general/eos_logo.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.parallax_fly-1 {
    position: absolute;
    top: -5%;
    left: -5%;

    width: 110%;
    height: 110%;

    background-image: url('../img/general/fly.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.parallax_window {
    position: absolute;
    top: -5%;
    left: -5%;

    width: 110%;
    height: 110%;

    background-image: url(../img/general/window.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.parallax_light {
    position: absolute;
    top: -5%;
    left: -5%;

    width: 110%;
    height: 110%;

    opacity: .1;
    background-image: url(../img/general/light.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    &.animate {
        animation: light .4s forwards;
    }

    &.light {
        opacity: 1;
    }

    &.orange {
        background-image: url(../img/general/light-orange.png);
    }
}

.head-hover {
    background-image: url(../img/general/light-orange.png);
}

@keyframes light {
    0% {
        opacity: .05;
    }

    10% {
        opacity: .25;
    }

    20% {
        opacity: .15;
    }

    30% {
        opacity: 0, 5;
    }

    40% {
        opacity: .2;
    }

    50% {
        opacity: .3;
    }

    60% {
        opacity: .5;
    }

    70% {
        opacity: .2;
    }

    80% {
        opacity: .05;
    }

    90% {
        opacity: .1;
    }

    100% {
        opacity: 1;
    }
}

.layer {
    @media (max-width: 1023px) {
        display: none;

        &.index-content,
        &.games-content {
            display: block;
        }
    }
}

.parallax_btn-border {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: url(#parallax_btn-gradient);
}

.parallax_btn-wrap {
    position: relative;

    display: flex;
    flex-direction: column;

    margin-top: 6%;
    margin-right: 10%;

    justify-content: flex-start;
    align-items: flex-end;

    @media (max-width: 1023px) {
        margin-right: 0;
    }

    @media (max-width: 579px) {
        margin-right: 30px;
        margin-left: auto;
    }

    @media (max-width: 409px) {
        margin-right: 15px;
    }
}

.parallax_btn-bg {
    opacity: .75;

    fill-rule: evenodd;
    clip-rule: evenodd;
}

.parallax_btn {
    font-size: 1.5vw;
    line-height: 1.5vw;

    position: relative;

    display: block;

    cursor: pointer;
    text-decoration: none;

    color: #fff;

    @media (max-width: 1459px) {
        font-size: 18px;
        line-height: 18px;
    }

    @media (max-width: 1023px) {
        font-size: 24px;
        line-height: 24px;
    }

    svg {
        display: block;
    }

    span {
        position: absolute;
        top: 50%;
        left: 50%;

        width: 100%;

        transform: translate(-50%, -50%);
        text-align: center;
    }

    &+.parallax_btn {
        margin-top: 80px;
        margin-right: 0;

        @media (max-width: 369px) {
            margin-top: 60px;
        }
    }
}

.parallax_btn-circle {
    width: 10.7vw;
    min-width: 140px;
    height: 10.7vw;
    min-height: 140px;

    svg {
        overflow: visible;

        width: 100%;
        height: 100%;
    }

    @media (max-width: 1023px) {
        min-width: 170px;
        min-height: 170px;
    }

    @media (max-width: 369px) {
        min-width: 150px;
        min-height: 150px;
    }
}

.line-small-circle {
    position: absolute;
    top: -21px;
    left: 28px;

    pointer-events: none;

    @media (max-width: 1023px) {
        left: -52px;

        transform: scaleX(-1);
    }
}

.small-circle-btn_wrap {
    position: relative;

    display: block;

    width: 52px;
    height: 52px;

    transition: .4s;

    &:hover {
        transform: scale(1.1);
    }

    @media (max-width: 1023px) {
        margin-right: 100px;
    }

    @media (max-width: 767px) {
        margin-right: -20px;
    }
}

.parallax_btn-circle-small-text {
    font-size: 1.1vw;

    position: absolute;
    top: -31px;
    left: 109px;

    white-space: nowrap;

    color: #fff;

    @media (max-width: 1459px) {
        font-size: 16px;
    }

    @media (max-width: 1023px) {
        font-size: 18px;

        top: -34px;
        left: -140px;
    }
}

.games-content {
    height: 50px;
    z-index: 100;
}

.games_header {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.35;
    transition: opacity .4s ease;
}

.games_header:hover {
    opacity: 1;
}

.btn-more {
    font-size: 18px;
    line-height: 18px;

    position: relative;

    padding: 20px 40px;

    transition: .4s ease;
    text-decoration: none;
    letter-spacing: 6px;
    text-transform: uppercase;

    color: #65fffd;
    border: 1px solid rgba(101, 255, 253, .3);
    box-shadow: inset 0 0 9px 0 rgba(101, 255, 253, .5);

    &:hover {
        color: #fff;

        & .btn_border-angle {
            width: 55%;
            height: 55%;
        }
    }

    &:active {
        background-color: rgba(101, 255, 253, .3);
    }

    @media (max-width: 620px) {
        font-size: 12px;
        line-height: 12px;
    }
}

.btn_border-text {
    text-shadow: 0 0 9px rgba(150, 202, 255, 1);
}

.btn_border-angle {
    position: absolute;
    z-index: 5;

    display: block;

    width: 5px;
    height: 5px;

    transition: .4s ease;
}

.top-left {
    top: -1px;
    left: -1px;

    border-top: 2px solid #65fffd;
    border-left: 2px solid #65fffd;
}

.top-right {
    top: -1px;
    right: -1px;

    border-top: 2px solid #65fffd;
    border-right: 2px solid #65fffd;
}

.bottom-right {
    right: -1px;
    bottom: -1px;

    border-right: 2px solid #65fffd;
    border-bottom: 2px solid #65fffd;
}

.bottom-left {
    bottom: -1px;
    left: -1px;

    border-bottom: 2px solid #65fffd;
    border-left: 2px solid #65fffd;
}

.block-2 {
    width: 100%;
    margin-top: 60px;

    @media (max-width: 1023px) {
        margin-top: 160px;
    }
}

.block-2_about {
    position: relative;

    width: 100%;

    color: #fff;
}

.block-2_about-title {
    font-size: 45px;
    font-weight: 300;
    line-height: 45px;

    margin-bottom: 70px;

    text-align: center;
}

.block-2_about-wrap-column {
    display: flex;

    justify-content: flex-start;
    align-items: stretch;
    @media (max-width: 959px) {
        flex-direction: column;
    }
}

.block-2_about-left-column {
    position: relative;

    display: flex;

    width: 50%;
    padding-right: 80px;

    justify-content: flex-end;
    align-items: center;

    & .btn_border-angle {
        border-color: #fff;
    }

    &:hover {
        & .block-2_about-btn_wrap {
            opacity: 1;
        }

        & .block-2_about-ship {
            opacity: .3;
        }
    }
    @media (max-width: 959px) {
        width: 100%;
        order: 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-right: 0;
        width: calc(100% + 30px);
        margin-left: -15px;
    }
}

.block-2_about-btn_wrap {
    transition: .4s ease;

    opacity: 0;
    @media (max-width: 959px) {
        opacity: 1;
        margin-top: 30px;
    }
}

.block-2_about-ship {
    position: absolute;
    top: 0;
    right: 0;

    width: 100%;
    height: 100%;

    transition: .4s ease;
    pointer-events: none;

    opacity: 1;
    @media (max-width: 959px) {
        position: static;
        overflow: hidden;
    }
}

.about_ship-1 {
    position: absolute;
    z-index: 1;
    top: -180px;
    left: 50px;
    max-width: 170%;

    transition: .4s ease;

    &.animate {
        opacity: 1;
    }
    @media (max-width: 1419px) {
        left: -100px;
    }
    @media (max-width: 959px) {
       display: none;
    }
}

.about_ship-2 {
    position: absolute;
    z-index: 2;
    top: -180px;
    left: 50px;
    max-width: 170%;

    transition: .4s ease;

    opacity: 0;

    &.animate {
        opacity: 1;
    }
    @media (max-width: 1419px) {
        left: -100px;
    }
    @media (max-width: 959px) {
       display: none;
    }
}

.about_ship-3 {
    position: absolute;
    z-index: 3;
    top: -180px;
    left: 50px;
    max-width: 170%;

    transition: .4s ease;

    opacity: 0;

    &.animate {
        opacity: 1;
    }
    @media (max-width: 1419px) {
        left: -100px;
    }
    @media (max-width: 959px) {
       display: none;
    }
}

.about_ship-4 {
    position: absolute;
    z-index: 4;
    top: -180px;
    left: 50px;
    max-width: 170%;

    transition: .4s ease;

    opacity: 0;

    &.animate {
        opacity: 1;
    }
    @media (max-width: 1419px) {
        left: -100px;
    }
    @media (max-width: 959px) {
        position: relative;
        top: 0;
        left: -50px;
        max-width: calc(100% + 140px);
        opacity: 1;
    }
}


.block-2_about-right-column {
    width: 50%;
    min-width: 450px;
    padding-right: 90px;
    padding-left: 95px;

    & p:nth-child(1) {
        font-size: 25px;
        line-height: 32px;
        @media (max-width: 620px) {
            font-size: 18px;
            line-height: 25px;
        }
    }

    & p:nth-child(2) {
        font-size: 18px;
        line-height: 24px;

        margin-top: 25px;
        @media (max-width: 620px) {
            font-size: 15px;
            line-height: 23px;
        }
    }

    & p:nth-child(3) {
        font-size: 18px;
        line-height: 24px;

        margin-top: 10px;
        @media (max-width: 620px) {
            font-size: 15px;
            line-height: 23px;
        }
    }

    @media (max-width: 1419px) {
        padding-left: 0;
        padding-right: 0;
    }
    @media (max-width: 959px) {
        width: 100%;
        order: 1;
        min-width: 100%;
    }
}

.block-3_eosio {
    position: relative;

    &:after {
        position: absolute;
        top: 50%;
        left: 50%;

        width: 1270px;
        max-width: 100%;
        height: 500px;

        content: '';
        transform: translate(-50%, -50%);
        animation: flash 3s linear infinite;

        background-image: url(../img/general/eosio.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        @media (max-width: 620px) {
            height: 410px;
        }
    }
}

@keyframes flash {
    0% {
        opacity: .1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: .1;
    }
}

.subtitle-index {
    font-size: 50px;
    font-weight: 300;

    position: relative;

    display: inline-block;

    text-transform: uppercase;

    color: #fff;

    @media (max-width: 620px) {
        font-size: 35px;
    }

    &.center {
        position: relative;
        left: 50%;

        display: inline-block;

        transform: translateX(-50%);
    }

    &:before {
        position: absolute;
        bottom: -4px;
        left: 0;

        width: 100%;
        height: 2px;

        content: '';

        background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #1ddef0 50%, rgba(0, 0, 0, 0) 100%);
    }
}

.block-4-team-column-one {
    @media (max-width: 800px) {
        p {
            margin-bottom: 16px;
        }
    }
}

.top-side-bg-wrapper {
    position: relative;

    overflow: hidden;

    width: 100%;

    background-position-y: top;
    background-size: 100%;

    @media (max-width: 1023px) {
        overflow: visible;

        padding-bottom: 260px;

        background-image: url(../img/general/bg-top-side-960.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}


.block_wrapper-top {
    position: absolute;
    top: 45px;
    left: 0;

    width: 100%;
    @media (max-width: 1299px) {
        top: -55px;
    }

    @media (max-width: 1023px) {
        position: relative;
        top: 0;
        left: 0;
    }
}

.columns-text {
    display: flex;

    margin-bottom: 50px;

    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    p {
        font-size: 15px;
        line-height: 23px;

        width: 50%;

        color: #fff;

        &:first-child {
            padding-right: 30px;
        }

        &:nth-child(2) {
            padding-left: 30px;
        }
    }

    span {
        color: #65fffd;
    }

    .block-2_left-text {
        font-size: 32px;
        line-height: 46px;

        width: 60%;

        @media (max-width: 1023px) {
            font-size: 24px;
            line-height: 30px;

            width: 100%;
            max-width: 700px;
        }

        @media (max-width: 620px) {
            font-size: 15px;
            line-height: 23px;
        }
    }

    .block-2_right-text {
        width: 40%;

        p {
            font-size: 18px;
            line-height: 28px;

            width: 100%;

            &:first-child {
                padding-right: 0;

                @media (max-width: 1023px) {
                    padding-right: 20px;
                }

                @media (max-width: 620px) {
                    padding-right: 0;
                }
            }

            &:nth-child(2) {
                font-weight: 700;

                margin-top: 25px;
                padding-left: 0;

                @media (max-width: 1023px) {
                    margin-top: 0;
                    padding-left: 20px;
                }

                @media (max-width: 620px) {
                    margin-top: 15px;
                    padding-left: 0;
                }
            }

            @media (max-width: 620px) {
                font-size: 15px;
                line-height: 23px;
            }
        }

        @media (max-width: 1023px) {
            display: flex;

            width: 100%;
            margin-top: 35px;

            justify-content: space-between;
            align-items: flex-start;
        }

        @media (max-width: 620px) {
            flex-direction: column;

            margin-top: 15px;
        }
    }
}


.block-2 .btn-more {
    display: inline-block;
}

.block-2 .subtitle-index {
    margin-bottom: 54px;
}

.subtitle-index-center {
    max-width: 830px;
    margin-right: auto;
    margin-left: auto;

    text-align: center;

    color: #fff;

    p:nth-child(1) {
        font-size: 26px;
        line-height: 35px;

        @media (max-width: 620px) {
            font-size: 15px;
            line-height: 23px;
        }
    }

    p:nth-child(2) {
        font-size: 18px;
        line-height: 28px;

        margin-top: 30px;

        @media (max-width: 620px) {
            font-size: 15px;
            line-height: 23px;
        }
    }
}

.block-3 {
    margin-top: 250px;
}

.eosio-ttile {
    margin-bottom: 50px;
}

.block-3-about {
    margin-top: 200px;

    @media (max-width: 1023px) {
        margin-top: 190px;
    }
}

.block-3-about-columns {
    position: relative;
    z-index: 1;

    display: flex;

    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
            @media (max-width: 759px) {
                flex-direction: column;
                align-items: flex-start;
            }

    &>p {
        font-size: 18px;
        line-height: 28px;

        position: relative;

        padding-left: 48px;

        color: #fff;
        @media (max-width: 620px) {
            font-size: 15px;
            line-height: 23px;
        }

        &:before {
            position: absolute;
            top: -15px;
            left: 0;

            width: 50px;
            height: 160px;

            content: '';

            background-image: url(../img/general/eosio-bd.svg);
            background-repeat: no-repeat;
            background-size: contain;
            @media (max-width: 620px) {
               height: 130px;
            }
        }

        &:nth-child(2) {
            width: 360px;
            margin-left: auto;
            @media (max-width: 759px) {
                margin-left: 0;
            }
            @media (max-width: 620px) {
                width: 310px;
            }
        }

        &:nth-child(3) {
            width: 260px;
            margin-right: auto;
            margin-left: 80px;
            @media (max-width: 759px) {
                margin-left: 0;
                margin-right: 0;
                margin-top: 40px;
            }
        }
    }
}

.block-3-about-column {
    max-width: 530px;

    & p {
        font-size: 26px;
        line-height: 35px;

        margin-top: 50px;

        color: #fff;
        @media (max-width: 1299px) {
            max-width: 660px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 40px;
        }

        @media (max-width: 620px) {
            font-size: 18px;
            line-height: 25px;
        }
    }
    @media (max-width: 1299px) {
        max-width: 100%;
        width: 100%;
        text-align: center;
    }
}

.block-3-about-bottom {
    margin-top: 290px;

    text-align: center;

    & p {
        font-size: 26px;
        line-height: 35px;

        max-width: 750px;
        margin-right: auto;
        margin-left: auto;

        color: #fff;

        @media (max-width: 620px) {
            font-size: 18px;
            line-height: 25px;
        }
    }

    & .btn-more {
        display: inline-block;

        margin-top: 50px;
    }
    @media (max-width: 1299px) {
        margin-top: 220px;
    }
            @media (max-width: 759px) {
                margin-top: 50px;
            }
}


.simple-text {
    font-size: 18px;
    line-height: 28px;

    color: #fff;

    @media (max-width: 620px) {
        font-size: 15px;
        line-height: 23px;
    }
}

.columns-text .simple-text {
    font-size: 18px;
    line-height: 28px;

    &:first-child {
        padding-right: 15px;
    }

    &:nth-child(2) {
        padding-left: 15px;
    }
}

.column-title {
    font-size: 30px;
    line-height: 50px;

    margin-bottom: 25px;

    color: #fff;
}

.btn-more {
    &.center {
        position: relative;
        left: 50%;

        display: inline-block;

        transform: translateX(-50%);
    }
}

.bottom-side-bg-wrapper {
    height: auto;

    transform: translate3d(0px, 0px, 0px);

    @media (max-width: 1023px) {
        overflow: hidden;

        padding-top: 260px;

        background-image: url(../img/general/bg-bottom-side-960.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.all-page-wrapper {
    overflow: hidden;
}

.bottom-side-bg-wrapper_img {
    width: 100%;
}

.block-4 {
    text-align: center;
}

.unactive-block {
    transform: translateY(50px);

    opacity: 0;

    @media (max-width: 1023px) {
        transform: translateY(0);

        opacity: 1;
    }

    &.active {
        transition: .6s ease-in;
        transform: translateY(0);

        opacity: 1;
    }
}

.block_wrapper-bottom {
    position: absolute;
    top: 420px;
    left: 0;

    width: 100%;

    @media (max-width: 1023px) {
        position: relative;
        top: 0;
        left: 0;
    }
}

.ship_wrap {
    position: absolute;
    bottom: 410px;
    left: 20%;


    @media (max-width: 1299px) {
        bottom: 380px; 
    }

    @media (max-width: 1023px) {
        display: none;
    }
}

.block-4-value-single-image-wrapper {
    position: relative;

    width: 46px;
    height: 46px;

    svg {
        position: absolute;
        top: 50%;
        left: 50%;

        display: block;

        width: 100%;
        height: 100%;

        transform: translate(-50%, -50%);

        fill: #fca653;
    }
}

.block-4-value-single {
    display: flex;

    width: 50%;
    margin-bottom: 37px;
    padding-right: 40px;

    justify-content: flex-end;
    align-items: flex-start;

    &:nth-child(2n) {
        padding-right: 0;
        padding-left: 100px;

        justify-content: flex-start;

        @media (max-width: 800px) {
            padding-left: 0;
        }
    }

    &:nth-child(3),
    &:last-child {
        margin-bottom: 0;

        @media (max-width: 800px) {
            margin-bottom: 37px;
        }
    }

    @media (max-width: 800px) {
        width: auto;
        padding-right: 0;

        justify-content: flex-start;
    }
}

.block-4-value-single-text {
    font-size: 24px;
    line-height: 34px;

    margin-left: 20px;

    color: #fff;

    @media (max-width: 800px) {
        font-size: 20px;
        line-height: 30px;
    }

    @media (max-width: 620px) {
        font-size: 16px;
        line-height: 16px;
    }
}

.block-4-values {
    display: flex;

    margin-top: 85px;
    margin-bottom: 90px;

    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    @media (max-width: 800px) {
        display: block;

        margin-top: 55px;
        margin-bottom: 60px;
    }
}

.bg-bottom-side,
.bg-top-side {
    display: block;

    @media (max-width: 1130px) {
        object-fit: cover;
    }

    @media (max-width: 1023px) {
        display: none;
    }
}

.bg-bottom-side {
    transition: filter .4s;

    &.blur {
        filter: blur(10px);
    }
}

.top-side-stone {
    display: none;

    pointer-events: none;

    @media (max-width: 1023px) {
        position: absolute;
        z-index: 5;
        bottom: 0;
        left: 0;

        display: block;

        width: 100%;

        transform: translateY(50%);
    }
}

.bottom-side-stone {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;

    transform: translateY(-50%);
    pointer-events: none;

    @media (max-width: 1023px) {
        display: none;
    }
}

.block-4-value-single-width {
    display: flex;

    width: 100%;
    max-width: 420px;
    height: 100%;

    justify-content: flex-start;
    align-items: center;

    @media (max-width: 800px) {
        margin: auto;
    }
}

.block-4-team-columns {
    position: relative;

    & .btn-more {
        display: inline-block;

        margin-top: 55px;
    }

    h2 {
        margin-bottom: 50px;
    }

    p {
        font-size: 25px;
        font-weight: 300;
        line-height: 28px;

        max-width: 640px;

        color: #fff;

        &+p {
            margin-top: 45px;

            @media (max-width: 620px) {
                margin-top: 20px;
            }
        }

        & span {
            font-weight: 700;
        }

        @media (max-width: 620px) {
            font-size: 15px;
            line-height: 23px;
        }
    }

    @media (max-width: 620px) {
        margin-bottom: 55px;
    }
}

.block-4-team-single-content-prof .team_block-separator {
    @media (max-width: 1199px) {
        bottom: -11px;
    }

    @media (max-width: 620px) {
        right: unset;
        left: 48px;

        width: 88%;
    }
}

.block-4-team-column {
    &:first-child {
        width: 520px;

        @media (max-width: 800px) {
            width: 100%;
        }

        @media screen and (max-width: 1150px) {
            padding-right: 70px;
        }

        @media screen and (max-width: 890px) {
            padding-right: 55px;
        }
    }
}

.block-4-team {
    padding-top: 210px;

    @media (max-width: 620px) {
        padding-top: 120px;
    }
}

.block-4-team-column-two {
    h2 {
        margin-bottom: 60px;
    }

    p {
        margin-bottom: 16px;
    }

    .btn-more {
        display: inline-block;

        margin-top: 50px;
    }
}

.block-4-team-single {
    display: flex;

    width: 50%;

    justify-content: flex-start;
    align-items: flex-start;

    @media screen and (max-width: 1230px) {
        width: 592px;
        margin-bottom: 38px;
    }

    &:first-child {
        padding-right: 80px;

        @media screen and (max-width: 1230px) {
            padding-right: 0;
        }
    }

    &:nth-child(2) {
        padding-left: 80px;

        @media screen and (max-width: 1230px) {
            padding-left: 0;
        }
    }

    @media screen and (max-width: 620px) {
        display: block;

        width: 100%;
        margin-bottom: 60px;
    }
}

.block-4-team-single-image-wrapper {
    width: 231px;

    img {
        margin-top: -30px;
        margin-left: -71px;

        @media screen and (max-width: 620px) {
            width: 268px;
            margin-left: 0;
        }
    }

    @media screen and (max-width: 620px) {
        height: 116px;
    }
}

.block-4-team-single-content-name {
    font-size: 18px;
    font-weight: 700;

    color: #fff;

    @media screen and (max-width: 620px) {
        padding-left: 47px;
    }
}

.block-4-team-single-content-prof {
    font-size: 18px;

    position: relative;

    margin-bottom: 25px;

    letter-spacing: 1.5px;
    text-transform: uppercase;

    color: #fff;

    @media screen and (max-width: 620px) {
        padding-left: 47px;
    }
}

.block-4-team-single-content-header {
    display: flex;

    margin-bottom: 12px;

    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 620px) {
        margin-bottom: 7px;
    }
}

.block-4-team-single-content-desc {
    font-size: 15px;
    line-height: 24px;

    text-align: justify;

    color: #fff;
}

.team-index-line {
    display: flex;
}

.block-4-team-index {
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;

    @media screen and (max-width: 1230px) {
        flex-direction: column;

        align-items: center;
    }
}

.big-size-text {
    font-size: 26px;
    font-weight: 300;
    line-height: 35px;

    color: #fff;

    @media screen and (max-width: 800px) {
        font-size: 18px;
        line-height: 28px;
    }

    @media screen and (max-width: 620px) {
        font-size: 15px;
        line-height: 23px;
    }
}

p.justify-text {
    text-align: justify;
}

.small-x {
    text-transform: lowercase;
}

.animation-two-circle-btn {
    transform-origin: 50% 50%;
    animation: animation-two-circle-btn 10s linear infinite;
}

.animation-one-circle-btn {
    transform-origin: 50% 50%;
    animation: animation-one-circle-btn 3.5s linear infinite;
}

.small-circle-btn {
    transform-origin: 50% 50%;
    animation: animation-one-circle-btn 10s linear infinite;
}

@keyframes animation-one-circle-btn {
    0% {
        transform: rotate(0deg);
    }


    100% {
        transform: rotate(360deg);
    }
}

@keyframes animation-two-circle-btn {
    0% {
        transform: rotate(-0deg);
    }


    100% {
        transform: rotate(-360deg);
    }
}

.parallax_btn-circle {
    svg {
        transition: .3s ease;
    }

    &:hover {
        svg {
            transform: scale(1.1);
        }
    }
}

.scatter-notification_wrap {
    position: fixed;
    z-index: 100;
    right: 25px;
    bottom: 30px;

    width: 380px;

    background-color: red;

    @media screen and (max-width: 620px) {
        right: 10px;
        bottom: 15px;

        width: 300px;
    }
}

.scatter-notification {
    font-size: 18px;
    line-height: 28px;

    position: absolute;
    right: 0;
    bottom: 0;

    width: 100%;
    padding: 20px 30px;
    padding-right: 10px;

    transition: .4s ease;
    transform: scale(.3);
    transform-origin: bottom right;
    pointer-events: none;

    opacity: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .8);

    will-change: transform;

    @media screen and (max-width: 620px) {
        font-size: 16px;
        line-height: 24px;

        padding: 10px 15px;
    }

    &.error {
        border-color: #ff2a00;
    }

    &.info {
        border-color: #0ff;
    }

    &.info-proxy {
        border-color: grey;

        & a {
            color: #ffa047;

            &:before {
                background: #ffa047;
            }
        }
    }

    &.active {
        transform: scale(1);
        pointer-events: auto;

        opacity: 1;
    }

    &.disable {
        display: none !important;
    }

    a {
        position: relative;

        display: inline-block;

        color: #00fdfa;

        &:before {
            position: absolute;
            bottom: 4px;
            left: 0;

            width: 100%;
            height: 1px;

            content: '';

            background: #65fffd8c;
        }
    }
}

.scatter-notification_title {
    margin-bottom: 10px;
}

.scatter-notification_info {
    font-size: 13px;
    line-height: 22px;

    margin-top: 5px;

    @media screen and (max-width: 620px) {
        font-size: 12px;
        line-height: 18px;
    }
}

.loader-set-proxy {
    position: absolute;
    top: -25px;
    left: -26px;

    display: none;

    width: 105px;
    height: 105px;

    text-align: center;

    svg path,
    svg rect {
        fill: #ffa047;
    }

    &.active {
        display: inline-block;
    }
}

.loader-vote {
    position: absolute;
    top: 50%;
    left: 50%;

    display: none;

    width: 135px;
    height: 135px;

    transform: translateX(-50%) translateY(-50%);
    text-align: center;

    svg path,
    svg rect {
        fill: #65fffd;
    }

    &.active {
        display: inline-block;
    }
}

.block-4-team-column-right {
    width: 460px;
    margin-top: 100px;
}

.block-4-team-img {
    position: absolute;
    bottom: -90px;
    left: 640px;

    width: 1140px;

    pointer-events: none;

    & img {
        display: block;

        max-width: 100%;
        @media (max-width: 620px) {
        max-width: 130%;
    margin-left: -20px;
        }


    }

    @media (max-width: 1023px) {
        position: static;

        width: 100%;
        margin-top: 60px;
    }
}

.team-image-index {
    margin-top: -50px;

    text-align: center;

    img {
        position: relative;
        left: 50%;

        transform: translateX(-50%);
    }
}

.number-list {
    position: relative;

    padding-left: 45px;

    &:nth-child(2) {
        &:before {
            content: '2';
        }
    }

    &:before {
        font-size: 18px;

        position: absolute;
        left: 0;

        box-sizing: border-box;
        width: 34px;
        height: 34px;
        padding-top: 4px;

        content: '1';
        text-align: center;

        background-image: url(../img/general/bord.svg);
        background-size: cover;
    }
}

.cross-notification {
    position: absolute;
    right: 20px;
    top: 22px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        transform: rotate(45deg);
        background: #ffffff;
        border-radius: 40px;
        left: 0;
        top: 10px;
    }
    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        transform: rotate(-45deg);
        background: #ffffff;
        border-radius: 40px;
        left: 0;
        top: 10px;
    }
}