<div id="preloader">
    <div class="preloader_icon" style="background-image: url(/preload.gif);"></div>
    <div class="preloader_percent">
        <div class="preloader_line">
            <div id="preloader_line" style="" class="preloader_line-current"></div>
        </div>
        <div id="preloader_text" class="preloader_text">0%</div>
    </div>
</div>
<ul class="parallax-wrapper" id="scene">
    <li class="parallax-slide layer" data-depth="0.05">
        <div class="parallax_bg"></div>
    </li>
    <li class="parallax-slide layer" data-depth="0.1">
        <div class="parallax_eos"></div>
    </li>
    <li class="parallax-slide layer" data-depth="0.15">
        <div class="parallax_planet"></div>
    </li>
    <li class="parallax-slide layer" data-depth="0.2">
        <div class="parallax_planet-mini"></div>
    </li>
    <li class="parallax-slide layer" data-depth="0.2">
        <div class="parallax_fly-1 animate"></div>
    </li>
    <li class="parallax-slide layer" data-depth="0.4">
        <div class="parallax_window"></div>
        <div class="parallax_light"></div>
        <div class="head-hover"></div>
    </li>
    <li class="parallax-slide layer games-content" data-depth="0">
        <a href="https://0x.games" class="games_header">
            <img src="static/img/general/games_header.png" alt="">
        </a>
    </li>
    <li class="parallax-slide layer index-content" data-depth="0.15">
        <div class="index-container">
            <div class="index-container_left">
                {{Icon iconName='title' className='title_icon'}}
                <h1><span>Expanding the EOS Universe</span></h1>
            </div>
            <div class="parallax_btn-wrap">
                <span class="parallax_btn parallax_btn-circle" id="vote-producer">
                    <span class="how-to-vote-text-btn">Vote</span>
                    <div class="loader loader-vote ">
                            <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                width="105px" height="105px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                            <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
                                s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
                                c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
                            <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
                                C22.32,8.481,24.301,9.057,26.013,10.047z">
                                <animateTransform attributeType="xml"
                                attributeName="transform"
                                type="rotate"
                                from="0 20 20"
                                to="360 20 20"
                                dur="0.5s"
                                repeatCount="indefinite"/>
                                </path>
                            </svg>
                            </div>
                    <svg version="1.1" id="Elements" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px" y="0px" width="210.4px" height="213px" viewBox="0 0 210.4 213" style="enable-background:new 0 0 210.4 213;"
                        xml:space="preserve">
                        <style type="text/css">
                            .st120 {
                                fill: #65FFFD;
                            }

                            .st121 {
                                opacity: 0.35;
                                fill: #65FFFD;
                            }

                            .st122 {
                                opacity: 0.25;
                                fill: #65FFFD;
                            }

                        </style>
                        <g class="animation-one-circle-btn">
                            <g class="animation-two-circle-btn">
                                <path fill="#65FFFD" d="M103.1,30.3v-5.5c-21,0.5-40,9-54.2,22.5l3.9,3.9C66,38.7,83.7,30.9,103.1,30.3z" />
                                <path fill="#65FFFD" d="M157.8,50.9l3.7-3.7c-14.2-13.5-33.3-22-54.2-22.5v5.5C126.8,30.7,144.6,38.5,157.8,50.9z" />
                                <path fill="#65FFFD" d="M28.8,108.6h-5.4c0.5,21,9,40,22.5,54.2l3.6-3.6C37,146,29.3,128.2,28.8,108.6z" />
                                <path fill="#65FFFD" d="M49.9,54.1l-3.9-3.9c-13.5,14.2-22,33.3-22.5,54.2h5.4C29.4,85,37.3,67.3,49.9,54.1z" />
                                <path fill="#65FFFD" d="M52.4,162.2l-3.5,3.5c14.2,13.5,33.3,22,54.2,22.5v-4.8C83.5,182.9,65.7,174.9,52.4,162.2z" />
                                <path fill="#65FFFD" opacity="0.35" d="M161.2,159.5l3.3,3.3c13.5-14.2,22-33.3,22.5-54.2h-4.9C181.6,128.3,173.8,146.2,161.2,159.5z" />
                                <path fill="#65FFFD" opacity="0.35" d="M107.3,183.5v4.8c21-0.5,40-9,54.2-22.5l-3.3-3.3C144.9,175.1,127,183,107.3,183.5z" />
                                <path fill="#65FFFD" opacity="0.35" d="M182,104.4h4.9c-0.5-21-9-40-22.5-54.2l-3.7,3.7C173.5,67.1,181.4,84.8,182,104.4z" />
                            </g>
                            <path fill="#65FFFD" d="M128.7,204.8l1.6,6.7c4-0.9,7.9-2.1,11.7-3.4c3.8-1.4,7.6-3,11.3-4.8l-3.1-6.2 C143.5,200.4,136.3,203,128.7,204.8z" />
                            <path fill="#65FFFD" opacity="0.25" d="M13,141.9l-7.4,2.8c11.6,30.9,37.4,55.2,68.9,64.9c5,1.6,10.3,2.7,15.5,3.5l0.7-4.7c2.8,0.4,5.7,0.8,8.6,1 c2.3,0.1,4.5,0.2,6.8,0.2c0.1,0,0.1,0,0.2,0l0-2.2C63.3,207.3,26.7,180,13,141.9z" />
                            <path fill="#65FFFD" opacity="0.25" d="M106.2,9.1c16.6,0,32.2,4.1,45.9,11.2l0.2-0.3c11.8,6.2,22.1,14.8,30.4,25.1c3.8,4.7,7.3,9.7,10.2,15l7.5-4.1 c-13.5-25-35.8-43.3-62.9-51.6c-7.8-2.4-15.8-3.9-24-4.5l-0.3,4.8c-0.1,0-0.3,0-0.4,0c-4.9-0.3-9.9-0.3-14.7,0.1l0.4,4.6 C101,9.2,103.6,9.1,106.2,9.1z" />
                            <path fill="#65FFFD" d="M7.1,108.2c0-38.8,22.3-72.4,54.8-88.6l-2.1-4.1C48,21.5,37.6,29.6,29,39.4l-3.6-3.2 C15.3,47.7,8,60.9,3.5,75.5c-1.5,4.9-2.7,10-3.5,15l4.7,0.7c-0.5,3-0.8,6-1,9c-0.6,8.3-0.1,16.7,1.4,25l3.3-0.6 C7.6,119.3,7.1,113.8,7.1,108.2z" />
                            <path fill="#65FFFD" d="M205.8,130.4c1.3-5.4,2.1-10.9,2.5-16.6c0.5-7.8,0.1-15.6-1.1-23.3l-2.9,0.5c0.8,5.2,1.3,10.5,1.3,15.9 c0,29.6-13,56.2-33.6,74.4l2.1,2.4c2.6-2.3,5-4.7,7.4-7.2l3.5,3.2c10.8-11.7,18.9-25.9,23.6-41.1c0.7-2.3,1.4-4.7,1.9-7.1 L205.8,130.4z" />
                        </g>
                    </svg>

                </span>
                <span id="set-proxy" class="parallax_btn parallax_btn-circle-small" >
                    <div class="small-circle-btn_wrap">
                    <div class="loader loader-set-proxy">
                            <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                width="105px" height="105px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                            <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
                                s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
                                c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
                            <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
                                C22.32,8.481,24.301,9.057,26.013,10.047z">
                                <animateTransform attributeType="xml"
                                attributeName="transform"
                                type="rotate"
                                from="0 20 20"
                                to="360 20 20"
                                dur="0.5s"
                                repeatCount="indefinite"/>
                                </path>
                            </svg>
                            </div>
                    <svg class="small-circle-btn" version="1.1" id="Elements" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px" y="0px" width="53.7px" height="53.7px" viewBox="0 0 53.7 53.7" style="enable-background:new 0 0 53.7 53.7;"
                        xml:space="preserve">
                        <style type="text/css">
                            .st30 {
                                opacity: 0.25;
                            }

                            .st31 {
                                fill: #FFA047;
                            }

                            .st32 {
                                opacity: 0.35;
                            }

                        </style>
                        <g>
                            <g>
                                <g>
                                    <g class="st0">
                                        <path class="st31 st30" d="M26.8,47.1C15.7,47.1,6.6,38,6.6,26.8c0-11.2,9.1-20.2,20.2-20.2c11.1,0,20.2,9.1,20.2,20.2
                                       C47.1,38,38,47.1,26.8,47.1z M26.8,8.5c-10.1,0-18.3,8.2-18.3,18.3s8.2,18.3,18.3,18.3c10.1,0,18.3-8.2,18.3-18.3
                                       S36.9,8.5,26.8,8.5z" />
                                    </g>
                                    <g class="st2 st30">
                                        <path class="st31" d="M26.8,53.7C12,53.7,0,41.6,0,26.8C0,12,12,0,26.8,0c14.8,0,26.8,12,26.8,26.8
                                       C53.7,41.6,41.6,53.7,26.8,53.7z M26.8,0.7C12.4,0.7,0.7,12.4,0.7,26.8C0.7,41.2,12.4,53,26.8,53C41.2,53,53,41.2,53,26.8
                                       C53,12.4,41.2,0.7,26.8,0.7z" />
                                    </g>
                                    <g>
                                        <path class="st31" d="M26.8,34.4c-4.2,0-7.6-3.4-7.6-7.6c0-4.2,3.4-7.6,7.6-7.6c4.2,0,7.6,3.4,7.6,7.6C34.4,31,31,34.4,26.8,34.4
                                       z M26.8,20c-3.8,0-6.9,3.1-6.9,6.9c0,3.8,3.1,6.9,6.9,6.9c3.8,0,6.9-3.1,6.9-6.9C33.7,23.1,30.6,20,26.8,20z" />
                                    </g>
                                    <path class="st31" d="M24.4,26.8c0-1.3,1.1-2.4,2.4-2.4c1.3,0,2.4,1.1,2.4,2.4c0,1.3-1.1,2.4-2.4,2.4
                                   C25.5,29.2,24.4,28.2,24.4,26.8z" />
                                    <g>
                                        <path class="st31" d="M26.8,47.5c-11.4,0-20.7-9.3-20.7-20.7c0-2,0.3-3.9,0.8-5.8l2.8,0.8c-0.5,1.6-0.7,3.3-0.7,5
                                       c0,9.8,8,17.8,17.8,17.8c9.8,0,17.8-8,17.8-17.8C44.7,17,36.7,9,26.8,9V6.1c11.4,0,20.7,9.3,20.7,20.7
                                       C47.5,38.3,38.3,47.5,26.8,47.5z" />
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                    </div>
                    <svg class="line-small-circle" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="74.5px" height="48.2px" viewBox="0 0 74.5 48.2" style="enable-background:new 0 0 74.5 48.2;" xml:space="preserve">
                        <path fill="#FFFFFF" d="M74,0H44c0,0,0,0,0,0c0,0-0.1,0-0.1,0c0,0-0.1,0-0.1,0c0,0,0,0-0.1,0c0,0-0.1,0-0.1,0.1c0,0,0,0,0,0L0.1,47.3 c-0.2,0.2-0.2,0.5,0,0.7c0.1,0.1,0.2,0.1,0.3,0.1c0.1,0,0.3-0.1,0.4-0.2L44.2,1H74c0.3,0,0.5-0.2,0.5-0.5S74.2,0,74,0z" />
                    </svg>
                    <div class="parallax_btn-circle-small-text">Proxy 0x</div>
                </span>
            </div>
        </div>
    </li>
</ul>
<div id="scatter-notification" class="scatter-notification_wrap">
    <div class="scatter-notification error ">
        <div class="cross-notification"></div>
        <p class="scatter-notification_title">It seems like you either:</p>
        <p>1. Don’t have Scatter installed,</p>
        <p>2. Running, or </p>
        <p>3. You have denied giving the permission.</p>
        <p class="scatter-notification_info">You might want to get familiar with our “How to vote 0x?” page or with “How to install and use Scatter?” article.</p>
    </div>
    <div class="scatter-notification info">
        <div class="cross-notification"></div>
        <p class="scatter-notification_title">In order to Vote 0x:</p>
        <p>1. Install <a href="https://get-scatter.com/" target="_blank">Scatter</a></p>
        <p>2. Link your EOS account to Scatter</p>
        <p>3. Vote for zeroxeosnode</p>
    </div>
    <div class="scatter-notification info-proxy">
        <div class="cross-notification"></div>
        <p class="scatter-notification_title">In order to proxy 0x:            </p>
        <p>1. Install <a href="https://get-scatter.com/" target="_blank">Scatter</a></p>
        <p>2. Link your EOS account to Scatter</p>
        <p>3. Set eoshorizonio as your Proxy!</p>
    </div>
</div>
<div class="top-side-bg-wrapper">
    <img class="top-side-bg-wrapper_img bg-top-side" src="static/img/general/bg-top-side.jpg" alt="">
    <div class="block_wrapper-top">
        <div class="block-2">
            <div class="container">
                <div class="block-2_about">
                    <h2 id="about" class="block-2_about-title">About us</h2>
                    <div class="block-2_about-wrap-column">
                        <div class="block-2_about-left-column">
                            <div class="block-2_about-ship">
                                <img class="about_ship-1" src="static/img/general/ship-1.png" alt="">
                                <img class="about_ship-2" src="static/img/general/ship-2.png" alt="">
                                <img class="about_ship-3" src="static/img/general/ship-3.png" alt="">
                                <img class="about_ship-4" src="static/img/general/ship-4.png" alt="">
                            </div>
                            <div class="block-2_about-btn_wrap">
                                <a class="btn-more" href="about.html#about">
                                    <span class="btn_border-text">read more</span>
                                    <span class="btn_border-angle top-left"></span>
                                    <span class="btn_border-angle top-right"></span>
                                    <span class="btn_border-angle bottom-right"></span>
                                    <span class="btn_border-angle bottom-left"></span>
                                </a>
                            </div>
                        </div>
                        <div class="block-2_about-right-column">
                            <p>We, at 0xGames are the insiders of the expanding landscape of video gaming.</p>
                            <p>When making games, we especially focus on the blockchain-enabled features as they unbound new dimensions in gameplay mechanics.</p>
                            <p>As EOS Block Producer, we will leverage our extensive expertise of working with dApps and communities around them to establish versatile technical infrastructure and take active part in the evolution of EOS goveranance layer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-3">
            <div class="container block-3_eosio">
                <h2 id="eosio" class="subtitle-index center eosio-ttile">EOS</h2>
                <div class="subtitle-index-center">
                    <p>We believe that EOS has both, sufficient fundamentals to become the new paradigm for bringing dApps into everyday life, and strong potential for sustainable future protocol evolution. </p>
                </div>
            </div>
            <div class="block-3-about">
                <div class="container">
                    <div class="block-3-about-columns">
                        <div class="block-3-about-column">
                            <h2 id="xeosio" class="subtitle-index">0xGAMES + EOS</h2>
                            <p>We at 0xGames strongly believe that two preconditions must be met in order for DLT to prosper and thrive.</p>
                        </div>
                        <p>The first one is a platform sufficiently scalable and flexible to accommodate the emerging and yet unknown demands of the new era. EOS is such a platform.</p>
                        <p>The second is a sufficiently strong channel for mass adoption. Gaming is that propagation channel.</p>
                    </div>
                    <div class="block-3-about-bottom">
                        <p>The intersection between the two is where the fire of mass adoption ignites. And this, is where we stand.</p>
                        <a class="btn-more" href="about.html#xeosio">
                            <span class="btn_border-text">read more</span>
                            <span class="btn_border-angle top-left"></span>
                            <span class="btn_border-angle top-right"></span>
                            <span class="btn_border-angle bottom-right"></span>
                            <span class="btn_border-angle bottom-left"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ship_wrap" id="ship-scene">
        <img class="layer" data-depth="0.8" src="static/img/general/ship.png" alt="">
    </div>
    <img src="static/img/general/stone.png" alt="bg" class="top-side-stone">
</div>
<div id="bottom-side" class="bottom-side-bg-wrapper">
    <img src="static/img/general/stone.png" alt="bg" class="bottom-side-stone">
    <img src="static/img/general/bg-bottom-side.jpg" alt="bg" class="bg-bottom-side">
    <div class="block_wrapper-bottom">
        <div class="block-4">
            <div class="container">
                <h2 id="values" class="subtitle-index underline unactive-block">Our Values</h2>
                <div class="block-4-values">
                    <div class="block-4-value-single unactive-block">
                        <div class="block-4-value-single-width">
                            <div class="block-4-value-single-image-wrapper">
                                {{Icon iconName='fairness' className=''}}
                            </div>
                            <div class="block-4-value-single-text">Fairness and Transparency</div>
                        </div>
                    </div>
                    <div class="block-4-value-single unactive-block">
                        <div class="block-4-value-single-width">
                            <div class="block-4-value-single-image-wrapper">
                                {{Icon iconName='open' className=''}}
                            </div>
                            <div class="block-4-value-single-text">Open Source Paradigm</div>
                        </div>
                    </div>
                    <div class="block-4-value-single unactive-block">
                        <div class="block-4-value-single-width">
                            <div class="block-4-value-single-image-wrapper">
                                {{Icon iconName='dedication' className=''}}
                            </div>
                            <div class="block-4-value-single-text">Dedication to Quality</div>
                        </div>
                    </div>
                    <div class="block-4-value-single unactive-block">
                        <div class="block-4-value-single-width">
                            <div class="block-4-value-single-image-wrapper">
                                {{Icon iconName='product' className=''}}
                            </div>
                            <div class="block-4-value-single-text">Product Orientation</div>
                        </div>
                    </div>
                </div>
                <a class="btn-more unactive-block" href="about.html#values">
                    <span class="btn_border-text">read more</span>
                    <span class="btn_border-angle top-left"></span>
                    <span class="btn_border-angle top-right"></span>
                    <span class="btn_border-angle bottom-right"></span>
                    <span class="btn_border-angle bottom-left"></span>
                </a>
            </div>
        </div>
        <div class="block-4-team">
            <div class="container">
                <div class="block-4-team-columns">
                    <h2 id="team" class="subtitle-index gradient-to-right unactive-block">Our team</h2>
                    <div class="block-4-team-column">
                        <p class="justify-text unactive-block">Our intention to carry the industry of digital currencies one step further into the future lasts already for almost an <span>entire decade.</span></p>
                        <p class="justify-text unactive-block">This makes up a combined century of <span>liberty ideals-powered inspiration</span> that we have consistently channeled into the Fintech world.</p>
                        <div class="unactive-block">
                            <a class="btn-more" href="about.html#team">
                                <span class="btn_border-text">read more</span>
                                <span class="btn_border-angle top-left"></span>
                                <span class="btn_border-angle top-right"></span>
                                <span class="btn_border-angle bottom-right"></span>
                                <span class="btn_border-angle bottom-left"></span>
                            </a>
                        </div>
                        <div class="block-4-team-img unactive-block">
                            <img src="static/img/general/team.png" alt="">
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
    {{> footer/footer}}
</div>
