<header class="header">
    <div class="header_container header_content">
        <div class="header_bg-left">
            <a class="header_logo" href="index.html">
              {{Icon iconName='logo' className='logo-icon'}}
            </a>
        </div>
        <div class="header_bg-left-block"></div>
        <div class="header_bg-middle">
            <div class="nav">
                <a href="about.html" class="nav_item anchor">About us</a>
                <a href="0xproxy.html" class="nav_item anchor">0xProxy</a>
                <a href="0xbp.html" class="nav_item anchor">0xBP</a>
                <a href="games.html" class="nav_item anchor">0xGames</a>
            </div>
        </div>
        <div class="header_bg-right-block"></div>
        <div class="header_bg-right">
            <div class="burger open-nav">
                <div class="burger-line"></div>
            </div>
        </div>
    </div>
    <div class="header_bg-wrap">
        <div class="header_bg-overlay_white"></div>
        <div class="header_bg-overlay_black"></div>
        <div class="header_subnav">
            <div class="header_subnav-text">
                <a class="header_subnav-link colored navigation" href="about.html#about">About us</a>
                <a class="header_subnav-link navigation" href="about.html#eosio">EOS</a>
                <a class="header_subnav-link navigation" href="about.html#xeosio">0xEOS</a>
                <a class="header_subnav-link navigation" href="about.html#values">0xValues</a>
                <a class="header_subnav-link navigation" href="about.html#team">0xGames Team</a>
            </div>
            <div class="header_subnav-text">
                <a class="header_subnav-link colored" href="0xproxy.html">0xProxy</a>
                <a class="header_subnav-link" href="0xproxy.html#why">Why 0xProxy?</a>
            </div>
            <div class="header_subnav-text">
                <a class="header_subnav-link colored" href="0xbp.html">0xBlockProducer</a>
                <a class="header_subnav-link" href="0xbp.html#why">Why 0xBP</a>
                <div class="sub-link_wrap open-sub-link">
                    <a class="header_subnav-link" href="0xbp.html#transparency">Transparency</a>
                    <span class="sub-link_container">
                        <a class="header_subnav-link sub-link" href="/conduct.html">Code of Conduct</a>
                        <a class="header_subnav-link sub-link" href="/agreement.html">Regproducer Agreement</a>
                        <a class="header_subnav-link sub-link" href="/ship.html">Ownership Disclosure</a>
                        <a class="header_subnav-link sub-link" href="/bp.json" target="_blank">BP.JSON</a>   
                    </span>
                </div>
                <a class="header_subnav-link" href="0xbp.html#technology">Technology</a>
                <a class="header_subnav-link" href="0xbp.html#roadmap">Scaling Strategy</a>
            </div>
            <div class="header_subnav-text">  
            </div>
        </div>
        <div class="header_bg">
            <div class="header_container">
                <div class="header_bg-left-out"></div>
                <div class="header_bg-left">
                    <div class="header_bg-left_icon">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="160px" height="30px" viewBox="0 0 160 30" style="enable-background:new 0 0 160 30;" xml:space="preserve">
                            <linearGradient id="svg_gradient" gradientUnits="userSpaceOnUse" x1="80.2" y1="-321.063" x2="80.2" y2="-290.063" gradientTransform="matrix(1 0 0 -1 0 -290.063)">
                                <stop offset="0" style="stop-color:#000;stop-opacity:0.91" />
                                <stop offset="1" style="stop-color:#000;stop-opacity:0.9" />
                            </linearGradient>
                            <polygon class="svg_gradient" points="0,0 0,1 29,30 130,30 160,1 160,0" />
                            <polygon class="svg_bg" points="0,0 0,1 29,30 130,30 160,1 160,0" />
                            <polygon class="svg_border" points="160,0 130,29 29,29 0,0 0,1 29,30 130,30 160,1" />
                        </svg>
                    </div>
                </div>
                <div class="header_bg-left-block"></div>
                <div class="header_bg-middle">
                    <div class="header_bg-middle_icon">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="650px" height="30px" viewBox="0 0 650 30" style="enable-background:new 0 0 650 30;" xml:space="preserve">
                            <polygon class="svg_gradient" points="0,0 30,30 620,30 650,0 " />
                            <polygon class="svg_bg" points="0,0 30,30 620,30 650,0 " />
                            <polygon class="svg_border" points="650,0 620,29 29,29 0,0 0,1 29,30 620,30 650,1" />
                        </svg>
                    </div>
                </div>
                <div class="header_bg-right-block"></div>
                <div class="header_bg-right">
                    <div class="header_bg-right_icon">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="160px" height="30px" viewBox="0 0 160 30" style="enable-background:new 0 0 160 30;" xml:space="preserve">
                            <polygon class="svg_gradient" points="0,0 30,30 130,30 160,0" />
                            <polygon class="svg_bg" points="0,0 30,30 130,30 160,0" />
                            <polyline class="svg_border" points="0,1 30,30 65,30 65,29 30,29 0,0" />
                            <polyline class="svg_border" points="160,0 130,29 95,29 95,30 130,30 160,1" />
                        </svg>
                    </div>
                    <div class="header_bg-right_arrow open-nav"></div>
                </div>
                <div class="header_bg-right-out"></div>
            </div>
        </div>
    </div>
</header>
