<div id="preloader">
    <div class="preloader_icon" style="background-image: url(/preload.gif);"></div>
    <div class="preloader_percent">
        <div class="preloader_line">
            <div id="preloader_line" style="" class="preloader_line-current"></div>
        </div>
        <div id="preloader_text" class="preloader_text">0%</div>
    </div>
</div>
<input id="slide-page" type="hidden" value="proxy">
<div class="proxy_block-wrap">
    <div class="proxy_block-1_wrap">
        <video class="proxy_video" autoplay="autoplay" class="video" muted loop data-autoplay>
            <source src="static/img/general/proxy.mp4" type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2">
        </video>
        <div class="scroll-btn">
            <span>scroll down</span>
            <span class="btn_border-angle top-left"></span>
            <span class="btn_border-angle top-right"></span>
            <span class="btn_border-angle bottom-right"></span>
            <span class="btn_border-angle bottom-left"></span>
            <div class="scroll-btn_arrow-wrap">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18.5 40.2" style="enable-background:new 0 0 18.5 40.2;" xml:space="preserve">
                    <polygon class="scroll-btn_arrow" points="9.2,13.2 18.5,1.8 18.5,0.1 9.2,11.4 0,0 0,1.8" />
                    <polygon class="scroll-btn_arrow" points="9.2,13.2 18.5,1.8 18.5,0.1 9.2,11.4 0,0 0,1.8" />
                    <polygon class="scroll-btn_arrow" points="9.2,13.2 18.5,1.8 18.5,0.1 9.2,11.4 0,0 0,1.8    " />
                    <polygon class="scroll-btn_arrow" points="9.2,13.2 18.5,1.8 18.5,0.1 9.2,11.4 0,0 0,1.8" />
                    <polygon class="scroll-btn_arrow" points="9.2,13.2 18.5,1.8 18.5,0.1 9.2,11.4 0,0 0,1.8" />
                </svg>
            </div>
        </div>
    </div>
    <div class="proxy_block-2_wrap">
        <div class="proxy_block-2_planet">
            
        </div>
        <div class="proxy_block-2_content">
            <div id="why" class="proxy_block-2_container">
                <div class="proxy_block-2_left">
                    <div class="proxy_main-btn">
                        <a class="proxy_main-btn_link" href="proxy.html">
                            <span>How to<br>0xProxy</span>
                        </a>
                        <video id="video" autoplay="autoplay" class="video" muted loop data-autoplay>
                            <source src="static/img/general/btn-bg.mp4" type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2">
                        </video>
                    </div>
                </div>
                <div  class="proxy_block-2_right">
                    <div class="proxy_title">
                        <h2 class="proxy_title-text">Why 0<span class="small-x">x</span>Proxy?</h2>
                    </div>
                    <div class="proxy_double-text_wrap">
                        <div class="proxy_double-text_left">
                            <div class="proxy_line-wrap">
                                <div class="proxy_line-text">We will use our skills and expertise to objectively </div>
                            </div>
                            <div class="proxy_line-wrap">
                                <div class="proxy_line-text">assess projects, contributions, vision and competence </div>
                            </div>
                            <div class="proxy_line-wrap">
                                <div class="proxy_line-text">of other BPs and use the votes delegated to us through </div>
                            </div>
                            <div class="proxy_line-wrap">
                                <div class="proxy_line-text">our 0xProxy initiative to vote for those who in our view </div>
                            </div>
                            <div class="proxy_line-wrap">
                                <div class="proxy_line-text">pursue the undertakings that are most beneficial to the </div>
                            </div>
                            <div class="proxy_line-wrap">
                                <div class="proxy_line-text">EOS ecosystem, as a whole.</div>
                            </div>
                        </div>
                        <div class="proxy_double-text_right">
                            <div class="proxy_line-wrap">
                                <div class="proxy_line-text">We will provide detailed</div>
                            </div>
                            <div class="proxy_line-wrap">
                                <div class="proxy_line-text">reports elaborating upon our</div>
                            </div>
                            <div class="proxy_line-wrap">
                                <div class="proxy_line-text">vision and the rationale behind</div>
                            </div>
                            <div class="proxy_line-wrap">
                                <div class="proxy_line-text">our choices. All the allocations</div>
                            </div>
                            <div class="proxy_line-wrap">
                                <div class="proxy_line-text">are public and transparent and</div>
                            </div>
                            <div class="proxy_line-wrap">
                                <div class="proxy_line-text">can be examined in any EOS</div>
                            </div>
                            <div class="proxy_line-wrap">
                                <div class="proxy_line-text">block explorer. </div>
                            </div>
                        </div>
                    </div>
                    <div class="proxy_single-text">
                        <div class="proxy_line-wrap">
                            <div class="proxy_line-text">We hereby commit to be unbiased in our choices</div>
                        </div>
                        <div class="proxy_line-wrap">
                            <div class="proxy_line-text">and use the proxied votes for the benefit of the</div>
                        </div>
                        <div class="proxy_line-wrap">
                            <div class="proxy_line-text">ecosystem.</div>
                        </div>
                    </div>
                </div>
            </div>
            {{> footer/footer}}
        </div>
    </div>
</div>
