.proxyx0-page {
    position: relative;

    width: 100%;
    height: 100vh;

    .footer-index {
        position: relative;
        // bottom: 0;
        // left: 0;

        width: 100%;

        transition: .4s ease-in;
        transform: translateY(100%);

        opacity: 0;
        background: none;

        &:after {
            position: absolute;
            z-index: -1;
            bottom: 0;
            left: 0;

            display: none;

            width: 102%;
            height: 83px;

            content: '';

            background-color: rgba(0, 0, 0, .27);

            @media (max-width: 1023px) {
                display: block;
            }

            @media (max-width: 876px) {
                height: calc(100% + 49px);

                background-color: rgba(0, 0, 0, .8);
            }
        }

        @media (max-width: 1023px) {
            position: static;

            margin-top: 100px;

            transform: translateY(0);

            opacity: 1;
        }

        @media (max-width: 876px) {
            #bg_footer {
                display: none;
            }

            #light_logo_footer {
                display: none;
            }

            .footer-line {
                display: none;
            }

            .logo-icon-footer {
                top: 25px;
            }
        }
    }

    #bg_footer {
        fill: url(#bg_footer_2_);
    }

    #light_logo_footer {
        opacity: .4;

        fill: url(#light_logo_footer_2_);
    }

    @media (max-width: 1023px) {
        height: auto;
    }
}

.proxy_block-wrap {
    position: relative;

    width: 100%;
    height: 100%;

    background-color: #000;

    @media (max-width: 1023px) {
        height: auto;

        overflow: hidden;

        &.bp_block-wrap {

        }
    }
}

.proxy_block-1_wrap {
    position: relative;
    z-index: 0;

    width: 100%;
    height: 100%;

    transition: .4s ease-in-out;
    transform-origin: center;

    opacity: 1;
    background-image: url(../img/general/proxy_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (max-width: 1023px) {
        height: 100vh;
    }

    &.bp-page {
        background-image: url(../img/general/bp_bg.jpg);

    }

    &.animate {
        transform: scale(.9);

        opacity: 0;
    }
}

.proxy_video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.scroll-btn {
    font-size: 18px;
    line-height: 18px;

    position: absolute;
    z-index: 10;
    bottom: 10%;
    left: 50%;

    padding: 18px 16px;

    cursor: pointer;
    transition: .4s;
    transform: translateX(-50%);
    letter-spacing: 6px;
    text-transform: uppercase;
    white-space: nowrap;

    color: #ebffff;

    @media (max-width: 1023px) {
        font-size: 16px;
        line-height: 16px;
    }

    & .btn_border-angle {
        border-color: #fff;
    }

    &:hover {
        & .btn_border-angle {
            width: 55%;
            height: 55%;
        }
    }

    &:active {
        background-color: rgba(255, 255, 255, .2);
    }
}

.scroll-btn_arrow-wrap {
    position: absolute;
    bottom: -20px;
    left: 50%;

    width: 15px;
    height: 3px;

    svg {
        overflow: visible;
    }
}

.scroll-btn_arrow {
    animation: animate-arrow-1 1.6s ease-in-out infinite;

    opacity: 1;

    fill: #ebffff;

    &:nth-child(2) {
        animation: animate-arrow-2 1.6s ease-in-out infinite .2s;

        opacity: .8;
    }

    &:nth-child(3) {
        animation: animate-arrow-3 1.6s ease-in-out infinite .4s;

        opacity: .6;
    }

    &:nth-child(4) {
        animation: animate-arrow-4 1.6s ease-in-out infinite .6s;

        opacity: .4;
    }

    &:nth-child(5) {
        animation: animate-arrow-5 1.6s ease-in-out infinite .8s;

        opacity: .2;
    }
}

@keyframes animate-arrow-1 {
    0% {
        transform: translateY(0px);

        opacity: 0;
    }

    70%,
    100% {
        transform: translateY(25px);

        opacity: 1;
    }
}

@keyframes animate-arrow-2 {
    0% {
        transform: translateY(0px);

        opacity: 0;
    }

    70%,
    100% {
        transform: translateY(25px);

        opacity: .8;
    }
}

@keyframes animate-arrow-3 {
    0% {
        transform: translateY(0px);

        opacity: 0;
    }

    70%,
    100% {
        transform: translateY(25px);

        opacity: .6;
    }
}

@keyframes animate-arrow-4 {
    0% {
        transform: translateY(0px);

        opacity: 0;
    }

    70%,
    100% {
        transform: translateY(25px);

        opacity: .4;
    }
}

@keyframes animate-arrow-5 {
    0% {
        transform: translateY(0px);

        opacity: 0;
    }

    70%,
    100% {
        transform: translateY(25px);

        opacity: .2;
    }
}

.proxy_block-2_planet {
    position: fixed;
    z-index: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    transition: 1s ease-in-out;
    transform: translateX(-50%);

    opacity: 0;
    background-image: url(../img/general/proxy-planet.png);
    background-repeat: no-repeat;
    background-size: cover;

    filter: grayscale(1);

    @media (max-width: 1023px) {
        position: static;
    }

    &.animate {
        transform: translateX(0);

        opacity: 1;

        filter: grayscale(0);
    }
}


.proxy_block-2_wrap {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    pointer-events: none;

    @media (max-width: 1023px) {
        position: relative;

        height: auto;

        pointer-events: auto;
        background-image: url(../img/general/proxy_bg-960.jpg);
        background-position: bottom left;
        background-repeat: no-repeat;
        &.bp-page {
            background: none;
        }
    }

    &.animate {
        pointer-events: auto;

        & .proxy_block-2_content {
            overflow-x: hidden;
            overflow-y: scroll;

            padding-right: 0;
        }

        & .footer-index {
            transform: translateY(0);

            opacity: 1;
        }
    }
}



.proxy_block-2_content {
    position: relative;
    z-index: 5;

    overflow: hidden;

    height: 100%;
    padding-right: 17px;

    @media (max-width: 1023px) {
        overflow: visible;

        height: auto;
        padding-right: 0;
    }
}

.proxy_block-2_container {
    display: flex;

    // max-width: 1540px;
    height: 960px;
    margin-right: auto;
    margin-left: auto;
    // padding-right: 50px;
    // padding-left: 50px;
    padding-left: 9.5%;
    padding-right: 9.5%;

    justify-content: space-between;
    align-items: center;

    @media (max-width: 1319px) {
        flex-direction: column-reverse;

        height: 1180px;

        align-items: flex-end;
        justify-content: flex-end;
    }

    @media (max-width: 1023px) {
        height: auto;
        padding-right: 40px;
        padding-left: 40px;
    }

    @media (max-width: 620px) {
        padding-right: 15px;
        padding-left: 15px;
    }

    &.bp-page {
        padding-left: 0;
        padding-right: 0;
        
        flex-direction: column;
        position: relative;
        height: auto;

        justify-content: flex-start;
        opacity: 0;
        transition: .6s ease;
        &.animate {
            opacity: 1;
        }
        @media (max-width: 1023px) {
            height: auto;
            padding-top: 0px;
            opacity: 1;
        }
    }
}

.proxy_block-2_left {
    display: flex;

    width: 50%;

    justify-content: flex-end;
    align-items: center;

    @media (max-width: 1569px) {
        width: 45%;
    }

    @media (max-width: 1439px) {
        width: 40%;
    }

    @media (max-width: 1023px) {
        width: 100%;
    }
}

.proxy_block-2_right {
    width: 50%;
    padding-top: 240px;
    padding-bottom: 240px;

    @media (max-width: 1569px) {
        width: 55%;
    }

    @media (max-width: 1439px) {
        width: 60%;
    }

    @media (max-width: 1319px) {
        padding-bottom: 60px;
    }

    @media (max-width: 1023px) {
        width: 100%;
        padding-top: 60px;
    }
}

.proxy_title {
    position: relative;
    z-index: 1;
    overflow: hidden;

    height: 70px;

    @media (max-width: 1023px) {
        height: auto;
    }
}

.proxy_title-text {
    font-size: 70px;
    font-weight: 300;
    line-height: 70px;

    height: 100%;

    transition: transform .5s ease, opacity .3s ease;
    transform: translateY(100%);

    opacity: 0;
    color: #fff;

    @media (max-width: 1023px) {
        transform: translateY(0);

        opacity: 1;
    }

    @media (max-width: 620px) {
        font-size: 35px;
        line-height: 35px;
    }

    &.animate {
        transform: translateY(0);

        opacity: 1;
    }
}

.proxy_double-text_wrap {
    display: flex;

    margin-top: 35px;

    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: 767px) {
        flex-wrap: wrap;
    }
}

.proxy_double-text_left {
    width: 430px;

    @media (max-width: 1023px) {
        width: 60%;
    }

    @media (max-width: 767px) {
        width: 100%;
    }
}

.proxy_double-text_right {
    width: 260px;

    @media (max-width: 1023px) {
        display: inline;

        width: 40%;
        height: auto;
        padding-left: 40px;
    }

    @media (max-width: 767px) {
        width: 100%;
        margin-top: 20px;
        padding-left: 0;
    }
}


.proxy_line-wrap {
    overflow: hidden;

    height: 28px;

    &.animate {
        .proxy_line-text {
            transform: translateY(0);

            opacity: 1;
        }
    }

    @media (max-width: 1023px) {
        display: inline;

        height: auto;
    }
}

.proxy_line-text {
    font-size: 18px;
    line-height: 28px;

    transition: transform .5s ease, opacity .3s ease;
    transform: translateY(100%);

    opacity: 0;
    color: #fff;

    @media (max-width: 1569px) {
        font-size: 14px;
    }

    @media (max-width: 1023px) {
        font-size: 18px;

        display: inline;

        transform: translateY(0);

        opacity: 1;
    }

    @media (max-width: 620px) {
        font-size: 15px;
    }
}

.proxy_single-text {
    margin-top: 35px;

    .proxy_line-wrap {
        height: 46px;
    }

    .proxy_line-text {
        font-size: 32px;
        line-height: 46px;

        @media (max-width: 1569px) {
            font-size: 28px;
        }

        @media (max-width: 1023px) {
            font-size: 32px;
        }

        @media (max-width: 620px) {
            font-size: 15px;
            line-height: 28px;
        }
    }
}


.proxy_main-btn {
    position: relative;

    overflow: hidden;

    width: 230px;
    height: 230px;
    margin-right: 75px;

    transition: .5s ease;

    opacity: 0;
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,0.5);

    @media (max-width: 1023px) {
        opacity: 1;
    }

    @media (max-width: 620px) {
        margin-right: 0;
    }

    &.animate {
        opacity: 1;
    }

    a {
        font-size: 18px;
        line-height: 28px;

        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;

        display: block;

        width: 100%;
        height: 100%;
        padding-top: 85px;

        text-align: center;
        letter-spacing: 6px;
        text-transform: uppercase;

        color: #65fffd;

        @media (max-width: 1023px) {
            background-image: url(../img/general/proxy-btn.png);
        }

        span {
            position: relative;
            z-index: 5;
        }

        &:after {
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            content: '';
            animation: proxy-btn-light 3s infinite;

            border-radius: 50%;
            background-image: radial-gradient(rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0.4) 100%);

            @media (max-width: 1023px) {
                display: none;
            }
        }
    }

    video {
        position: relative;
        z-index: 0;

        display: block;
        overflow: hidden;

        width: 100%;
        height: 100%;

        border-radius: 50%;

        object-fit: cover;

        @media (max-width: 1023px) {
            display: none;
        }
    }
}

@keyframes proxy-btn-light {
    0% {
        opacity: 1;
    }

    28% {
        opacity: 0.4;
    }

    72% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}
