<div class="text-page-title-wrapper">
    <h1>0xProxy</h1>
</div>
<div class="container">
    <div class="text-page-content text-page_container">
        <h2 class="text-page_title with-line">How to set someone as your proxy?</h2>
        <h3 class="text-page_title-sub">Using cleos:</h3>
        <p>There is a wide variety of ways that can be employed in order to do so. The generic one offered in the core implementation of EOS as of today, is through cleos.</p>
        <p class="small-text">To set someone as your proxy using cleos you have to run the following command:</p>
        <div class="code-text_wrap">
            <div class="code-text_header">
                <div class="lang-name copy-btn" data-target="#first-code">Copy</div>
            </div>
            <div class="code-text_body" id="first-code"><span id="first-code" class="red">$</span> cleos system voteproducer proxy accountnumX proxyvoterY</div>
        </div>
        <p>In case if one wishes to delegate one’s stake to 0xEOS proxy, <span class="pre-text">{accountnumX}</span> should be substituted with his or her account, while <span class="pre-text">{proxyvoterY}</span> should be replaced with <span class="pre-text">{eoshorizonio}</span>.</p>
        <h3 class="text-page_title-sub">Using eostoolkit.io and Scatter:</h3>
        <p>Before selecting someone as your proxy using the <a target="_blank" href="#">EOSToolKit</a> voter you need to install Scatter. You can choose either Google Chrome Extension Scatter or <a target="_blank" href="#">Desktop Scatter</a> (make sure you install the latest version).</p>
        <p class="small-text with-line">Step I.</p>
        <p class="">Install Scatter and set it up (prepare your private key and account name).</p>        
        <div class="text-page_img-wrap">
            <a class="lightbox-link" href="static/img/general/proxy_1.jpg" data-lightbox="image-1">
                <img src="static/img/general/proxy_1-320.png"alt="">
            </a>
            <img class="lightbox-img" src="static/img/general/proxy_1.jpg"alt="">
        </div>
        <p class="small-text with-line">Step II.</p>
        <p class="">Go to <a target="_blank" href="https://eostoolkit.io/">https://eostoolkit.io/</a> and press “Attach Account”.</p>
        <div class="text-page_img-wrap">
            <a class="lightbox-link" href="static/img/general/proxy_2.jpg" data-lightbox="image-2">
                <img src="static/img/general/proxy_2-320.png"alt="">
            </a>
            <img class="lightbox-img" src="static/img/general/proxy_2.jpg" alt="">
        </div>
        <p class="">Then you have to go back to scatter.</p>
        <div class="text-page_img-wrap">
            <a class="lightbox-link" href="static/img/general/proxy_3.jpg" data-lightbox="image-3">
                <img src="static/img/general/proxy_3-320.png"alt="">
            </a>
            <img class="lightbox-img" src="static/img/general/proxy_3.jpg" alt="">
        </div>
        <p class="">You will recognize that you can interact with EOSToolKit once both Read, Write, and Account are checked.</p>
        <div class="text-page_img-wrap">
            <a class="lightbox-link" href="static/img/general/proxy_4.jpg" data-lightbox="image-4">
                <img src="static/img/general/proxy_4-320.png"alt="">
            </a>
            <img class="lightbox-img" src="static/img/general/proxy_4.jpg" alt="">
        </div>
        <p class="small-text with-line">Step III.</p>
        <p class="">Go to the bottom of the page and find “Manage Account” and select “Set Proxy”. In case you wish to select 0xEOS as your proxy, replace proxyvoterY with eoshorizonio and accountnumX with your EOS account name.
        </p>
        <div class="text-page_img-wrap">
            <a class="lightbox-link" href="static/img/general/proxy_5.jpg" data-lightbox="image-5">
                <img src="static/img/general/proxy_5-320.png"alt="">
            </a>
            <img class="lightbox-img" src="static/img/general/proxy_5.jpg" alt="">
        </div>
        <p class="">Click “Set Proxy”.</p>
    </div>
</div>
