<div class="text-page-title-wrapper">
    <h1>Ownership Structure Disclosure</h1>
</div>
<div class="container">
    <div class="text-page-content text-page_container">
        <p>While the core team members of ØxGames can be reached at any time by the public, we know that the privacy and safety of the shareholders comes first. We believe that, in the cryptocurrency space, privacy is among the most valuable right in order to ensure that individual liberties are safeguarded and digital and physical threats are prevented. Therefore, to protect these individual rights, we will not disclose the entire ownership structure of ØxGames.</p>
        <p>In our opinion, the deeds and intents of the core team is what truly represents the nature of the ownership structure, as those acts are to a significant extent shaped by the decisions of the shareholders. As noted earlier, all monetary gains from the block production activity will be channeled towards DApps development, devtools, and support for young and aspiring firms. All of this with utmost transparency, keeping in mind our values, and by contributing to scalability efforts, security enhancement, and decentralized governance. All of these efforts will be made with the single aim of contributing to the wellbeing of the EOS community to the greatest possible extent.</p>
        <p>Finally, congruence of views between the shareholders and the team, and thereby propagation of the core beliefs, is ensured by providing remuneration of the latter in the form of ownership in ØxGames. This ownership is at the moment large enough to be deemed major.</p>
    </div>
</div>
