<div class="text-page-title-wrapper">
        <h1>0xGames</h1>
    </div>
    
    <div class="container">
        <div class="text-page-content">
            <p>As insiders who understand the inner workings of the gaming space, we are confident that video games can become one of the major propagation channels for distributed ledger technologies to become a part of everyday live.</p>
            <p>Indeed, video games and the gaming space in general is expanding at a truly astonishing pace, growing over 96% since 2012 generating revenue of over $138 billion in 2017 alone. There are over 2 billion gamers in the world and since early 80s this number keeps on exhibiting exponential YoY (Year-over-Year) growth dynamics.</p>
            <p>Also, just recently the space of virtual currencies was comparable in its emptiness to the vast nothingness of space itself. Only a decade later it is among the most expanding markets exhibiting massive growth rates and market capitalization.</p>
            <p>Gaming and Virtual currencies - the intersection between these two emerging and yet at first sight weakly connected worlds is where we stand. We postulate as our vision that the fragility of the bond between Video gaming and DLTs is an illusion. The outcry of the coming boom when these two worlds unite is echoing louder day by day. We have been preparing to ride this wave at least since the inception of ØxGames, but up until recently there has been no technological infrastructure sufficiently potent to disrupt video gaming. Just until the early June, 2018 when EOS mainnet finally launched. 
                </p>
        </div>
    </div>