<div class="text-page-title-wrapper">
    <h1>Regproducer agreement</h1>
</div>
<div class="container">
    <div class="text-page-content text-page_container">
        <h2 class="text-page_title with-line">The intent of the regproducer action is to register an account as a BP candidate.</h2>
        <ol>
            <li>I, <b>zeroxeosnode</b>, hereby nominate myself for consideration as an elected block producer.</li>
            <li>If, I, <b>zeroxeosnode</b>, am selected to produce blocks by the eosio contract, I will sign blocks with <b>zeroxeosnode</b> block producer key and I, hereby attest that I will keep this key secret and secure.</li>
            <li>If, I, <b>zeroxeosnode</b>, am unable to perform obligations under this contract I will resign my position by re-submitting this contract with the null producer key.</li>
            <li>I, <b>zeroxeosnode</b>, acknowledge that a block is 'objectively valid' if it conforms to the deterministic blockchain rules in force at the time of its creation, and is 'objectively invalid' if it fails to conform to those rules.</li>
            <li>I, <b>zeroxeosnode</b>, hereby agree to only use <b>zeroxeosnode</b> block producer key to sign messages under the following scenarios: proposing an objectively valid block at the time appointed by the block scheduling algorithm pre-confirming a block produced by another producer in the schedule, when, I find said block objectively valid confirming a block for which cointelegrph has received 2/3 pre-confirmation messages from other producers.</li>
            <li>I, <b>zeroxeosnode</b>, hereby accept liability for any and all provable damages that result from me: a) signing two different block proposals with the same timestamp with <b>zeroxeosnode</b> block producer key; b) signing two different block proposals with the same block number with <b>zeroxeosnode</b> block producer key; c) signing any block proposal which builds off of an objectively invalid block; d) signing a pre-confirmation for an objectively invalid block; e) signing a confirmation for a block for which I do not possess pre-confirmation messages from 2/3 other producers.</li>
            <li>I, <b>zeroxeosnode</b>, hereby, agree that double-signing for a timestamp or block number in concert with 2 or more other producers shall automatically be deemed malicious and subject to a fine equal to the past year of compensation received and immediate disqualification from being a producer, and other damages. An exception may be made if I, <b>zeroxeosnode</b>, can demonstrate that the double-signing occured due to a bug in the reference software; the burden of proof is on me, <b>zeroxeosnode</b>.</li>
            <li>I, <b>zeroxeosnode</b>, hereby, agree not to interfere with the producer election process. </li>
            <li>I, <b>zeroxeosnode</b>, hereby, agree to process all producer election transactions that occur in blocks I, <b>zeroxeosnode</b>, create, to sign all objectively valid blocks I create that contain election transactions, and to sign all pre-confirmations and confirmations necessary to facilitate transfer of control to the next set of producers as determined by the system contract.</li>
            <li>I, <b>zeroxeosnode</b>, hereby, acknowledge that 2/3 other elected producers may vote to disqualify me, <b>zeroxeosnode</b>, in the event that</li>
            <li>I, <b>zeroxeosnode</b>, am unable to produce blocks or am unable to be reached, according to criteria agreed to among producers.</li>
            <li>If I, <b>zeroxeosnode</b>, qualify for and choose to collect compensation due to votes received, I, <b>zeroxeosnode</b>, will provide a public endpoint allowing at least 100 peers to maintain synchronization with the blockchain and/or submit transactions to be included. I, <b>zeroxeosnode</b>, shall maintain at least 1 validating node with full state and signature checking and shall report any objectively invalid blocks produced by the active block producers. Reporting shall be via a method to be agreed to among producers, said method and reports to be made public.</li>
            <li>The community agrees to allow me, <b>zeroxeosnode</b>, to authenticate peers as necessary to prevent abuse and denial of service attacks; however I, <b>zeroxeosnode</b>, agree not to discriminate against non-abusive peers.</li>
            <li>I, <b>zeroxeosnode</b>, agree to process transactions on a FIFO best-effort basis and to honestly bill transactions for measured execution time.</li>
            <li>I, <b>zeroxeosnode</b>, agree not to manipulate the contents of blocks in order to derive profit from: the order in which transactions are included the hash of the block that is produced</li>
            <li>I, <b>zeroxeosnode</b>, hereby agree to disclose and attest under penalty of perjury all ultimate beneficial owners of my company who own more than 10% and all direct shareholders.</li>
            <li>I, <b>zeroxeosnode</b>, hereby agree to cooperate with other block producers to carry out our respective and mutual obligations under this agreement, including but not limited to maintaining network stability and a valid blockchain.</li>
            <li>I, <b>zeroxeosnode</b>, agree to maintain a website hosted at https://zeroxeosnode.io/ which contains up-to-date information on all disclosures required by this contract.</li>
            <li>I, <b>zeroxeosnode</b>, agree to set Amsterdam, Netherlands such that, I, <b>zeroxeosnode</b>, am scheduled with minimal latency between my previous and the next peer.</li>
            <li>I, <b>zeroxeosnode</b>, agree to maintain time synchronization within 10 ms of global atomic clock time, using a method agreed to among producers.</li>
            <li>I, <b>zeroxeosnode</b>, agree not to produce blocks before my scheduled time unless I have received all blocks produced by the prior producer.</li>
            <li>I, <b>zeroxeosnode</b>, agree not to publish blocks with timestamps more than 500 ms in the future unless the prior block is more than 75% full by either CPU or network bandwidth metrics.</li>
            <li>I, <b>zeroxeosnode</b>, agree not to set the RAM supply to more RAM than my nodes contain and to resign if I am unable to provide the RAM approved by 2/3 producers, as shown in the system parameters.</li>
        </ol>
    </div>
</div>
