<div class="text-page-title-wrapper">
        <h1>Our Values</h1>
    </div>

    <div class="container">
        <div class="text-page-content">
            <p>We are committed to use all the fee rewards and other benefits accruing to us from producing EOS blocks for developing and marketing more dApps, thereby further enriching the surrounding ecosystem. Transparent and, hence, verifiably fair or ‘trustless’, this process will be completely aligned with the values that have been, are, and forever will be powering our work, our team and our ideals. These values are:</p>
            <p>fairness to community, transparency to each and every stakeholder,  
                    dedication to burning as much midnight oil as it takes to improve upon the results of yesterday, 
                    open-source code, and beyond anything, 
                    inspiration looming through every detail of products we create.</p>
        </div>
    </div>